---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=edyth%40wisozk.com&legal_entity[business_name]=Beahan%2C+Heaney+and+Bernier&legal_entity[dob][day]=19&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Muriel&legal_entity[last_name]=Schulist&legal_entity[personal_id_number]=756-96-7422&legal_entity[type]=company&legal_entity[address][city]=Schowalterfort&legal_entity[address][country]=US&legal_entity[address][line1]=3764+Schmitt+Plaza&legal_entity[address][postal_code]=91110&legal_entity[address][state]=IA&tos_acceptance[date]=1531998341&tos_acceptance[ip]=143.221.55.228
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpZx4FhzOAsSHUU",
          "object": "account",
          "business_name": "Beahan, Heaney and Bernier",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531998342,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "edyth@wisozk.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpZx4FhzOAsSHUU/external_accounts"
          },
          "keys": {
            "secret": "sk_test_NB70JYcZJW12DKtDplPsCulL",
            "publishable": "pk_test_y0UesxDvmRM9qZEvFE6gN9z2"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Schowalterfort",
              "country": "US",
              "line1": "3764 Schmitt Plaza",
              "line2": null,
              "postal_code": "91110",
              "state": "IA"
            },
            "business_name": "Beahan, Heaney and Bernier",
            "business_tax_id_provided": false,
            "dob": {
              "day": 19,
              "month": 7,
              "year": 1998
            },
            "first_name": "Muriel",
            "last_name": "Schulist",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531998341,
            "ip": "143.221.55.228",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 19 Jul 2018 11:05:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=mathew%40vonrueden.co.uk&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DG69jYVcUKCShc",
          "object": "customer",
          "account_balance": 0,
          "created": 1531998344,
          "currency": null,
          "default_source": "card_1CpZx6I93ruT9p2PNThnmyO5",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "mathew@vonrueden.co.uk",
          "invoice_prefix": "6184F36",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpZx6I93ruT9p2PNThnmyO5",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DG69jYVcUKCShc",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DG69jYVcUKCShc/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DG69jYVcUKCShc/subscriptions"
          }
        }
  recorded_at: Thu, 19 Jul 2018 11:05:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpZx6I93ruT9p2PNThnmyO5&amount=1000&currency=usd&description=Spree+Order+ID%3A+R533916937-PVZZSQZO&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DG69jYVcUKCShc&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpZx8I93ruT9p2P8AwkOM8a",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531998346,
          "currency": "usd",
          "customer": "cus_DG69jYVcUKCShc",
          "description": "Spree Order ID: R533916937-PVZZSQZO",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpZx8I93ruT9p2P8AwkOM8a/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpZx6I93ruT9p2PNThnmyO5",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DG69jYVcUKCShc",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 19 Jul 2018 11:05:47 GMT
recorded_with: VCR 4.0.0
