---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=candace_shanahan%40treutelvon.info&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CxPQq0Tl9zQkYg",
          "object": "customer",
          "account_balance": 0,
          "created": 1527687887,
          "currency": null,
          "default_source": "card_1CXUbb22AWtpwVQmyKRdmKf4",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "candace_shanahan@treutelvon.info",
          "invoice_prefix": "D2DA435",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CXUbb22AWtpwVQmyKRdmKf4",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CxPQq0Tl9zQkYg",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "VJ3cyXmuSrVwCMLx",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CxPQq0Tl9zQkYg/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CxPQq0Tl9zQkYg/subscriptions"
          }
        }
  recorded_at: Wed, 30 May 2018 13:44:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=noel_swaniawski%40durgan.co.uk&legal_entity[business_name]=Kirlin+LLC&legal_entity[dob][day]=30&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Shanna&legal_entity[last_name]=Huel&legal_entity[personal_id_number]=440-38-5103&legal_entity[type]=company&legal_entity[address][city]=Noellastad&legal_entity[address][country]=US&legal_entity[address][line1]=6484+Jenkins+Mall&legal_entity[address][postal_code]=91110&legal_entity[address][state]=MS&tos_acceptance[date]=1527687888&tos_acceptance[ip]=102.218.181.80
    headers:
      Authorization:
      - Bearer sk_test_VCZnDv3GLU15TRvn8i2EsaAN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-10-29'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "You can only create new accounts if you've registered your platform, which you can do at https://dashboard.stripe.com/account/applications/settings.",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 30 May 2018 13:44:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CxPQq0Tl9zQkYg/cards/card_1CXUbb22AWtpwVQmyKRdmKf4
    body:
      encoding: UTF-8
      string: exp_month=12&exp_year=2019&name=Spree+Commerce&address_city=Herndon&address_country=US&address_state=STATE_ABBR_4&address_line1=10+Lovely+Street&address_line2=Northwest&address_zip=35005
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUU[...]
