---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=lieselotte%40howe.ca&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CxPbqggG0rPIxT",
          "object": "customer",
          "account_balance": 0,
          "created": 1527688527,
          "currency": null,
          "default_source": "card_1CXUlvI93ruT9p2POOo4SO05",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "lieselotte@howe.ca",
          "invoice_prefix": "D133BA0",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CXUlvI93ruT9p2POOo4SO05",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CxPbqggG0rPIxT",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CxPbqggG0rPIxT/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CxPbqggG0rPIxT/subscriptions"
          }
        }
  recorded_at: Wed, 30 May 2018 13:55:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=colby%40ullrich.name&legal_entity[business_name]=Cassin%2C+Jerde+and+Homenick&legal_entity[dob][day]=30&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Sandi&legal_entity[last_name]=Hamill&legal_entity[personal_id_number]=020-75-3882&legal_entity[type]=company&legal_entity[address][city]=Klockoberg&legal_entity[address][country]=US&legal_entity[address][line1]=08721+Kathe+Crossing&legal_entity[address][postal_code]=91110&legal_entity[address][state]=KS&tos_acceptance[date]=1527688527&tos_acceptance[ip]=146.75.193.133
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CXUlwG0xzRlmT62",
          "object": "account",
          "business_name": "Cassin, Jerde and Homenick",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527688528,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "colby@ullrich.name",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CXUlwG0xzRlmT62/external_accounts"
          },
          "keys": {
            "secret": "sk_test_SFxnYP686lXRMXqnVZo8lGHc",
            "publishable": "pk_test_VjJWoLuFqCeoMUVrlSYeOyoB"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Klockoberg",
              "country": "US",
              "line1": "08721 Kathe Crossing",
              "line2": null,
              "postal_code": "91110",
              "state": "KS"
            },
            "business_name": "Cassin, Jerde and Homenick",
            "business_tax_id_provided": false,
            "dob": {
              "day": 30,
              "month": 5,
              "year": 1998
            },
            "first_name": "Sandi",
            "last_name": "Hamill",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527688527,
            "ip": "146.75.193.133",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 30 May 2018 13:55:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CxPbqggG0rPIxT/cards/card_1CXUlvI93ruT9p2POOo4SO05
    body:
      encoding: UTF-8
      string: exp_month=12&exp_year=2019&name=Spree+Commerce&address_city=Herndon&address_country=US&address_state=STATE_ABBR_3&address_line1=10+Lovely+Street&address_line2=Northwest&address_zip=35005
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJc[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CXUlvI93ruT9p2POOo4SO05&amount=1999&currency=usd&description=Spree+Order+ID%3A+R488464291-PVP7EZCW&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.78.0&customer=cus_CxPbqggG0rPIxT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CXUm3I93ruT9p2Pm6SEMFPN",
          "object": "charge",
          "amount": 1999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CXUm3I93ruT9p2PneUZ0cRq",
          "captured": true,
          "created": 1527688535,
          "currency": "usd",
          "customer": "cus_CxPbqggG0rPIxT",
          "description": "Spree Order ID: R488464291-PVP7EZCW",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CXUm3I93ruT9p2Pm6SEMFPN/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CXUlvI93ruT9p2POOo4SO05",
            "object": "card",
            "address_city": "Herndon",
            "address_country": "US",
            "address_line1": "10 Lovely Street",
            "address_line1_check": "pass",
            "address_line2": "Northwest",
            "address_state": "STATE_ABBR_3",
            "address_zip": "35005",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CxPbqggG0rPIxT",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "Spree Commerce",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 30 May 2018 13:55:36 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CXUm3I93ruT9p2Pm6SEMFPN&destination=acct_1CXUlwG0xzRlmT62&amount=1911&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CXUm6I93ruT9p2PG0ZnljB7",
          "object": "transfer",
          "amount": 1911,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CXUm6I93ruT9p2PFb8i0Qoa",
          "created": 1527688538,
          "currency": "usd",
          "date": 1527688538,
          "description": null,
          "destination": "acct_1CXUlwG0xzRlmT62",
          "destination_payment": "py_1CXUm6G0xzRlmT62QnzW5Equ",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CXUm6I93ruT9p2PG0ZnljB7/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CXUm3I93ruT9p2Pm6SEMFPN",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CXUm3I93ruT9p2Pm6SEMFPN",
          "type": "stripe_account"
        }
  recorded_at: Wed, 30 May 2018 13:55:39 GMT
[...]
