---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=kiyoko%40nikolaus.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DXlo29CEgX6jDk",
          "object": "customer",
          "account_balance": 0,
          "created": 1536074186,
          "currency": null,
          "default_source": "card_1D6gGUI93ruT9p2PYKDzUCq1",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "kiyoko@nikolaus.us",
          "invoice_prefix": "7EB4542",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1D6gGUI93ruT9p2PYKDzUCq1",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DXlo29CEgX6jDk",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DXlo29CEgX6jDk/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DXlo29CEgX6jDk/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Tue, 04 Sep 2018 15:16:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=mollie%40kreiger.co.uk&legal_entity[business_name]=Smitham+LLC&legal_entity[dob][day]=4&legal_entity[dob][month]=9&legal_entity[dob][year]=1998&legal_entity[first_name]=Dia&legal_entity[last_name]=Funk&legal_entity[personal_id_number]=031-67-3824&legal_entity[type]=company&legal_entity[address][city]=South+Starlaview&legal_entity[address][country]=US&legal_entity[address][line1]=7386+Quitzon+Underpass&legal_entity[address][postal_code]=91110&legal_entity[address][state]=KS&tos_acceptance[date]=1536074187&tos_acceptance[ip]=219.193.74.170
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1D6gGVAgE0n1bTpy",
          "object": "account",
          "business_name": "Smitham LLC",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1536074188,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "mollie@kreiger.co.uk",
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1D6gGVAgE0n1bTpy/external_accounts"
          },
          "keys": {
            "secret": "sk_test_IJ9GrRb1FdU9fAPNx5tkACo0",
            "publishable": "pk_test_IWxJh158K5FwgKSMjoPJFE4I"
          },
          "legal_entity": {
            "additional_owners": [

            ],
            "address": {
              "city": "South Starlaview",
              "country": "US",
              "line1": "7386 Quitzon Underpass",
              "line2": null,
              "postal_code": "91110",
              "state": "KS"
            },
            "business_name": "Smitham LLC",
            "business_tax_id_provided": false,
            "dob": {
              "day": 4,
              "month": 9,
              "year": 1998
            },
            "first_name": "Dia",
            "last_name": "Funk",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {
          },
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1536074187,
            "ip": "219.193.74.170",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Tue, 04 Sep 2018 15:16:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_DXlo29CEgX6jDk/cards/card_1D6gGUI93ruT9p2PYKDzUCq1
    body:
      encoding: UTF-8
      string: exp_month=12&exp_year=2019&name=Spree+Commerce&address_city=Herndon&address_country=US&address_state=STATE_ABBR_142&address_line1=10+Lovely+Street&address_line2=Northwest&address_zip=35005
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkx[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1D6gGUI93ruT9p2PYKDzUCq1&amount=1999&currency=usd&description=Public+Market%2C+Order+%23R349751731-PSGBPAOC&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.83.0&customer=cus_DXlo29CEgX6jDk&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1D6gGeI93ruT9p2Py2rWXoHh",
          "object": "charge",
          "amount": 1999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1536074196,
          "currency": "usd",
          "customer": "cus_DXlo29CEgX6jDk",
          "description": "Public Market, Order #R349751731-PSGBPAOC",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 26,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1D6gGeI93ruT9p2Py2rWXoHh/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1D6gGUI93ruT9p2PYKDzUCq1",
            "object": "card",
            "address_city": "Herndon",
            "address_country": "US",
            "address_line1": "10 Lovely Street",
            "address_line1_check": "pass",
            "address_line2": "Northwest",
            "address_state": "STATE_ABBR_142",
            "address_zip": "35005",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DXlo29CEgX6jDk",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": "Spree Commerce",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Tue, 04 Sep 2018 15:16:37 GMT
[...]
