---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=cheree.green%40turcottefeest.us&card[number]=4111111111111111&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123&card[name]=Spree+Commerce&card[address_line1]=10+Lovely+Street&card[address_line2]=Northwest&card[address_country]=NAME_88&card[address_zip]=35005&card[address_state]=STATE_NAME_118&card[address_city]=Herndon
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CwfBUDIxJPCcrI",
          "object": "customer",
          "account_balance": 0,
          "created": 1527515870,
          "currency": null,
          "default_source": "card_1CWlr822AWtpwVQm7HZMgeYO",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "cheree.green@turcottefeest.us",
          "invoice_prefix": "4926B13",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CWlr822AWtpwVQm7HZMgeYO",
                "object": "card",
                "address_city": "Herndon",
                "address_country": "NAME_88",
                "address_line1": "10 Lovely Street",
                "address_line1_check": "pass",
                "address_line2": "Northwest",
                "address_state": "STATE_NAME_118",
                "address_zip": "35005",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CwfBUDIxJPCcrI",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "nMGtzMc0CKPKDH0u",
                "funding": "unknown",
                "last4": "1111",
                "metadata": {},
                "name": "Spree Commerce",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CwfBUDIxJPCcrI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CwfBUDIxJPCcrI/subscriptions"
          }
        }
  recorded_at: Mon, 28 May 2018 13:57:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CwfBUDIxJPCcrI/cards/card_1CWlr822AWtpwVQm7HZMgeYO
    body:
      encoding: UTF-8
      string: exp_month=12&exp_year=2019&name=Spree+Commerce&address_city=Herndon&address_country=US&address_state=STATE_ABBR_118&address_line1=10+Lovely+Street&address_line2=Northwest&address_zip=35005
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTV[...]
