.DS_Store
*.ds_store
*.sh
*.sql
*.md

.vscode
.rspec
.overcommit.yml
.rubocop.yml
Guardfile
Procfile.*

.git
.gitlab

coverage
db/*.sqlite3
db/*.sqlite3-journal
tmp
log/*
spec
public/assets
public/spree
public/uploads
