.DS_Store
*.ds_store
*.sh
*.sql
*.md

.vscode
.rspec
.overcommit.yml
.rubocop.yml
.byebug_history
Guardfile
Procfile.*

.git
.gitlab
.github

coverage
db/*.sqlite3
db/*.sqlite3-journal
tmp
log/*
spec
node_modules
public/assets
public/spree
public/uploads
public/sitemap*
config/master*.key
