---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=lisabeth%40hintz.us&legal_entity[business_name]=Kemmer+Inc&legal_entity[dob][day]=18&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Felipa&legal_entity[last_name]=Weber&legal_entity[personal_id_number]=240-66-0187&legal_entity[type]=company&legal_entity[address][city]=North+Ferminside&legal_entity[address][country]=US&legal_entity[address][line1]=8375+Ranee+Stream&legal_entity[address][postal_code]=91110&legal_entity[address][state]=MA&tos_acceptance[date]=1531946956&tos_acceptance[ip]=57.9.149.49
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpMaIIHH87JPgVc",
          "object": "account",
          "business_name": "Kemmer Inc",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531946958,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "lisabeth@hintz.us",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpMaIIHH87JPgVc/external_accounts"
          },
          "keys": {
            "secret": "sk_test_u6gX5Jz65ZhEWJGDEudo4rrC",
            "publishable": "pk_test_UNbNGo4XezK2KKAp57nf7Qxk"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "North Ferminside",
              "country": "US",
              "line1": "8375 Ranee Stream",
              "line2": null,
              "postal_code": "91110",
              "state": "MA"
            },
            "business_name": "Kemmer Inc",
            "business_tax_id_provided": false,
            "dob": {
              "day": 18,
              "month": 7,
              "year": 1998
            },
            "first_name": "Felipa",
            "last_name": "Weber",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531946956,
            "ip": "57.9.149.49",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:49:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=audria.olson%40price.co.uk&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DFsLN2b3oku5ab",
          "object": "customer",
          "account_balance": 0,
          "created": 1531946960,
          "currency": null,
          "default_source": "card_1CpMaKI93ruT9p2P1cmWdjaT",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "audria.olson@price.co.uk",
          "invoice_prefix": "A014FB2",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpMaKI93ruT9p2P1cmWdjaT",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DFsLN2b3oku5ab",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DFsLN2b3oku5ab/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DFsLN2b3oku5ab/subscriptions"
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:49:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpMaKI93ruT9p2P1cmWdjaT&amount=1000&currency=usd&description=Spree+Order+ID%3A+R646177172-PQB6A1WD&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DFsLN2b3oku5ab&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpMaLI93ruT9p2P85JFGTi0",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531946961,
          "currency": "usd",
          "customer": "cus_DFsLN2b3oku5ab",
          "description": "Spree Order ID: R646177172-PQB6A1WD",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpMaLI93ruT9p2P85JFGTi0/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpMaKI93ruT9p2P1cmWdjaT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DFsLN2b3oku5ab",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 18 Jul 2018 20:49:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpMaLI93ruT9p2P85JFGTi0/capture
    body:
      encoding: UTF-8
      string: amount=1000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpMaLI93ruT9p2P85JFGTi0&destination=acct_1CpMaIIHH87JPgVc&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpMaOI93ruT9p2PM36FdUJN",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpMaOI93ruT9p2PMW2JTdwm",
          "created": 1531946964,
          "currency": "usd",
          "date": 1531946965,
          "description": null,
          "destination": "acct_1CpMaIIHH87JPgVc",
          "destination_payment": "py_1CpMaPIHH87JPgVc89P3MWEX",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpMaOI93ruT9p2PM36FdUJN/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpMaLI93ruT9p2P85JFGTi0",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpMaLI93ruT9p2P85JFGTi0",
          "type": "stripe_account"
        }
  recorded_at: Wed, 18 Jul 2018 20:49:25 GMT
recorded_with: VCR 4.0.0
