---
http_interactions:
- request:
    method: post
    uri: http://contentcafe2.btol.com/contentcafe/contentcafe.asmx
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://ContentCafe2.btol.com">  <SOAP-ENV:Body>    <ns1:XmlString>      <ns1:xmlRequest>&lt;ContentCafe
        xmlns=&quot;http://ContentCafe2.btol.com&quot;&gt;&lt;RequestItems UserID=&quot;<BTOL_USER>&quot;
        Password=&quot;<BTOL_PASSWORD>&quot;&gt;&lt;RequestItem&gt;&lt;Key Type=&quot;ISBN&quot;&gt;9780307341570&lt;/Key&gt;&lt;Content&gt;ProductDetail&lt;/Content&gt;&lt;Content&gt;AnnotationDetail&lt;/Content&gt;&lt;/RequestItem&gt;&lt;/RequestItems&gt;&lt;/ContentCafe&gt;</ns1:xmlRequest>    </ns1:XmlString>  </SOAP-ENV:Body></SOAP-ENV:Envelope>          '
    headers:
      Soapaction:
      - http://ContentCafe2.btol.com/XmlString
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><XmlStringResponse
        xmlns="http://ContentCafe2.btol.com"><ContentCafe DateTime="2018-02-20T03:56:17.8251068-05:00"><RequestItems
        UserID="<BTOL_USER>" Password="BWTCCPROD02"><RequestItem><Key Type="ISBN"
        Original="9780307341570">9780307341570</Key><Content>ProductDetail</Content><Content>AnnotationDetail</Content><AnnotationItems><AnnotationItem
        ID="62877602"><Supplier Code="BNT">Baker &amp; Taylor</Supplier><Annotation>After
        witnessing the murder of her mother and sisters, 7-year-old Libby Day testifies
        against her brother Ben, but 25 years later she tries to profit from her tragic
        history and admit that her story might not have been accurate. Reprint. A
        best-selling novel.</Annotation></AnnotationItem><AnnotationItem ID="62877604"><Supplier
        Code="BNT">Baker &amp; Taylor</Supplier><Annotation>After witnessing the murder
        of her mother and sisters, seven-year-old Libby Day testifies against her
        brother Ben, but twenty-five years later she tries to profit from her tragic
        history and admit that her story might not have been accurate.</Annotation></AnnotationItem><AnnotationItem
        ID="62877603"><Supplier Code="RANDSI">Random House, Inc.</Supplier><Annotation>&lt;b&gt;From
    [...]
