---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=aisha_carter%40hackettschmitt.us&legal_entity[business_name]=Crooks+Group&legal_entity[dob][day]=29&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Doretha&legal_entity[last_name]=Bergstrom&legal_entity[personal_id_number]=003-65-8232&legal_entity[type]=company&legal_entity[address][city]=East+Betsy&legal_entity[address][country]=US&legal_entity[address][line1]=045+Willms+Curve&legal_entity[address][postal_code]=91110&legal_entity[address][state]=TX&tos_acceptance[date]=1527605603&tos_acceptance[ip]=245.200.229.124
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CX9CSGMa3G0PvlB",
          "object": "account",
          "business_name": "Crooks Group",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527605604,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "aisha_carter@hackettschmitt.us",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CX9CSGMa3G0PvlB/external_accounts"
          },
          "keys": {
            "secret": "sk_test_x0SqDZIMRpLUwAObQ8d5BZgv",
            "publishable": "pk_test_aoppjRzqgnzPfigCirR2xPtN"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "East Betsy",
              "country": "US",
              "line1": "045 Willms Curve",
              "line2": null,
              "postal_code": "91110",
              "state": "TX"
            },
            "business_name": "Crooks Group",
            "business_tax_id_provided": false,
            "dob": {
              "day": 29,
              "month": 5,
              "year": 1998
            },
            "first_name": "Doretha",
            "last_name": "Bergstrom",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527605603,
            "ip": "245.200.229.124",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Tue, 29 May 2018 14:53:25 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=richard%40damore.co.uk&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cx3JVSqhcIEzTy",
          "object": "customer",
          "account_balance": 0,
          "created": 1527605608,
          "currency": null,
          "default_source": "card_1CX9CWI93ruT9p2PNCratmCq",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "richard@damore.co.uk",
          "invoice_prefix": "67179B6",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CX9CWI93ruT9p2PNCratmCq",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cx3JVSqhcIEzTy",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cx3JVSqhcIEzTy/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cx3JVSqhcIEzTy/subscriptions"
          }
        }
  recorded_at: Tue, 29 May 2018 14:53:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CX9CWI93ruT9p2PNCratmCq&amount=2000&currency=usd&description=Spree+Order+ID%3A+R672783857-PTECADY7&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.78.0&customer=cus_Cx3JVSqhcIEzTy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CX9CXI93ruT9p2PQO5yOpdx",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CX9CXI93ruT9p2PupIkm6TB",
          "captured": true,
          "created": 1527605609,
          "currency": "usd",
          "customer": "cus_Cx3JVSqhcIEzTy",
          "description": "Spree Order ID: R672783857-PTECADY7",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CX9CXI93ruT9p2PQO5yOpdx/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CX9CWI93ruT9p2PNCratmCq",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Cx3JVSqhcIEzTy",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Tue, 29 May 2018 14:53:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CX9CXI93ruT9p2PQO5yOpdx&destination=acct_1CX9CUAYXseI8clg&amount=1000&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CX9CZI93ruT9p2PP6PrwfZu",
          "object": "transfer",
          "amount": 1000,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CX9CZI93ruT9p2Pn48GPi7N",
          "created": 1527605611,
          "currency": "usd",
          "date": 1527605611,
          "description": null,
          "destination": "acct_1CX9CUAYXseI8clg",
          "destination_payment": "py_1CX9CZAYXseI8clgjkzhrJPg",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CX9CZI93ruT9p2PP6PrwfZu/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CX9CXI93ruT9p2PQO5yOpdx",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CX9CXI93ruT9p2PQO5yOpdx",
          "type": "stripe_account"
        }
  recorded_at: Tue, 29 May 2018 14:53:32 GMT
[...]
