---
http_interactions:
- request:
    method: post
    uri: http://contentcafe2.btol.com/contentcafe/contentcafe.asmx
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://ContentCafe2.btol.com">  <SOAP-ENV:Body>    <ns1:XmlString>      <ns1:xmlRequest>&lt;ContentCafe
        xmlns=&quot;http://ContentCafe2.btol.com&quot;&gt;&lt;RequestItems UserID=&quot;<BTOL_USER>&quot;
        Password=&quot;<BTOL_PASSWORD>&quot;&gt;&lt;RequestItem&gt;&lt;Key Type=&quot;ISBN&quot;&gt;9780691016177&lt;/Key&gt;&lt;Content&gt;ProductDetail&lt;/Content&gt;&lt;Content&gt;AnnotationDetail&lt;/Content&gt;&lt;/RequestItem&gt;&lt;/RequestItems&gt;&lt;/ContentCafe&gt;</ns1:xmlRequest>    </ns1:XmlString>  </SOAP-ENV:Body></SOAP-ENV:Envelope>          '
    headers:
      Soapaction:
      - http://ContentCafe2.btol.com/XmlString
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><XmlStringResponse
        xmlns="http://ContentCafe2.btol.com"><ContentCafe DateTime="2018-02-19T10:05:10.8838861-05:00"><RequestItems
        UserID="<BTOL_USER>" Password="BWTCCPROD02"><RequestItem><Key Type="ISBN"
        Original="9780691016177">9780691016177</Key><Content>ProductDetail</Content><Content>AnnotationDetail</Content><AnnotationItems><AnnotationItem
        ID="38434280"><Supplier Code="ptunp">Princeton University Press</Supplier><Annotation>&lt;p&gt;In
        the United States, less than one worker in five is currently in a labor union,
        while in Sweden, virtually the entire workforce is unionized. Despite compelling
        evidence for their positive effects, even the strongest European unions are
        now in retreat as some policymakers herald the U.S. model of market deregulation.
        These differences in union power significantly affect workers'' living standards
        and the fortunes of national economies. What explains the enormous variation
        in unionization and why has the last decade been so hostile to organized labor?
        Bruce Western tackles these questions in an analysis of labor union organization
        in eighteen capitalist democracies from 1950 to 1990. Combining insights from
        sociology and economics in a novel way, Western views unions as the joint
        product of market forces and political and economic institutions.&lt;/p&gt;&lt;p&gt;The
        author argues that three institutional conditions are essential for union
        growth: strong working-class political parties, centralized collective bargaining,
        and union-run unemployment insurance. These conditions shaped the impact of
        market currents and explain variations across industries, across countries,
        and over time for the four decades since 1950.&lt;i&gt;Between Class and Market&lt;/i&gt;
        traces the story of the postwar labor movements supported by a blend of historical
        investigation and sophisticated statistical analysis in an innovative framework
        for comparative research. Western tightly integrates institutional explanation
        and comparative method in a way that balances comparative generality with
        the unique historical experiences of specific cases.&lt;/p&gt;</Annotation></AnnotationItem></AnnotationItems><ProductItems><ProductItem
        ID="4711219"><ISBN>9780691016177</ISBN><Title>Between Class and Market : Postwar
        Unionization in the Capitalist Democracies</Title><Author>Western, Bruce</Author><Source
        Code="BTB">B&amp;T Books</Source><Product Code="BOOK">Book</Product><Supplier
        Code="UPRIN">Princeton Univ Pr</Supplier><ListPrice>57.50</ListPrice><PubDate>1997-12-01</PubDate><Format
        Code="HRD">Hardcover</Format><Report Code="OP">Out of Print</Report><BTKey>BK0002997932</BTKey><Dewey>331.88/09/045</Dewey><LCCN>97005236</LCCN><LCClass>HD6476
        .W467 1997</LCClass><Language Code="ENG">English</Language><RatingGradeLevel
        Code="BKSU">Scholarly/Undergraduate</RatingGradeLevel><GeneralSubject>POLITICAL
        SCIENCE / Labor &amp; Industrial Relations</GeneralSubject><LibrarySubject>Labor
        unions</LibrarySubject><LibrarySubject>History</LibrarySubject><LibrarySubject>20th
        century.</LibrarySubject><Pagination>xx, 230 p. :</Pagination><Created>1997-04-15</Created><Updated>2013-07-22</Updated><Active>true</Active><Returnable>true</Returnable><DiscountKey>N</DiscountKey><Width>6.50000</Width><Height>1.25000</Height><Depth>9.75000</Depth><Weight>1.25000</Weight><CPSIA_Warning>false</CPSIA_Warning><PhysicalFormats><PhysicalFormat
        Type="Primary"><FormatName>Hardcover</FormatName></PhysicalFormat></PhysicalFormats></ProductItem></ProductItems></RequestItem></RequestItems></ContentCafe></XmlStringResponse></soap:Body></soap:Envelope>'
  recorded_at: Mon, 19 Feb 2018 15:05:10 GMT
recorded_with: VCR 4.0.0
