---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=brianne.labadie%40bergeheidenreich.name&legal_entity[business_name]=Schmidt%2C+Schulist+and+Gaylord&legal_entity[dob][day]=20&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Kasie&legal_entity[last_name]=Gaylord&legal_entity[personal_id_number]=587-94-2324&legal_entity[type]=company&legal_entity[address][city]=Willetteborough&legal_entity[address][country]=US&legal_entity[address][line1]=09849+Yvone+Plain&legal_entity[address][postal_code]=91110&legal_entity[address][state]=ID&tos_acceptance[date]=1532012074&tos_acceptance[ip]=54.228.139.60
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpdWZArbAaPfulo",
          "object": "account",
          "business_name": "Schmidt, Schulist and Gaylord",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532012075,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "brianne.labadie@bergeheidenreich.name",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpdWZArbAaPfulo/external_accounts"
          },
          "keys": {
            "secret": "sk_test_wOwXEuFQ8P3HLlQntcKTsE6G",
            "publishable": "pk_test_U3ldBXii0Zjqm8IzoznOgHSu"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Willetteborough",
              "country": "US",
              "line1": "09849 Yvone Plain",
              "line2": null,
              "postal_code": "91110",
              "state": "ID"
            },
            "business_name": "Schmidt, Schulist and Gaylord",
            "business_tax_id_provided": false,
            "dob": {
              "day": 20,
              "month": 7,
              "year": 1998
            },
            "first_name": "Kasie",
            "last_name": "Gaylord",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532012074,
            "ip": "54.228.139.60",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 19 Jul 2018 14:54:36 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=stasia%40collins.name&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DG9qZ3ueDM1o6j",
          "object": "customer",
          "account_balance": 0,
          "created": 1532012079,
          "currency": null,
          "default_source": "card_1CpdWdI93ruT9p2PetobuPkT",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "stasia@collins.name",
          "invoice_prefix": "58443DC",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpdWdI93ruT9p2PetobuPkT",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DG9qZ3ueDM1o6j",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DG9qZ3ueDM1o6j/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DG9qZ3ueDM1o6j/subscriptions"
          }
        }
  recorded_at: Thu, 19 Jul 2018 14:54:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpdWdI93ruT9p2PetobuPkT&amount=2000&currency=usd&description=Spree+Order+ID%3A+R128857324-PKXL9S2T&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DG9qZ3ueDM1o6j&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpdWfI93ruT9p2PjHxmrigt",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532012081,
          "currency": "usd",
          "customer": "cus_DG9qZ3ueDM1o6j",
          "description": "Spree Order ID: R128857324-PKXL9S2T",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpdWfI93ruT9p2PjHxmrigt/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpdWdI93ruT9p2PetobuPkT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DG9qZ3ueDM1o6j",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 19 Jul 2018 14:54:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpdWfI93ruT9p2PjHxmrigt/capture
    body:
      encoding: UTF-8
      string: amount=2000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpdWfI93ruT9p2PjHxmrigt&destination=acct_1CpdWbGGzGg6w4ij&amount=956&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpdWjI93ruT9p2Ps3weMjoB",
          "object": "transfer",
          "amount": 956,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpdWjI93ruT9p2PDClPcvTS",
          "created": 1532012085,
          "currency": "usd",
          "date": 1532012085,
          "description": null,
          "destination": "acct_1CpdWbGGzGg6w4ij",
          "destination_payment": "py_1CpdWjGGzGg6w4ijQbUKhKwv",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpdWjI93ruT9p2Ps3weMjoB/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpdWfI93ruT9p2PjHxmrigt",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpdWfI93ruT9p2PjHxmrigt",
          "type": "stripe_account"
        }
  recorded_at: Thu, 19 Jul 2018 14:54:46 GMT
[...]
