---
http_interactions:
- request:
    method: post
    uri: http://contentcafe2.btol.com/contentcafe/contentcafe.asmx
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://ContentCafe2.btol.com">  <SOAP-ENV:Body>    <ns1:XmlString>      <ns1:xmlRequest>&lt;ContentCafe
        xmlns=&quot;http://ContentCafe2.btol.com&quot;&gt;&lt;RequestItems UserID=&quot;<BTOL_USER>&quot;
        Password=&quot;<BTOL_PASSWORD>&quot;&gt;&lt;RequestItem&gt;&lt;Key Type=&quot;ISBN&quot;&gt;9780394400174&lt;/Key&gt;&lt;Content&gt;AvailableContent&lt;/Content&gt;&lt;Content&gt;ProductDetail&lt;/Content&gt;&lt;Content&gt;AnnotationDetail&lt;/Content&gt;&lt;/RequestItem&gt;&lt;/RequestItems&gt;&lt;/ContentCafe&gt;</ns1:xmlRequest>    </ns1:XmlString>  </SOAP-ENV:Body></SOAP-ENV:Envelope>          '
    headers:
      Soapaction:
      - http://ContentCafe2.btol.com/XmlString
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><XmlStringResponse
        xmlns="http://ContentCafe2.btol.com"><ContentCafe DateTime="2018-03-02T04:52:55.6126589-05:00"><RequestItems
        UserID="<BTOL_USER>" Password="BWTCCPROD02"><RequestItem><Key Type="ISBN"
        Original="9780394400174">9780394400174</Key><Content>AvailableContent</Content><Content>ProductDetail</Content><Content>AnnotationDetail</Content><AvailableContent><Annotation>false</Annotation><Biography>false</Biography><Excerpt>false</Excerpt><Flap>false</Flap><Inventory>false</Inventory><Demand>false</Demand><DemandHistory>false</DemandHistory><Jacket>false</Jacket><Product>true</Product><Review>false</Review><TOC>false</TOC><MuzeVideoRelease>false</MuzeVideoRelease><MuzeSimilarCinema>false</MuzeSimilarCinema><MuzePopularMusic>false</MuzePopularMusic><MuzeClassicalMusic>false</MuzeClassicalMusic><MuzeEssentialArtists>false</MuzeEssentialArtists><MuzeGames>false</MuzeGames><MuzeJacket>false</MuzeJacket><CPSIA_Warning>false</CPSIA_Warning></AvailableContent><AnnotationItems
        /><ProductItems><ProductItem ID="3832379"><ISBN>9780394400174</ISBN><Title>Do
        You Love Me? : An Entertainment in Conversation and Verse</Title><Author>Laing,
        R. D.</Author><Source Code="BTB">B&amp;T Books</Source><Product Code="BOOK">Book</Product><Supplier
        Code="RANDO">Random House Inc</Supplier><ListPrice>4.95</ListPrice><PubDate>1976-11-01</PubDate><Format
        Code="HRD">Hardcover</Format><Report Code="OP">Out of Print</Report><BTKey>BK0000197575</BTKey><Dewey>822.914822</Dewey><LCCN>760099830</LCCN><LCClass>PR6062.A36D6</LCClass><Language
        Code="ENG">English</Language><ReviewCode>ACFL</ReviewCode><Created>2001-01-29</Created><Updated>2006-02-24</Updated><Active>false</Active><Returnable>false</Returnable><DiscountKey>0</DiscountKey><CPSIA_Warning>false</CPSIA_Warning><PhysicalFormats><PhysicalFormat
        Type="Primary"><FormatName>Hardcover</FormatName></PhysicalFormat></PhysicalFormats></ProductItem></ProductItems></RequestItem></RequestItems></ContentCafe></XmlStringResponse></soap:Body></soap:Envelope>'
  recorded_at: Fri, 02 Mar 2018 09:52:55 GMT
recorded_with: VCR 4.0.0
