---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=georgette_shields%40leannon.biz&legal_entity[business_name]=Sanford+LLC&legal_entity[dob][day]=18&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Xiomara&legal_entity[last_name]=Koepp&legal_entity[personal_id_number]=304-22-0430&legal_entity[type]=company&legal_entity[address][city]=West+Laverneview&legal_entity[address][country]=US&legal_entity[address][line1]=47723+Amada+Coves&legal_entity[address][postal_code]=91110&legal_entity[address][state]=UT&tos_acceptance[date]=1531946866&tos_acceptance[ip]=124.225.10.136
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpMYpHu5F5yjFqD",
          "object": "account",
          "business_name": "Sanford LLC",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531946867,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "georgette_shields@leannon.biz",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpMYpHu5F5yjFqD/external_accounts"
          },
          "keys": {
            "secret": "sk_test_57ZJiMS0BWWmBQzbU8pBM8lT",
            "publishable": "pk_test_9a2b3EScN3qEc6OVNw0Mdpxy"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "West Laverneview",
              "country": "US",
              "line1": "47723 Amada Coves",
              "line2": null,
              "postal_code": "91110",
              "state": "UT"
            },
            "business_name": "Sanford LLC",
            "business_tax_id_provided": false,
            "dob": {
              "day": 18,
              "month": 7,
              "year": 1998
            },
            "first_name": "Xiomara",
            "last_name": "Koepp",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531946866,
            "ip": "124.225.10.136",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:47:48 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=nichole%40douglas.name&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DFsJmhEOtylnJM",
          "object": "customer",
          "account_balance": 0,
          "created": 1531946871,
          "currency": null,
          "default_source": "card_1CpMYtI93ruT9p2PjLwH3JLZ",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "nichole@douglas.name",
          "invoice_prefix": "5D65FBC",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpMYtI93ruT9p2PjLwH3JLZ",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DFsJmhEOtylnJM",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DFsJmhEOtylnJM/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DFsJmhEOtylnJM/subscriptions"
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:47:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpMYtI93ruT9p2PjLwH3JLZ&amount=10000&currency=usd&description=Spree+Order+ID%3A+R252891144-P5C2O60X&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DFsJmhEOtylnJM&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpMYuI93ruT9p2PKcrt8w8t",
          "object": "charge",
          "amount": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531946872,
          "currency": "usd",
          "customer": "cus_DFsJmhEOtylnJM",
          "description": "Spree Order ID: R252891144-P5C2O60X",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpMYuI93ruT9p2PKcrt8w8t/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpMYtI93ruT9p2PjLwH3JLZ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DFsJmhEOtylnJM",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 18 Jul 2018 20:47:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpMYuI93ruT9p2PKcrt8w8t/capture
    body:
      encoding: UTF-8
      string: amount=3000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpMYuI93ruT9p2PKcrt8w8t&destination=acct_1CpMYrC5QziVlWgu&amount=2883&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpMYyI93ruT9p2PzBd86gyt",
          "object": "transfer",
          "amount": 2883,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpMYyI93ruT9p2P1liINtce",
          "created": 1531946876,
          "currency": "usd",
          "date": 1531946876,
          "description": null,
          "destination": "acct_1CpMYrC5QziVlWgu",
          "destination_payment": "py_1CpMYyC5QziVlWgupILM90dS",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpMYyI93ruT9p2PzBd86gyt/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpMYuI93ruT9p2PKcrt8w8t",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpMYuI93ruT9p2PKcrt8w8t",
          "type": "stripe_account"
        }
  recorded_at: Wed, 18 Jul 2018 20:47:57 GMT
recorded_with: VCR 4.0.0
