---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=mona%40goyette.info&legal_entity[business_name]=Keebler+Inc&legal_entity[dob][day]=18&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Sook&legal_entity[last_name]=Lesch&legal_entity[personal_id_number]=681-65-9986&legal_entity[type]=company&legal_entity[address][city]=Port+Emmett&legal_entity[address][country]=US&legal_entity[address][line1]=995+Bart+Mountain&legal_entity[address][postal_code]=91110&legal_entity[address][state]=HI&tos_acceptance[date]=1531946878&tos_acceptance[ip]=193.88.120.214
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpMZ1JZT4qtNsRH",
          "object": "account",
          "business_name": "Keebler Inc",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531946879,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "mona@goyette.info",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpMZ1JZT4qtNsRH/external_accounts"
          },
          "keys": {
            "secret": "sk_test_pWBBiPNQn1M28OZjg0pCtMAq",
            "publishable": "pk_test_MlXk1i0WG1eYFlYBpZBgMrjY"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Port Emmett",
              "country": "US",
              "line1": "995 Bart Mountain",
              "line2": null,
              "postal_code": "91110",
              "state": "HI"
            },
            "business_name": "Keebler Inc",
            "business_tax_id_provided": false,
            "dob": {
              "day": 18,
              "month": 7,
              "year": 1998
            },
            "first_name": "Sook",
            "last_name": "Lesch",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531946878,
            "ip": "193.88.120.214",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:48:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=shakia%40gerlach.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DFsJl3gcCeUPw7",
          "object": "customer",
          "account_balance": 0,
          "created": 1531946883,
          "currency": null,
          "default_source": "card_1CpMZ5I93ruT9p2PRkGG9Rn2",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "shakia@gerlach.us",
          "invoice_prefix": "FC19884",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpMZ5I93ruT9p2PRkGG9Rn2",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DFsJl3gcCeUPw7",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DFsJl3gcCeUPw7/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DFsJl3gcCeUPw7/subscriptions"
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:48:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpMZ5I93ruT9p2PRkGG9Rn2&amount=10000&currency=usd&description=Spree+Order+ID%3A+R845196122-PJP1AET8&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DFsJl3gcCeUPw7&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpMZ6I93ruT9p2PNOTcGf07",
          "object": "charge",
          "amount": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531946884,
          "currency": "usd",
          "customer": "cus_DFsJl3gcCeUPw7",
          "description": "Spree Order ID: R845196122-PJP1AET8",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpMZ6I93ruT9p2PNOTcGf07/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpMZ5I93ruT9p2PRkGG9Rn2",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DFsJl3gcCeUPw7",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 18 Jul 2018 20:48:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpMZ6I93ruT9p2PNOTcGf07/capture
    body:
      encoding: UTF-8
      string: amount=3000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpMZ6I93ruT9p2PNOTcGf07&destination=acct_1CpMZ3A6P5AxueQl&amount=2883&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpMZAI93ruT9p2PsOS9nLyo",
          "object": "transfer",
          "amount": 2883,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpMZAI93ruT9p2PAcjHjyWm",
          "created": 1531946888,
          "currency": "usd",
          "date": 1531946888,
          "description": null,
          "destination": "acct_1CpMZ3A6P5AxueQl",
          "destination_payment": "py_1CpMZAA6P5AxueQlQMnxaIM8",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpMZAI93ruT9p2PsOS9nLyo/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpMZ6I93ruT9p2PNOTcGf07",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpMZ6I93ruT9p2PNOTcGf07",
          "type": "stripe_account"
        }
  recorded_at: Wed, 18 Jul 2018 20:48:09 GMT
recorded_with: VCR 4.0.0
