- title ||= :order_summary

.flex.between.align-center.checkout-form-summary--title
  h4.no-margin.upcase.text-color = Spree.t(title)
  = link_to Spree.t(:view_cart), cart_path, data: { confirm: t('forms.leaving') }

/ - order.all_adjustments.nonzero.tax.eligible.group_by(&:label).each do |label, adjustments|
/   p.flex.between.upcase
/     span = label
/     span == Spree::Money.new(adjustments.sum(&:amount), currency: order.currency)

= render 'spree/shared/order_total', order: order

