---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=heide.howell%40ohara.us&legal_entity[business_name]=Weissnat-Daugherty&legal_entity[dob][day]=29&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Jerrod&legal_entity[last_name]=Gutkowski&legal_entity[personal_id_number]=123-59-8685&legal_entity[type]=company&legal_entity[address][city]=North+Maisieberg&legal_entity[address][country]=US&legal_entity[address][line1]=448+Lucien+Via&legal_entity[address][postal_code]=91110&legal_entity[address][state]=NY&tos_acceptance[date]=1527605598&tos_acceptance[ip]=91.121.164.77
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CX9CNLmtisx8cGt",
          "object": "account",
          "business_name": "Weissnat-Daugherty",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527605599,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "heide.howell@ohara.us",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CX9CNLmtisx8cGt/external_accounts"
          },
          "keys": {
            "secret": "sk_test_skWa67hE3nrFuNEgi78hJHkF",
            "publishable": "pk_test_GUFFkKUClAKQcOolkLPHRhqU"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "North Maisieberg",
              "country": "US",
              "line1": "448 Lucien Via",
              "line2": null,
              "postal_code": "91110",
              "state": "NY"
            },
            "business_name": "Weissnat-Daugherty",
            "business_tax_id_provided": false,
            "dob": {
              "day": 29,
              "month": 5,
              "year": 1998
            },
            "first_name": "Jerrod",
            "last_name": "Gutkowski",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527605598,
            "ip": "91.121.164.77",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Tue, 29 May 2018 14:53:20 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=lanell%40ornjast.name&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cx3JFmE61B5COV",
          "object": "customer",
          "account_balance": 0,
          "created": 1527605602,
          "currency": null,
          "default_source": "card_1CX9CQI93ruT9p2PpFT1hxfU",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "lanell@ornjast.name",
          "invoice_prefix": "6E2A781",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CX9CQI93ruT9p2PpFT1hxfU",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cx3JFmE61B5COV",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cx3JFmE61B5COV/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cx3JFmE61B5COV/subscriptions"
          }
        }
  recorded_at: Tue, 29 May 2018 14:53:23 GMT
recorded_with: VCR 4.0.0
