---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=curtis_damore%40bauchcartwright.com&legal_entity[business_name]=Cole+Inc&legal_entity[dob][day]=18&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Marvis&legal_entity[last_name]=Bartell&legal_entity[personal_id_number]=065-85-2460&legal_entity[type]=company&legal_entity[address][city]=Cathishire&legal_entity[address][country]=US&legal_entity[address][line1]=8868+O%27Conner+Terrace&legal_entity[address][postal_code]=91110&legal_entity[address][state]=IL&tos_acceptance[date]=1531946980&tos_acceptance[ip]=33.4.163.16
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpMaeIjlzbIV4pB",
          "object": "account",
          "business_name": "Cole Inc",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531946981,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "curtis_damore@bauchcartwright.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpMaeIjlzbIV4pB/external_accounts"
          },
          "keys": {
            "secret": "sk_test_PSvPoWh6YsL7CXjWz0UwQ8CD",
            "publishable": "pk_test_3jGseS0NRviweGFIDSO1cqlE"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Cathishire",
              "country": "US",
              "line1": "8868 O'Conner Terrace",
              "line2": null,
              "postal_code": "91110",
              "state": "IL"
            },
            "business_name": "Cole Inc",
            "business_tax_id_provided": false,
            "dob": {
              "day": 18,
              "month": 7,
              "year": 1998
            },
            "first_name": "Marvis",
            "last_name": "Bartell",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531946980,
            "ip": "33.4.163.16",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:49:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=doreatha.brekke%40cartwrightmorar.name&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DFsLLAuTRMvx9U",
          "object": "customer",
          "account_balance": 0,
          "created": 1531946983,
          "currency": null,
          "default_source": "card_1CpMahI93ruT9p2PNlUJ7t0f",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "doreatha.brekke@cartwrightmorar.name",
          "invoice_prefix": "6257E63",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpMahI93ruT9p2PNlUJ7t0f",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DFsLLAuTRMvx9U",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DFsLLAuTRMvx9U/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DFsLLAuTRMvx9U/subscriptions"
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:49:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpMahI93ruT9p2PNlUJ7t0f&amount=1000&currency=usd&description=Spree+Order+ID%3A+R597017274-P7YGVEKI&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DFsLLAuTRMvx9U&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpMaiI93ruT9p2P05ksGxNU",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531946984,
          "currency": "usd",
          "customer": "cus_DFsLLAuTRMvx9U",
          "description": "Spree Order ID: R597017274-P7YGVEKI",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpMaiI93ruT9p2P05ksGxNU/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpMahI93ruT9p2PNlUJ7t0f",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DFsLLAuTRMvx9U",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 18 Jul 2018 20:49:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpMaiI93ruT9p2P05ksGxNU/capture
    body:
      encoding: UTF-8
      string: amount=1000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpMaiI93ruT9p2P05ksGxNU&destination=acct_1CpMaeIjlzbIV4pB&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpMamI93ruT9p2PpfErDGXo",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpMamI93ruT9p2P4TEJFmeD",
          "created": 1531946988,
          "currency": "usd",
          "date": 1531946988,
          "description": null,
          "destination": "acct_1CpMaeIjlzbIV4pB",
          "destination_payment": "py_1CpMamIjlzbIV4pByyoaMcQj",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpMamI93ruT9p2PpfErDGXo/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpMaiI93ruT9p2P05ksGxNU",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpMaiI93ruT9p2P05ksGxNU",
          "type": "stripe_account"
        }
  recorded_at: Wed, 18 Jul 2018 20:49:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_1CpMamI93ruT9p2PpfErDGXo/reversals
    body:
      encoding: UTF-8
      string: amount=841
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "trr_1CpMaoI93ruT9p2PCSERUGcF",
          "object": "transfer_reversal",
          "amount": 841,
          "balance_transaction": "txn_1CpMaoI93ruT9p2PRZju6ejn",
          "created": 1531946990,
          "currency": "usd",
          "metadata": {},
          "transfer": "tr_1CpMamI93ruT9p2PpfErDGXo"
        }
  recorded_at: Wed, 18 Jul 2018 20:49:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpMaiI93ruT9p2P05ksGxNU/refunds
    body:
      encoding: UTF-8
      string: amount=841&expand[]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_1CpMarI93ruT9p2PRGl7oUgm",
          "object": "refund",
          "amount": 841,
          "balance_transaction": "txn_1CpMarI93ruT9p2Pzgyuj3Qr",
          "charge": {
            "id": "ch_1CpMaiI93ruT9p2P05ksGxNU",
            "object": "charge",
            "amount": 1000,
            "amount_refunded": 841,
            "application": null,
            "application_fee": null,
            "balance_transaction": "txn_1CpMakI93ruT9p2PNst8vt12",
            "captured": true,
            "created": 1531946984,
            "currency": "usd",
            "customer": "cus_DFsLLAuTRMvx9U",
            "description": "Spree Order ID: R597017274-P7YGVEKI",
       [...]
