head
  = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.10.0/swagger-ui.css"

body
  #swagger-ui

  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.10.0/swagger-ui-bundle.js"

  javascript:
    window.onload = function() {
      var ui = SwaggerUIBundle({
        url: "/apidocs/schema.json",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [SwaggerUIBundle.presets.apis]
      })

      window.ui = ui
    }
