---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=chu%40hahnbogisich.biz&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cx31AfMJqXz1uV",
          "object": "customer",
          "account_balance": 0,
          "created": 1527604556,
          "currency": null,
          "default_source": "card_1CX8vYI93ruT9p2PTifkkSxe",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "chu@hahnbogisich.biz",
          "invoice_prefix": "298BDB7",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CX8vYI93ruT9p2PTifkkSxe",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cx31AfMJqXz1uV",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cx31AfMJqXz1uV/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cx31AfMJqXz1uV/subscriptions"
          }
        }
  recorded_at: Tue, 29 May 2018 14:35:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=samara.aufderhar%40smith.biz&legal_entity[business_name]=Borer+LLC&legal_entity[dob][day]=29&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Amanda&legal_entity[last_name]=Thiel&legal_entity[personal_id_number]=894-03-4664&legal_entity[type]=company&legal_entity[address][city]=Mirnahaven&legal_entity[address][country]=US&legal_entity[address][line1]=01066+Skiles+Junction&legal_entity[address][postal_code]=91110&legal_entity[address][state]=NC&tos_acceptance[date]=1527604557&tos_acceptance[ip]=222.227.87.195
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CX8vaIKboX5tLfw",
          "object": "account",
          "business_name": "Borer LLC",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527604558,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "samara.aufderhar@smith.biz",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CX8vaIKboX5tLfw/external_accounts"
          },
          "keys": {
            "secret": "sk_test_L3SjsrkS9pdeP08G1gpdLN9G",
            "publishable": "pk_test_eoWXUNJijup79olExkGkp7fc"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Mirnahaven",
              "country": "US",
              "line1": "01066 Skiles Junction",
              "line2": null,
              "postal_code": "91110",
              "state": "NC"
            },
            "business_name": "Borer LLC",
            "business_tax_id_provided": false,
            "dob": {
              "day": 29,
              "month": 5,
              "year": 1998
            },
            "first_name": "Amanda",
            "last_name": "Thiel",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527604557,
            "ip": "222.227.87.195",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Tue, 29 May 2018 14:35:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Cx31AfMJqXz1uV/cards/card_1CX8vYI93ruT9p2PTifkkSxe
    body:
      encoding: UTF-8
      string: exp_month=12&exp_year=2019&name=Spree+Commerce&address_city=Herndon&address_country=US&address_state=STATE_ABBR_2&address_line1=10+Lovely+Street&address_line2=Northwest&address_zip=35005
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJc[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CX8vYI93ruT9p2PTifkkSxe&amount=1999&currency=usd&description=Spree+Order+ID%3A+R603684336-PH4TOKAQ&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.78.0&customer=cus_Cx31AfMJqXz1uV
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CX8vhI93ruT9p2PRJkMVYZF",
          "object": "charge",
          "amount": 1999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CX8vhI93ruT9p2PtICxUE1g",
          "captured": true,
          "created": 1527604565,
          "currency": "usd",
          "customer": "cus_Cx31AfMJqXz1uV",
          "description": "Spree Order ID: R603684336-PH4TOKAQ",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CX8vhI93ruT9p2PRJkMVYZF/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CX8vYI93ruT9p2PTifkkSxe",
            "object": "card",
            "address_city": "Herndon",
            "address_country": "US",
            "address_line1": "10 Lovely Street",
            "address_line1_check": "pass",
            "address_line2": "Northwest",
            "address_state": "STATE_ABBR_2",
            "address_zip": "35005",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Cx31AfMJqXz1uV",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "Spree Commerce",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Tue, 29 May 2018 14:36:05 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CX8vhI93ruT9p2PRJkMVYZF&destination=acct_1CX8vaIKboX5tLfw&amount=1999&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CX8vkI93ruT9p2PvmL4J1St",
          "object": "transfer",
          "amount": 1999,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CX8vkI93ruT9p2PxABSutZf",
          "created": 1527604568,
          "currency": "usd",
          "date": 1527604568,
          "description": null,
          "destination": "acct_1CX8vaIKboX5tLfw",
          "destination_payment": "py_1CX8vkIKboX5tLfwbhVi7KYK",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CX8vkI93ruT9p2PvmL4J1St/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CX8vhI93ruT9p2PRJkMVYZF",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CX8vhI93ruT9p2PRJkMVYZF",
          "type": "stripe_account"
        }
  recorded_at: Tue, 29 May 2018 14:36:09 GMT
[...]
