---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=elwood%40kunzekulas.us&legal_entity[business_name]=Johns%2C+Ernser+and+Russel&legal_entity[dob][day]=18&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Sandie&legal_entity[last_name]=Donnelly&legal_entity[personal_id_number]=247-37-0846&legal_entity[type]=company&legal_entity[address][city]=Agnusfort&legal_entity[address][country]=US&legal_entity[address][line1]=38844+Emmaline+Burg&legal_entity[address][postal_code]=91110&legal_entity[address][state]=DC&tos_acceptance[date]=1531946925&tos_acceptance[ip]=69.7.111.231
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpMZmIKPpEKwvIR",
          "object": "account",
          "business_name": "Johns, Ernser and Russel",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531946926,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "elwood@kunzekulas.us",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpMZmIKPpEKwvIR/external_accounts"
          },
          "keys": {
            "secret": "sk_test_nN9YrRfquRsu6N4J9RtjhKVv",
            "publishable": "pk_test_htxkX4F8pTVT54TWm8J4H1Z5"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Agnusfort",
              "country": "US",
              "line1": "38844 Emmaline Burg",
              "line2": null,
              "postal_code": "91110",
              "state": "DC"
            },
            "business_name": "Johns, Ernser and Russel",
            "business_tax_id_provided": false,
            "dob": {
              "day": 18,
              "month": 7,
              "year": 1998
            },
            "first_name": "Sandie",
            "last_name": "Donnelly",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531946925,
            "ip": "69.7.111.231",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:48:47 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=ruthie%40schinnerschiller.co.uk&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DFsKxICR1OksU1",
          "object": "customer",
          "account_balance": 0,
          "created": 1531946930,
          "currency": null,
          "default_source": "card_1CpMZqI93ruT9p2PWWmB0oh7",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ruthie@schinnerschiller.co.uk",
          "invoice_prefix": "A607EAC",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpMZqI93ruT9p2PWWmB0oh7",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DFsKxICR1OksU1",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DFsKxICR1OksU1/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DFsKxICR1OksU1/subscriptions"
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:48:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpMZqI93ruT9p2PWWmB0oh7&amount=10000&currency=usd&description=Spree+Order+ID%3A+R503498184-PNP93TUE&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DFsKxICR1OksU1&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpMZsI93ruT9p2Pg7BmkZzk",
          "object": "charge",
          "amount": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531946932,
          "currency": "usd",
          "customer": "cus_DFsKxICR1OksU1",
          "description": "Spree Order ID: R503498184-PNP93TUE",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpMZsI93ruT9p2Pg7BmkZzk/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpMZqI93ruT9p2PWWmB0oh7",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DFsKxICR1OksU1",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 18 Jul 2018 20:48:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpMZsI93ruT9p2Pg7BmkZzk/capture
    body:
      encoding: UTF-8
      string: amount=10000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpMZsI93ruT9p2Pg7BmkZzk&destination=acct_1CpMZmIKPpEKwvIR&amount=6776&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpMZvI93ruT9p2PUPjkMQJY",
          "object": "transfer",
          "amount": 6776,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpMZvI93ruT9p2PlOEe09NG",
          "created": 1531946935,
          "currency": "usd",
          "date": 1531946936,
          "description": null,
          "destination": "acct_1CpMZmIKPpEKwvIR",
          "destination_payment": "py_1CpMZwIKPpEKwvIRz8R2C4bG",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpMZvI93ruT9p2PUPjkMQJY/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpMZsI93ruT9p2Pg7BmkZzk",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpMZsI93ruT9p2Pg7BmkZzk",
          "type": "stripe_account"
        }
  recorded_at: Wed, 18 Jul 2018 20:48:57 GMT
[...]
