= javascript_include_tag 'raven-js/dist/raven.js', data: { 'turbolinks-track' => ('reload' unless Rails.env.development?) }

javascript:
  Raven.config("#{Rails.application.credentials.sentry_public_dsn}", {
    environment: "#{Rails.env}"
  }).install()
