---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=duane%40hermannpagac.co.uk&legal_entity[business_name]=Abbott%2C+Gusikowski+and+Mills&legal_entity[dob][day]=19&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Luanna&legal_entity[last_name]=Cassin&legal_entity[personal_id_number]=526-13-6796&legal_entity[type]=company&legal_entity[address][city]=Wizafurt&legal_entity[address][country]=US&legal_entity[address][line1]=4033+Mraz+Mall&legal_entity[address][postal_code]=91110&legal_entity[address][state]=CT&tos_acceptance[date]=1532011590&tos_acceptance[ip]=5.76.17.222
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpdOlKuKuCtEaVt",
          "object": "account",
          "business_name": "Abbott, Gusikowski and Mills",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532011591,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "duane@hermannpagac.co.uk",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpdOlKuKuCtEaVt/external_accounts"
          },
          "keys": {
            "secret": "sk_test_mrCCKNz8agIkSIhqy2101NHy",
            "publishable": "pk_test_AetQwnJpCDyORVdoeqB2PjSG"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Wizafurt",
              "country": "US",
              "line1": "4033 Mraz Mall",
              "line2": null,
              "postal_code": "91110",
              "state": "CT"
            },
            "business_name": "Abbott, Gusikowski and Mills",
            "business_tax_id_provided": false,
            "dob": {
              "day": 19,
              "month": 7,
              "year": 1998
            },
            "first_name": "Luanna",
            "last_name": "Cassin",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532011590,
            "ip": "5.76.17.222",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 19 Jul 2018 14:46:32 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=dustin%40dickens.info&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DG9ikOSYQYabhm",
          "object": "customer",
          "account_balance": 0,
          "created": 1532011595,
          "currency": null,
          "default_source": "card_1CpdOpI93ruT9p2P3kusMfbo",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "dustin@dickens.info",
          "invoice_prefix": "2FD3DB7",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpdOpI93ruT9p2P3kusMfbo",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DG9ikOSYQYabhm",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DG9ikOSYQYabhm/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DG9ikOSYQYabhm/subscriptions"
          }
        }
  recorded_at: Thu, 19 Jul 2018 14:46:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpdOpI93ruT9p2P3kusMfbo&amount=2000&currency=usd&description=Spree+Order+ID%3A+R674964279-P9NRT09L&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DG9ikOSYQYabhm&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpdOrI93ruT9p2PlYq3Byem",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532011597,
          "currency": "usd",
          "customer": "cus_DG9ikOSYQYabhm",
          "description": "Spree Order ID: R674964279-P9NRT09L",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpdOrI93ruT9p2PlYq3Byem/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpdOpI93ruT9p2P3kusMfbo",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DG9ikOSYQYabhm",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 19 Jul 2018 14:46:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpdOrI93ruT9p2PlYq3Byem/refunds
    body:
      encoding: UTF-8
      string: expand[]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_1CpdOtI93ruT9p2Pv8r2QeKR",
          "object": "refund",
          "amount": 2000,
          "balance_transaction": null,
          "charge": {
            "id": "ch_1CpdOrI93ruT9p2PlYq3Byem",
            "object": "charge",
            "amount": 2000,
            "amount_refunded": 2000,
            "application": null,
            "application_fee": null,
            "balance_transaction": null,
            "captured": false,
            "created": 1532011597,
            "currency": "usd",
            "customer": "cus_DG9ikOSYQYabhm",
            "description": "Spree Order ID: R674964279-P9NRT09L",
            "destination": null[...]
