---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=celina%40hilpert.com&legal_entity[business_name]=Hermiston-Sporer&legal_entity[dob][day]=30&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Pasquale&legal_entity[last_name]=Mertz&legal_entity[personal_id_number]=109-54-6082&legal_entity[type]=company&legal_entity[address][city]=Lake+Carmelitabury&legal_entity[address][country]=US&legal_entity[address][line1]=598+Kerluke+Court&legal_entity[address][postal_code]=91110&legal_entity[address][state]=WY&tos_acceptance[date]=1527677826&tos_acceptance[ip]=119.191.95.24
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CXRzLFMrSjSOnC0",
          "object": "account",
          "business_name": "Hermiston-Sporer",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527677827,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "celina@hilpert.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CXRzLFMrSjSOnC0/external_accounts"
          },
          "keys": {
            "secret": "sk_test_Dy1T59DCXaT3xtt4HXuoeRxB",
            "publishable": "pk_test_bLWMgUblTSU8JscUx9poSl79"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Lake Carmelitabury",
              "country": "US",
              "line1": "598 Kerluke Court",
              "line2": null,
              "postal_code": "91110",
              "state": "WY"
            },
            "business_name": "Hermiston-Sporer",
            "business_tax_id_provided": false,
            "dob": {
              "day": 30,
              "month": 5,
              "year": 1998
            },
            "first_name": "Pasquale",
            "last_name": "Mertz",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527677826,
            "ip": "119.191.95.24",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 30 May 2018 10:57:08 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gillian%40kovacek.co.uk&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CxMilvy24MZ16O",
          "object": "customer",
          "account_balance": 0,
          "created": 1527677831,
          "currency": null,
          "default_source": "card_1CXRzPI93ruT9p2PLa0zqHV8",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gillian@kovacek.co.uk",
          "invoice_prefix": "771C2CD",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CXRzPI93ruT9p2PLa0zqHV8",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CxMilvy24MZ16O",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CxMilvy24MZ16O/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CxMilvy24MZ16O/subscriptions"
          }
        }
  recorded_at: Wed, 30 May 2018 10:57:11 GMT
recorded_with: VCR 4.0.0
