.alert-fullwidth-top
  font-size: 14px
  font-weight: 500

  .btn
    padding: 8px 15px
    text-transform: none

    @media (max-width: $screen-xs)
      padding: 8px 10px

.alert-added-to-cart
  .info-sign-left
    margin-right: 20px

  .or-text
    margin: 0 15px

  @media (max-width: $screen-xs)
    .margin-text-bottom-xs
      width: 100%
