.flex
  display: flex
  flex-wrap: nowrap

  &.row
    flex-wrap: wrap
    // fix for safari
    &:before, &:after
      content: initial

    &.eq-height-columns > [class*='col-']
      display: flex
      flex-direction: column

      & > div
        height: 100%

  &.column
    flex-direction: column

  &.wrap
    flex-wrap: wrap

  &.align-center
    align-items: center

  &.between
    justify-content: space-between

  &.end
    justify-content: flex-end

  &.nowrap-md
    @media (min-width: $screen-md-min)
      flex-wrap: nowrap

.flex-grow-1
  flex-grow: 1
