.form-control
  box-shadow: none

  &.input-lg
    font-size: $font-size-base
    line-height: $line-height-base
    padding: 16px 20px

.form-group-invalid
  input
    border-color: $brand-danger

  .invalid-feedback
    color: $brand-danger
    font-size: 12px
    margin-top: 4px

.rich-dropdown
  button
    padding: 10px 16px
    background: #feffff
    text-align: left
    border: 1px solid $input-border

    @include with-caret-after(16px)

  label
    font-weight: normal
    cursor: pointer
    margin: 0
    display: inline

  &--outline
    button
      transition: border .2s
      &:focus
        border: 1px solid $brand-primary

  .dropdown-menu
    width: 100%

    & > li > a:hover, & > li > a:focus
      .text-muted
        color: #fff

    .hide-in-dropdown
      display: none !important

    .dropdown-item
      label
        display: block
        font-weight: normal
        padding: 3px 20px
        transition: background-color .2s, color .2s

      label:hover, label:focus
        color: $dropdown-link-hover-color
        background-color: $dropdown-link-hover-bg

.radio label
  padding-left: 0

span + input[type="radio"]
  opacity: 1

input[type="radio"]
  opacity: 0

  & + span
    background: image-url('unchecked.svg') 0px center no-repeat
    padding-left: 25px
    transition: background .2s

  &:checked + span
    background: image-url('checked.svg') 0px center no-repeat
    font-weight: bold

.input-with-hint
  position: relative

  input
    &::placeholder
      color: transparent

    & + label
      color: rgba(69, 74, 80, .65)
      font-weight: normal
      margin: 0
      pointer-events: none
      position: absolute
      transition: transform .25s
      will-change: transform

    &:focus, &[value]
      & + label
        transform: translate(-12%, -0.7em) scale(.75, .75)

    &.input-lg
      padding-bottom: 6px

      & + label
        top: 1em
        left: 21px

.custom-select-wrapper
  position: relative

  select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    cursor: pointer

    &::-ms-expand
      display: none

  &:after
    content: ''
    width: 0
    height: 0
    position: absolute
    pointer-events: none
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    top: 0
    bottom: 0
    margin: auto 0
    right: .75em
    border-top: 8px solid $brand-black

.with-error-hint
  & > span
    display: none

  &.has-error > span
    display: inline-block

.intl-tel-input
  width: 100%

  .selected-flag:focus
    outline: none

  .country-list .country
    transition: background-color .2s, color .2s
    .dial-code
      transition: color .2s

    &.highlight
      color: $dropdown-link-hover-color
      background-color: $dropdown-link-hover-bg !important

      .dial-code
        color: darken($dropdown-link-hover-color, 5%)

.checkbox.disabled
  color: $text-muted

  label:hover
    color: $text-muted !important
    background-color: inherit !important

.checkbox.checkbox-right, .radio.radio-right
  margin: 0

// custom checkbox/radio
.checkbox-blue, .radio-blue
  label
    padding: 0
    position: relative

  input[type='checkbox'], input[type='radio']
    display: none

.checkbox-blue:not(.checkbox-right) label:before, .checkbox-blue.checkbox-right label:after,
.radio-blue:not(.radio-right) label:before, .radio-blue.radio-right label:after
  content: ''
  display: inline-block
  width: 15px
  height: 15px
  border: 1px solid $light-gray
  background-color: transparent
  transition: border-color 0.2s ease, background-color 0.2s ease

.checkbox-blue
  // backgroud
  &:not(.checkbox-right) input:checked + label:before, &.checkbox-right input:checked + label:after
    border-color: $brand-primary
    background-color: $brand-primary

  // checkmark
  &:not(.checkbox-right) input:checked + label:after, &.checkbox-right input:checked + label:before
    border-left: 1px solid #fff
    border-top: 1px solid #fff
    content: ''
    height: 10px
    position: absolute
    top: 4px
    transform: rotate(215deg)
    width: 5px

  &:not(.checkbox-right) label:after
    left: 5px

  &.checkbox-right label:before
    right: 5px

.radio-blue
  input[type='radio']:checked
    & + label:before, & + label:after
      border: 4px solid $brand-primary

  &:not(.radio-right) label:before, &.radio-right label:after
    border-radius: 100%

  &:not(.radio-right) label:before
    margin-right: 0.5em

  &.radio-right label:after
    margin-left: 0.5em
