.content-wrap
  padding-top: 20px
  padding-bottom: 40px

  &.container-fluid
    max-width: $max-fluid-width

@media (max-width: $screen-xs)
  .visible-xxs
    display: block !important

  .hidden-xxs
    display: none !important


.visible-grid-xs
  display: none !important

@media (max-width: $screen-xs-max)
  .visible-grid-xs
    display: grid !important

// tablet
@media (max-width: $screen-sm-max)
  body
    padding-top: 58px

.bg-white
  background-color: #fff
