a:focus
  outline: none

.muted-link
  color: $text-muted

  &:hover, &:focus
    color: darken($text-muted, 10%)

.plain-link
  color: $text-color
  text-decoration: none

  &:hover, &:focus
    color: $brand-black
    text-decoration: none
