#spree-header
  .dropdown-menu > li > a
    padding: 5px 25px
    &.checked:before
      content: '\002713'
      position: absolute
      left: 10px

  hr.divider
    border-top: 1px solid $brand-light-black
    margin: 0 15px

  .secondary-navbar
    li
      & > a
        padding: 10px 15px
        text-transform: uppercase
        border-bottom: 3px solid transparent

        &:hover
          border-bottom: 3px solid #fff

      &.active > a
        border-bottom: 3px solid $brand-primary

#logo a
  display: block
  max-width: 135px
  min-width: 110px
  z-index: 1
  img
    width: 100%

#search-bar
  @media (max-width: $screen-xs-max)
    flex-wrap: wrap

    ul.dropdown-menu
      text-align: right
      li > a
        color: #fff
      .disabled > a
        color: #999 !important

  .navbar-form
    border: 0
    box-shadow: none
    display: flex
    margin: 0
    flex: 1
    padding: 0

    @media (min-width: $screen-sm-min)
      min-width: 350px
      max-width: 468px

    @media (max-width: $screen-xs-max)
      flex: 1 0 100%

    .input-group
      display: flex
      flex: 1

    .taxon-group
      flex-basis: 25%

      button
        background: #33333e
        border-color: #33333e
        width: 100%
        padding: 17px 18px
        font-weight: normal

        @media (max-width: $screen-sm-max)
          padding: 17px 6px

        &:hover, &:active, &:focus
          background: #33333e
          border-color: #33333e

        .name
          display: inline-block
          max-width: 150px
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          vertical-align: bottom
          @media (max-width: 1199px)
            max-width: 100px

    .search-group
      flex: 1

      input
        background-color: $brand-light-black
        border-color: $brand-light-black
        color: white
        width: 100%
        height: 58px
        &:focus
          box-shadow: none

    .btn-search
      background-color: $brand-light-black

      &:before
        content: '\e003'
        color: rgba(255, 255, 255, 0.5) 
        font-family: 'Glyphicons Halflings'
        font-style: normal
        font-weight: normal
        line-height: 1
        position: relative
        vertical-align: middle

      &:hover, &:focus
        text-decoration: none

.link-to-account
  img
    margin-right: 10px

  @media (max-width: 767px)
    a.dropdown-toggle
      font-size: 10px
      line-height: 1.2 !important
    strong
      font-size: 12px

  @media (max-width: 1199px)
    .dropdown-toggle > strong
      display: inline-block
      max-width: 140px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      vertical-align: bottom

.nav-buttons
  li + li
    a
      padding-left: 0

  li:last-of-type > a
    padding-right: 7px

  .badge
    position: absolute
    top: 3px
    right: 0
    z-index: 1
