#logo a
  box-sizing: content-box
  display: block
  max-width: 150px
  min-width: 100px
  margin: 0 auto
  margin-top: 22px
  z-index: 1
  img
    width: 100%

li.link-to-account
  @media (max-width: 767px)
    a.dropdown-toggle
      font-size: 10px
      line-height: 1.2 !important
    strong
      font-size: 12px

  @media (max-width: 1199px)
    .sign-in-as
      display: block
    .dropdown-toggle > strong
      display: inline-block
      max-width: 140px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      vertical-align: bottom

#spree-header
  header
    padding: 0 15px

  .dropdown-menu > li > a
    padding: 5px 25px
    &.checked:before
      content: '\002713'
      position: absolute
      left: 10px

  .nav-row
    border-bottom: 1px solid #202028

  @media (max-width: 767px)
    #nav-bar
      ul.dropdown-menu
        text-align: right
        li > a
          color: #fff
        .disabled > a
          color: #999 !important

  .secondary-navbar
    a
      border-bottom: 3px solid $brand-primary

#search-bar
  display: flex

  @media (max-width: $screen-xs-max)
    flex-wrap: wrap

  .navbar-form
    border: 0
    box-shadow: none
    display: flex
    margin: 0
    flex: 1
    padding: 0

    @media (max-width: $screen-xs-max)
      flex: 1 0 100%

    .input-group
      display: flex
      flex: 1

    .taxon-group
      flex-basis: 25%

      button
        background: #33333e
        border-color: #33333e
        width: 100%

        @media (max-width: $screen-sm-max)
          padding: 10px 6px

        &:hover, &:active, &:focus
          background: #33333e
          border-color: #33333e

        .name
          display: inline-block
          max-width: 150px
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          vertical-align: bottom
          @media (max-width: 1199px)
            max-width: 100px

    .search-group
      flex: 1
      input
        background-color: #202028
        border-color: #202028
        width: 100%
        &:focus
          box-shadow: none

    .btn-search
      background-color: #202028
      // align-self: start
      // padding: 10px 13px

      &:before
        content: '\e003'
        color: $brand-primary
        font-family: 'Glyphicons Halflings'
        font-style: normal
        font-weight: normal
        line-height: 1
        position: relative
        vertical-align: middle

      &:hover, &:focus
        text-decoration: none

  .nav-buttons
    .glyphicon
      font-size: 24px

    .badge
      position: absolute
      top: 2px
      right: 2px
      z-index: 1
