h1.product-title
  font-size: 28px
h6
  font-family: $font-family-roboto

@media (min-width: $screen-md-min)
  h1
    margin-top: 0
    font-size: 42px
    &.product-title
      font-size: 36px
  h2
    font-size: 36px
  h3
    font-size: 30px
  h4
    font-size: 24px
  h5
    font-size: 20px

.text-medium
  font-size: 14px

.text-small
  font-size: 12px

.text-color
  color: $text-color

.text-cryptoberry
  color: $cryptoberry-color

.text-white
  color: #fff

.text-black
  color: $brand-black !important

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.strike
  text-decoration: line-through

.lead
  font-size: 18px
  font-weight: 500
  line-height: 1

.semi-bold
  font-weight: 500

.text-bold
  font-weight: bold

.upcase
  text-transform: uppercase

.text-savings
  color: #cc0000

.text-rewards
  font-size: 14px
  color: #AD1357

.ptrn
  color: #AD1357
  &:before
    content: ''
    background-image: asset-data-url('ptrn.svg')
    background-position: center left
    background-repeat: no-repeat
    background-size: 1em
    border-radius: 50%
    display: inline-block
    height: 1em
    margin-right: 3px
    vertical-align: middle
    width: 1em
  &:after
    content: ' PTRN'

  &-no-text
    &:after
      content: ''

@media (max-width: $screen-xs-max)
  .small-xs
    font-size: 14px
  .text-center-xs
    text-align: center

@media (max-width: $screen-xs)
  .text-center-xxs
    text-align: center
