h1, h2, h3, h4, h5
  font-style: normal
  line-height: normal
  letter-spacing: normal

h1
  font-family: $font-family-roboto-condensed
  font-stretch: condensed
  font-size: 36px
  font-weight: 700

h2
  font-family: $font-family-roboto-condensed
  font-stretch: condensed
  font-size: 30px
  font-weight: 700

h3
  font-family: $font-family-roboto
  font-size: 24px

h4
  font-family: $font-family-roboto
  font-size: 20px

h5
  font-family: $font-family-roboto
  font-size: 20px

.text-danger-dark
  color: darken($brand-danger, 10%)

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.strike
  text-decoration: line-through

.lead
  font-size: 18px
  font-weight: 500
  line-height: 1

.upcase
  text-transform: uppercase
