h1, h2, h3, h4, h5
  font-family: $font-family-roboto-condensed
  font-weight: bold
  letter-spacing: normal

h1
  font-size: 44px

h2
  font-size: 36px

h3
  font-size: 30px

h4
  font-size: 24px

h5
  font-size: 20px

.text-danger-dark
  color: darken($brand-danger, 10%)

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.strike
  text-decoration: line-through

.lead
  font-size: 18px
  font-weight: 500
  line-height: 1

.upcase
  text-transform: uppercase
