$body-bg: #fff

$font-size-h1: 38px
$font-size-h4: 20px
$font-size-base: 16px

$brand-primary: #0cbbd4
$brand-black: #0e0e12

$input-border: #dfdfdf
$input-border-focus: $brand-primary

$text-color: #454a50

$facebook-color: #3b5998

$font-family-sans-serif: 'Roboto', 'Source Sans Pro', Helvetica, Arial
$font-family-roboto: 'Roboto', Helvetica, Arial, sans-serif
$font-family-roboto-condensed: 'Roboto Condensed', Helvetica, Arial, sans-serif
