$body-bg: #f4f4f4

$font-size-h1: 32px
$font-size-h2: 26px
$font-size-h3: 24px
$font-size-h4: 21px
$font-size-h5: 18px
$font-size-h6: 14px
$font-size-base: 16px

$brand-primary: #0cbbd4
$brand-black: #0e0e12
$brand-light-black: #202028

$input-border: #dfdfdf
$input-border-focus: $brand-primary

$text-color: #454a50
$text-muted: lighten($text-color, 40%)

$facebook-color: #3b5998

$font-family-sans-serif: 'Roboto', 'Source Sans Pro', Helvetica, Arial
$font-family-roboto: 'Roboto', Helvetica, Arial, sans-serif
$font-family-roboto-condensed: 'Roboto Condensed', Helvetica, Arial, sans-serif

$breadcrumb-bg: inherit

$btn-font-weight: 500

$headings-font-family: $font-family-roboto-condensed
$headings-font-weight: bold
