.cart_container
  padding: 15px
  background: #fff
  @media (min-width: $screen-sm-min)
    padding: 15px 25px
  @media (min-width: $screen-md-min)
    padding: 15px 100px
  .line-item
    margin-top: 15px
    @media (max-width: $screen-xs)
      img
        width: 100%
  .row-header
    background: #f4f4f4
    h6
      color: $text-color
  @media (max-width: $screen-xs)
    #checkout-div
      position: fixed
      bottom: 0
      left: 0
      right: 0
      padding: 10px
      z-index: 1