.checkout-form-payment
  #existing_cards
    img
      margin-right: 15px
      max-width: 35px

.checkout-form
  section, & &--stripe-agreement
    margin-bottom: 30px

  h4, .card-options, .address-options, .form-buttons
    margin: 0 0 15px

  .panel-body
    padding: 30px 15px

    @media (min-width: $screen-xs)
      padding: 40px 45px

  &--state-input
    width: 60%

    @media (max-width: $screen-xs-max)
      width: 100%
  form
    transition: opacity .25s
    will-change: opacity

    &.checkout-loading
      opacity: .6
      pointer-events: none

.checkout-form-summary
  .panel-body
    padding: 40px 30px

  &--title
    margin-bottom: 15px

.credit-cards-selector, .address-selector
  button
    padding: 15px

  .dropdown-menu
    border-top: none
    margin: 0
    padding: 0

    .dropdown-item label
      padding: 15px
      &:hover
        background-color: rgba(12, 187, 212, .1)
        color: $text-color

.credit-cards-selector button
  label, span
    font-weight: bold
