.credit-card
  address
    word-wrap: break-word

  &__name
    display: inline-block
    max-width: 80%

#credit-card-image
  margin-top: -10px

.existing-credit-card-list td
  padding: 5px

.credit-card-number-label
  font-weight: 500
  color: $gray-light

#new-stripe-card-wrapper
  padding: 10px 18px
  border: 1px solid $input-border

  &.large
    height: 51px
    padding: 14px 20px

  &.StripeElement--invalid
    border-color: $brand-danger
