.jumbotron
  background-image: image-url("luke-stackpoole-584501-unsplash.jpg")
  background-color: #84898e
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-blend-mode: darken
  height: 429px

  h1
    font-family: $font-family-roboto
    font-size: 42px
    font-weight: bold
    font-stretch: condensed
    color: #ffffff
    margin-bottom: 10px

  h3
    font-family: $font-family-roboto
    font-size: 28px
    color: #ffffff
    margin-top: 0
    margin-bottom: 36px

  .btn
    padding: 18px 48px
    line-height: 1.3333333
    border-radius: 0

  p.members
    font-family: $font-family-roboto
    font-size: 16px
    color: #fff
