body#home-page
  .jumbotron
    background-image: image-url('hero-bg.jpg')
    background-color: #585a5f
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-blend-mode: multiply
    height: 430px

    .content
      width: 640px
      margin: 35px auto


    h1
      font-family: $font-family-roboto-condensed
      font-size: 42px
      color: #ffffff
      margin-bottom: 10px
      text-transform: uppercase

    h3
      font-family: $font-family-roboto
      font-size: 28px
      font-weight: normal
      color: #ffffff
      margin-top: 0
      margin-bottom: 36px

    .btn
      font-size: 18px
      font-weight: 700
      padding: 20px 40px
      border-radius: 0

    .btn-primary
      background-color: #801853
      border-color: #801853

    p.members
      font-family: $font-family-roboto
      font-size: 16px
      color: #fff
      a
        color: #fff

    @media (max-width: $screen-xs-max)
      height: 480px
      .content
        width: 300px
        margin: 4px auto
        h1
          font-size: 40px
          margin-bottom: 16px
        h3
          font-size: 26px
          margin-bottom: 26px
        .btn
          font-size: 16px
          font-weight: 700
          padding: 18px 40px


  section
    h2
      display: inline-block
      color: #0e0e12
      font-family: $font-family-roboto-condensed
      font-size: 36px
      font-weight: 700
      font-stretch: condensed
      margin-top: 20px
      margin-bottom: 26px
      text-align: left
      text-transform: uppercase
      border-bottom: 1px solid #eaeaea
      padding-bottom: 10px
    .view-all
      font-family: $font-family-roboto
      font-size: 16px
      margin-left: 10px
      text-align: left
      color: #0cbbd4

  section.how
    h2
      display: block
      margin-bottom: 28px
      text-align: center
    .box
      background-color: #fff
      background-image: image-url('cyan-stripe-bg.png')
      background-origin: border-box
      background-repeat: no-repeat
      background-size: 50% 24px
      background-position-x: left
      background-position-y: 63px
      padding: 36px 20px 20px 20px
      min-height: 277px
      text-align: center
      margin-bottom: 20px
      img.icon
        width: 78px
        height: 78px
      h3
        color: #0e0e12
        font-family: $font-family-roboto-condensed
        font-size: 24px
        font-weight: 700
        text-transform: uppercase
        margin-top: 10px
      p
        color: #282b30
        font-family: $font-family-roboto
        font-size: 15px
        line-height: 1.38
        text-align: center
        margin-bottom: 0

  section.top-categories
    .box
      background-color: #fff
      padding: 36px 20px 20px 20px
      min-height: 530px
      margin-bottom: 26px
      text-align: center
      img
        margin-top: 70px
        margin-left: -40px
        max-width: 100%
      &.slant
        background-image: image-url('slant-bg.png')
        background-origin: border-box
        background-position-x: left
        background-position-y: bottom
        background-repeat: no-repeat
        background-size: auto
        padding: 0
      h3
        font-family: $font-family-roboto-condensed
        font-size: 30px
        font-weight: 700
        text-transform: uppercase
        color: #0e0e12
        margin-top: 140px

  .product-list-item
    .panel
      border: none
    .panel-body
      padding: 40px
      .info, .price
        font-family: $font-family-roboto
        font-size: 16px
        font-weight: normal
        line-height: 1.38
        text-align: center
        color: #454a50
        a
          color: #454a50
