.product-title
  margin-bottom: 5px
  color: #0e0e12

.product-author
  font-size: 16px
  color: #8A8E91

#accordian
  padding-top: 5px
  padding-top: 25px
  .card
    border-top: 1px solid #eaeaea
    padding-bottom: 25px

    h4
      font-size: 14px
      font-weight: bold
      letter-spacing: 0.4px
      color: #454a50
      text-transform: uppercase
    p
      font-size: 16px
      line-height: 1.56
      text-align: left
      color: #6A6E73

#main-image
  img
    max-width: 100%

.product-variants
  ul li
    list-style: none
    font-family: $font-family-roboto
    input
      font-family: $font-family-roboto
      margin-right: 7px
    label
      font-family: $font-family-roboto
      font-weight: normal

.product-properties
  .product-section-title
    display: none

.product-promotions
  margin-top: 40px
  background-color: #f4f4f4
  min-height: 400px
  padding-top: 30px
  h2
    text-transform: uppercase
    font-family: $font-family-roboto-condensed
    font-size: 36px
    font-weight: bold
    color: #0e0e12

#cart-form
  border-top: 6px solid #0e0e12
  background-color: #f4f4f4
  .buy-option
    font-family: $font-family-roboto
    font-size: 18px
    font-weight: 700
    color: #454a50
  .avg-product-price
    font-family: $font-family-roboto
    font-size: 16px
    line-height: 1.56
    color: #cc0000
  .product-price
    font-family: $font-family-roboto
    font-size: 26px
    font-weight: 700
    color: #454a50
  .est-token-rewards
    font-family: $font-family-roboto
    margin-top: 5px
    font-size: 14px
    line-height: 1.64
    color: #454a50
  .variants
    margin-top: 8px
    label
      font-family: $font-family-roboto-condensed
      font-size: 14px
      font-weight: 700
      font-stretch: condensed
      color: #454a50
    ul li
      list-style: none
      font-family: $font-family-roboto
      input
        font-family: $font-family-roboto
        margin-right: 7px
      label
        font-family: $font-family-roboto
        font-weight: 500
  .quantity
    margin-top: 8px
    label
      font-family: $font-family-roboto-condensed
      font-size: 14px
      font-weight: 700
      font-stretch: condensed
      color: #454a50
    select
      width: 280px
      -webkit-appearance: none
      -moz-appearance: none
  .vendor
    margin-top: 15px
    font-family: $font-family-roboto
    font-size: 14px
    line-height: 1.29
    color: #787C80

  button
    font-family: $font-family-roboto
    font-size: 14px
    font-weight: 500
    height: 52px
    letter-spacing: 0.4px
    text-align: center
    text-transform: uppercase
    color: #ffffff
    &#add-to-cart-button
      background: #000
      border: none
      color: #ffffff
