body#product-details
  @supports (display: grid)
    .product-grid
      display: grid
      grid-template-areas: "images" "title" "cart" "content"

      @media (min-width: $screen-sm-min)
        grid-template-columns: 1fr 1fr
        grid-template-rows: auto auto auto
        grid-template-areas: "images cart" "title title" "content content"

      @media (min-width: $screen-md-min)
        grid-template-columns: 2fr 4fr 3fr
        grid-template-rows: auto 1fr
        grid-template-areas: "images title cart" "images content cart"

    .product-images-item
      grid-area: images
      width: 100%

    .product-title-item
      grid-area: title
      width: 100%

    .product-cart-item
      grid-area: cart
      width: 100%

    .product-content-item
      grid-area: content
      width: 100%

  .content-wrap
    background-color: #fff

  .product-title
    margin-bottom: 5px
    color: #0e0e12

  .product-author
    font-size: 16px
    color: #8A8E91

  .accordion
    padding-top: 5px
    padding-top: 25px
    .card
      border-top: 1px solid #eaeaea
      padding-bottom: 25px

      a[data-toggle='collapse']
        text-decoration: none
        color: $text-color
        font-size: 26px
        transform: rotate(45deg)
        transition: transform 0.2s
        &:after
          content: '﹢'
        &.collapsed
          transform: rotate(0deg)
      h4
        font-size: 14px
        font-weight: bold
        letter-spacing: 0.4px
        color: #454a50
        text-transform: uppercase
      p
        font-size: 16px
        line-height: 1.56
        text-align: left
        color: #6A6E73

  #main-image
    img
      max-width: 100%

  .product-variants
    ul li
      list-style: none
      font-family: $font-family-roboto
      input
        font-family: $font-family-roboto
        margin-right: 7px
      label
        font-family: $font-family-roboto
        font-weight: normal

  .product-properties
    .product-section-title
      display: none

  .product-promotions
    min-height: 400px
    margin-top: 40px
    background-color: #f4f4f4
    padding-top: 30px
    h2
      text-transform: uppercase
      font-family: $font-family-roboto-condensed
      font-size: 36px
      font-weight: bold
      color: #0e0e12

  #cart-form
    border-top: 6px solid #0e0e12
    background-color: #f4f4f4
    .panel-body
        padding: 20px
      @media (min-width: $screen-md-min)
        padding: 30px 50px
    .market-choice
      margin-bottom: 7px
      .label
        font-size: 10px
        padding: 4px 10px
        text-transform: uppercase
    .buy-option
      font-size: 18px
      font-weight: 700
      color: #454a50
    .product-price
      font-size: 26px
      font-weight: 700
      color: #454a50
    .est-token-rewards
      margin-top: 5px
      font-size: 14px
      line-height: 1.64
      color: #454a50
    .form-group
      label
        font-family: $font-family-roboto-condensed
        font-size: 14px
        font-weight: 700
        font-stretch: condensed
    .variants
      margin-top: 8px
      label
        color: #454a50
      ul li
        list-style: none
        input
          margin-right: 7px
        label
          font-weight: 500

    button
      font-family: $font-family-roboto
      font-size: 14px
      font-weight: 500
      height: 52px
      letter-spacing: 0.4px
      text-align: center
      text-transform: uppercase
      color: #ffffff
      &#add-to-cart-button
        background: #000
        border: none
        color: #ffffff
