@import variables
@import cosmo/variables

.similar-variants
  &--container
    display: grid
    grid-template-areas: 'sidebar product-info' 'sidebar table'
    grid-template-columns: 16% auto
    grid-template-rows: 100px auto
    grid-row-gap: 20px
    margin-top: 30px

    @media (max-width: $screen-xs-max)
      grid-template-columns: 0fr auto
      grid-template-rows: auto auto

  &--image
    img
      max-width: 100%

      @media (max-width: $screen-xs-max)
        max-width: 100px

      @media (max-width: $screen-xs)
        max-width: 50px

  &--sidebar
    grid-area: sidebar

    @supports (display: grid)
      width: 100%

    @media (max-width: $screen-xs-max)
      grid-row: 1
      padding-right: 0

  &--filters
    margin-top: 30px

    .checkbox
      margin-bottom: 14px

    .variation-child--container
      margin-left: 25px

    &--container
      margin-top: 15px

  &--product-info
    grid-area: product-info

    @media (max-width: $screen-xs)
      h1
        font-size: 18px

  &--table
    grid-area: table

    @media (max-width: $screen-xs-max)
      grid-column: 1 / span 2

    @supports (display: grid)
      width: 100%

    &-header, &-body--row
      display: grid
      grid-column-gap: 10px
      grid-row-gap: 3px
      grid-template-columns: 17% 23% 30% 14% auto

    &-header
      align-items: center
      background: $body-bg
      border: solid 1px $input-border
      padding: 9px 0 9px 15px

      @media (max-width: $screen-xs-max)
        grid-auto-flow: column
        grid-template-columns: auto
        grid-column-gap: 0
        justify-items: center
        background: transparent
        border: none
        padding-left: 0

      &--item
        border-bottom: solid 1px $input-border
        text-align: center
        width: 100%

        &.active
          border: solid 1px $input-border
          border-bottom: none

          label
            color: $text-color

        label
          font-weight: normal
          color: $brand-primary
          padding: 10px
          width: 100%

    &-body
      &--row
        grid-template-areas: 'price option delivery seller action'
        border-bottom: 1px solid $table-border-color
        padding: 9px 0 22px 15px

        @media (max-width: $screen-xs-max)
          grid-template-columns: auto
          grid-template-areas: 'price option action' 'delivery delivery delivery' 'seller seller seller' 'note note note'
          padding: 15px 0

      &--price
        grid-area: price

        .lead
          margin-bottom: 3px

      &--option
        grid-area: option

      &--note
        grid-area: note

      &--delivery
        grid-area: delivery

        ul
          padding-left: 0
          margin: 0
          list-style: none

          @media (min-width: $screen-sm-min)
            li:before
              content: "• "
              color: $input-border
              margin-right: 7px

      &--seller
        grid-area: seller

        .lead
          margin-bottom: 3px

      &--action
        grid-area: action
        justify-self: end

        .btn
          white-space: normal
          padding: 0

          label
            cursor: pointer
            padding: 9px 21px
