---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=dwana%40mosciski.ca&legal_entity[business_name]=Wunsch%2C+Baumbach+and+Heaney&legal_entity[dob][day]=30&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Meghann&legal_entity[last_name]=Berge&legal_entity[personal_id_number]=656-91-1434&legal_entity[type]=company&legal_entity[address][city]=West+Mahaliatown&legal_entity[address][country]=US&legal_entity[address][line1]=9618+Wesley+Branch&legal_entity[address][postal_code]=91110&legal_entity[address][state]=MA&tos_acceptance[date]=1527688542&tos_acceptance[ip]=66.18.225.93
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CXUmBJX1JqeZ67K",
          "object": "account",
          "business_name": "Wunsch, Baumbach and Heaney",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527688543,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "dwana@mosciski.ca",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CXUmBJX1JqeZ67K/external_accounts"
          },
          "keys": {
            "secret": "sk_test_0X51yBJm134DmKKI92AzKovG",
            "publishable": "pk_test_sJSC76EydLaTpLJwErNIUDgY"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "West Mahaliatown",
              "country": "US",
              "line1": "9618 Wesley Branch",
              "line2": null,
              "postal_code": "91110",
              "state": "MA"
            },
            "business_name": "Wunsch, Baumbach and Heaney",
            "business_tax_id_provided": false,
            "dob": {
              "day": 30,
              "month": 5,
              "year": 1998
            },
            "first_name": "Meghann",
            "last_name": "Berge",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527688542,
            "ip": "66.18.225.93",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 30 May 2018 13:55:44 GMT
recorded_with: VCR 4.0.0
