---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=nobuko_mcdermott%40reynolds.us&legal_entity[business_name]=Stark%2C+Monahan+and+Senger&legal_entity[dob][day]=25&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Cathey&legal_entity[last_name]=Bradtke&legal_entity[personal_id_number]=991-40-9021&legal_entity[type]=company&legal_entity[address][city]=Diannehaven&legal_entity[address][country]=US&legal_entity[address][line1]=40434+Lockman+Lake&legal_entity[address][postal_code]=91110&legal_entity[address][state]=CA&tos_acceptance[date]=1532526023&tos_acceptance[ip]=47.187.134.101
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CrnE5AfSfYWAGWe",
          "object": "account",
          "business_name": "Stark, Monahan and Senger",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532526025,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "nobuko_mcdermott@reynolds.us",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CrnE5AfSfYWAGWe/external_accounts"
          },
          "keys": {
            "secret": "sk_test_W0eltD48mSqq975OrcbW3n1U",
            "publishable": "pk_test_0j3OP7tyB2UHJBi8VFikfYIq"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Diannehaven",
              "country": "US",
              "line1": "40434 Lockman Lake",
              "line2": null,
              "postal_code": "91110",
              "state": "CA"
            },
            "business_name": "Stark, Monahan and Senger",
            "business_tax_id_provided": false,
            "dob": {
              "day": 25,
              "month": 7,
              "year": 1998
            },
            "first_name": "Cathey",
            "last_name": "Bradtke",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532526023,
            "ip": "47.187.134.101",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 25 Jul 2018 13:40:26 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=herschel%40hanemueller.com&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DIO0sT7qMzf54i",
          "object": "customer",
          "account_balance": 0,
          "created": 1532526029,
          "currency": null,
          "default_source": "card_1CrnE9I93ruT9p2PASNXjnwh",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "herschel@hanemueller.com",
          "invoice_prefix": "2015E23",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CrnE9I93ruT9p2PASNXjnwh",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DIO0sT7qMzf54i",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DIO0sT7qMzf54i/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DIO0sT7qMzf54i/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jul 2018 13:40:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CrnE9I93ruT9p2PASNXjnwh&amount=2000&currency=usd&description=Spree+Order+ID%3A+R720568220-PBTT7RSI&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DIO0sT7qMzf54i&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CrnEBI93ruT9p2PnpEXfQE2",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532526031,
          "currency": "usd",
          "customer": "cus_DIO0sT7qMzf54i",
          "description": "Spree Order ID: R720568220-PBTT7RSI",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CrnEBI93ruT9p2PnpEXfQE2/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CrnE9I93ruT9p2PASNXjnwh",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DIO0sT7qMzf54i",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 25 Jul 2018 13:40:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CrnEBI93ruT9p2PnpEXfQE2/capture
    body:
      encoding: UTF-8
      string: amount=1000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CrnEBI93ruT9p2PnpEXfQE2&destination=acct_1CrnE5AfSfYWAGWe&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CrnEFI93ruT9p2PPjGLTTcs",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CrnEFI93ruT9p2PSoD5mLLE",
          "created": 1532526035,
          "currency": "usd",
          "date": 1532526035,
          "description": null,
          "destination": "acct_1CrnE5AfSfYWAGWe",
          "destination_payment": "py_1CrnEFAfSfYWAGWelBnrOuNj",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CrnEFI93ruT9p2PPjGLTTcs/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CrnEBI93ruT9p2PnpEXfQE2",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CrnEBI93ruT9p2PnpEXfQE2",
          "type": "stripe_account"
        }
  recorded_at: Wed, 25 Jul 2018 13:40:36 GMT
recorded_with: VCR 4.0.0
