---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=maxine%40bailey.info&card=tok_1CVPMA22AWtpwVQmDZpmxRxT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CvFrTp4CmjwB6Z",
          "object": "customer",
          "account_balance": 0,
          "created": 1527191055,
          "currency": null,
          "default_source": "card_1CVPMA22AWtpwVQmlLXVMzJb",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "maxine@bailey.info",
          "invoice_prefix": "E93FBAB",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CVPMA22AWtpwVQmlLXVMzJb",
                "object": "card",
                "address_city": "Wellington",
                "address_country": "US",
                "address_line1": "Alaska",
                "address_line1_check": "pass",
                "address_line2": null,
                "address_state": "AL",
                "address_zip": "94001",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CvFrTp4CmjwB6Z",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "oqxXQNLfpOSk3nV8",
                "funding": "debit",
                "last4": "5556",
                "metadata": {},
                "name": "First name",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CvFrTp4CmjwB6Z/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CvFrTp4CmjwB6Z/subscriptions"
          }
        }
  recorded_at: Thu, 24 May 2018 19:44:16 GMT
recorded_with: VCR 4.0.0
