---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=justine%40gottliebhayes.ca&legal_entity[business_name]=Zieme-Tromp&legal_entity[dob][day]=25&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Tammi&legal_entity[last_name]=Schamberger&legal_entity[personal_id_number]=874-17-0935&legal_entity[type]=company&legal_entity[address][city]=Rosemaryberg&legal_entity[address][country]=US&legal_entity[address][line1]=0946+Ferry+Plain&legal_entity[address][postal_code]=91110&legal_entity[address][state]=IA&tos_acceptance[date]=1532526009&tos_acceptance[ip]=12.139.129.150
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CrnDqL1rwP5CsFE",
          "object": "account",
          "business_name": "Zieme-Tromp",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532526010,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "justine@gottliebhayes.ca",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CrnDqL1rwP5CsFE/external_accounts"
          },
          "keys": {
            "secret": "sk_test_Rj7txD4gzl3LFJl1KAH6TXym",
            "publishable": "pk_test_Tlxwr8PNAFaJm8VYufwkeDpD"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Rosemaryberg",
              "country": "US",
              "line1": "0946 Ferry Plain",
              "line2": null,
              "postal_code": "91110",
              "state": "IA"
            },
            "business_name": "Zieme-Tromp",
            "business_tax_id_provided": false,
            "dob": {
              "day": 25,
              "month": 7,
              "year": 1998
            },
            "first_name": "Tammi",
            "last_name": "Schamberger",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532526009,
            "ip": "12.139.129.150",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 25 Jul 2018 13:40:11 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=kacie%40durganterry.ca&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DINzUG1IJPnVWj",
          "object": "customer",
          "account_balance": 0,
          "created": 1532526014,
          "currency": null,
          "default_source": "card_1CrnDuI93ruT9p2PyynaQA2r",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "kacie@durganterry.ca",
          "invoice_prefix": "12C5F25",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CrnDuI93ruT9p2PyynaQA2r",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DINzUG1IJPnVWj",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DINzUG1IJPnVWj/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DINzUG1IJPnVWj/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jul 2018 13:40:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CrnDuI93ruT9p2PyynaQA2r&amount=2000&currency=usd&description=Spree+Order+ID%3A+R562755839-PTKIXZ8T&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DINzUG1IJPnVWj&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CrnDwI93ruT9p2PveTUe45G",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532526016,
          "currency": "usd",
          "customer": "cus_DINzUG1IJPnVWj",
          "description": "Spree Order ID: R562755839-PTKIXZ8T",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CrnDwI93ruT9p2PveTUe45G/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CrnDuI93ruT9p2PyynaQA2r",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DINzUG1IJPnVWj",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 25 Jul 2018 13:40:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CrnDwI93ruT9p2PveTUe45G/capture
    body:
      encoding: UTF-8
      string: amount=2000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CrnDwI93ruT9p2PveTUe45G&destination=acct_1CrnDqL1rwP5CsFE&amount=956&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CrnE0I93ruT9p2PaXYNkill",
          "object": "transfer",
          "amount": 956,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CrnE0I93ruT9p2PoCwr6YCu",
          "created": 1532526020,
          "currency": "usd",
          "date": 1532526020,
          "description": null,
          "destination": "acct_1CrnDqL1rwP5CsFE",
          "destination_payment": "py_1CrnE0L1rwP5CsFEzK8b52QX",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CrnE0I93ruT9p2PaXYNkill/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CrnDwI93ruT9p2PveTUe45G",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CrnDwI93ruT9p2PveTUe45G",
          "type": "stripe_account"
        }
  recorded_at: Wed, 25 Jul 2018 13:40:21 GMT
[...]
