---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=phyllis.feeney%40marks.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cx31kua3royavP",
          "object": "customer",
          "account_balance": 0,
          "created": 1527604533,
          "currency": null,
          "default_source": "card_1CX8vBI93ruT9p2PmVbuujAo",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "phyllis.feeney@marks.us",
          "invoice_prefix": "A6517DA",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CX8vBI93ruT9p2PmVbuujAo",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cx31kua3royavP",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cx31kua3royavP/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cx31kua3royavP/subscriptions"
          }
        }
  recorded_at: Tue, 29 May 2018 14:35:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=shera.king%40windlerpfeffer.com&legal_entity[business_name]=Medhurst-Waters&legal_entity[dob][day]=29&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Savanna&legal_entity[last_name]=Nolan&legal_entity[personal_id_number]=065-70-2561&legal_entity[type]=company&legal_entity[address][city]=East+Angelenafurt&legal_entity[address][country]=US&legal_entity[address][line1]=15665+Roman+Glens&legal_entity[address][postal_code]=91110&legal_entity[address][state]=ND&tos_acceptance[date]=1527604534&tos_acceptance[ip]=137.43.121.74
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CX8vDE2AQv1thH7",
          "object": "account",
          "business_name": "Medhurst-Waters",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527604535,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "shera.king@windlerpfeffer.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CX8vDE2AQv1thH7/external_accounts"
          },
          "keys": {
            "secret": "sk_test_0tsKXnEJ1RanoWedhDoSglHy",
            "publishable": "pk_test_ze3gEbgoaF5JFgFDMZtK9MxI"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "East Angelenafurt",
              "country": "US",
              "line1": "15665 Roman Glens",
              "line2": null,
              "postal_code": "91110",
              "state": "ND"
            },
            "business_name": "Medhurst-Waters",
            "business_tax_id_provided": false,
            "dob": {
              "day": 29,
              "month": 5,
              "year": 1998
            },
            "first_name": "Savanna",
            "last_name": "Nolan",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527604534,
            "ip": "137.43.121.74",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Tue, 29 May 2018 14:35:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Cx31kua3royavP/cards/card_1CX8vBI93ruT9p2PmVbuujAo
    body:
      encoding: UTF-8
      string: exp_month=12&exp_year=2019&name=Spree+Commerce&address_city=Herndon&address_country=US&address_state=STATE_ABBR_1&address_line1=10+Lovely+Street&address_line2=Northwest&address_zip=35005
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJc[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CX8vBI93ruT9p2PmVbuujAo&amount=1999&currency=usd&description=Spree+Order+ID%3A+R060131159-PA5BX8FL&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.78.0&customer=cus_Cx31kua3royavP
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CX8vRI93ruT9p2PZbzkmARF",
          "object": "charge",
          "amount": 1999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CX8vRI93ruT9p2PvL0D4M5v",
          "captured": true,
          "created": 1527604549,
          "currency": "usd",
          "customer": "cus_Cx31kua3royavP",
          "description": "Spree Order ID: R060131159-PA5BX8FL",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CX8vRI93ruT9p2PZbzkmARF/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CX8vBI93ruT9p2PmVbuujAo",
            "object": "card",
            "address_city": "Herndon",
            "address_country": "US",
            "address_line1": "10 Lovely Street",
            "address_line1_check": "pass",
            "address_line2": "Northwest",
            "address_state": "STATE_ABBR_1",
            "address_zip": "35005",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Cx31kua3royavP",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "Spree Commerce",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Tue, 29 May 2018 14:35:50 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CX8vRI93ruT9p2PZbzkmARF&destination=acct_1CX8vDE2AQv1thH7&amount=1999&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CX8vUI93ruT9p2PmIWO16UV",
          "object": "transfer",
          "amount": 1999,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CX8vUI93ruT9p2Pnb0Ory6Z",
          "created": 1527604552,
          "currency": "usd",
          "date": 1527604552,
          "description": null,
          "destination": "acct_1CX8vDE2AQv1thH7",
          "destination_payment": "py_1CX8vUE2AQv1thH7029TWe5o",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CX8vUI93ruT9p2PmIWO16UV/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CX8vRI93ruT9p2PZbzkmARF",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CX8vRI93ruT9p2PZbzkmARF",
          "type": "stripe_account"
        }
  recorded_at: Tue, 29 May 2018 14:35:53 GMT
[...]
