---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=erica.trantow%40yundtprosacco.co.uk&legal_entity[business_name]=Gorczany%2C+Boehm+and+Langworth&legal_entity[dob][day]=31&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Evelin&legal_entity[last_name]=Howell&legal_entity[personal_id_number]=509-40-1936&legal_entity[type]=company&legal_entity[address][city]=Lindgrenhaven&legal_entity[address][country]=US&legal_entity[address][line1]=69515+Lavone+Mission&legal_entity[address][postal_code]=91110&legal_entity[address][state]=AZ&tos_acceptance[date]=1527771671&tos_acceptance[ip]=250.147.46.124
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CXqOyGPUtnLddbt",
          "object": "account",
          "business_name": "Gorczany, Boehm and Langworth",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527771672,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "erica.trantow@yundtprosacco.co.uk",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CXqOyGPUtnLddbt/external_accounts"
          },
          "keys": {
            "secret": "sk_test_AJfkOGC9At272kRo3hj4opsf",
            "publishable": "pk_test_raU7SPJHYkoOqeyJXF6TLzKu"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Lindgrenhaven",
              "country": "US",
              "line1": "69515 Lavone Mission",
              "line2": null,
              "postal_code": "91110",
              "state": "AZ"
            },
            "business_name": "Gorczany, Boehm and Langworth",
            "business_tax_id_provided": false,
            "dob": {
              "day": 31,
              "month": 5,
              "year": 1998
            },
            "first_name": "Evelin",
            "last_name": "Howell",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527771671,
            "ip": "250.147.46.124",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 31 May 2018 13:01:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=milagros%40gerholdlemke.com&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CxlwY45crJ82vl",
          "object": "customer",
          "account_balance": 0,
          "created": 1527771674,
          "currency": null,
          "default_source": "card_1CXqP0I93ruT9p2PuqVky8yk",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "milagros@gerholdlemke.com",
          "invoice_prefix": "7569493",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CXqP0I93ruT9p2PuqVky8yk",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CxlwY45crJ82vl",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CxlwY45crJ82vl/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CxlwY45crJ82vl/subscriptions"
          }
        }
  recorded_at: Thu, 31 May 2018 13:01:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CXqP0I93ruT9p2PuqVky8yk&amount=1000&currency=usd&description=Spree+Order+ID%3A+R855327208-PP51K2Z5&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.79.0&customer=cus_CxlwY45crJ82vl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CXqP1I93ruT9p2Pegg5p9vu",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CXqP1I93ruT9p2PvcccBmaN",
          "captured": true,
          "created": 1527771675,
          "currency": "usd",
          "customer": "cus_CxlwY45crJ82vl",
          "description": "Spree Order ID: R855327208-PP51K2Z5",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CXqP1I93ruT9p2Pegg5p9vu/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CXqP0I93ruT9p2PuqVky8yk",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CxlwY45crJ82vl",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 31 May 2018 13:01:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CXqP1I93ruT9p2Pegg5p9vu&destination=acct_1CXqOyGPUtnLddbt&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CXqP3I93ruT9p2PfmiDTSDC",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CXqP3I93ruT9p2PaZSWqpwj",
          "created": 1527771677,
          "currency": "usd",
          "date": 1527771677,
          "description": null,
          "destination": "acct_1CXqOyGPUtnLddbt",
          "destination_payment": "py_1CXqP3GPUtnLddbt8eOFbB0H",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CXqP3I93ruT9p2PfmiDTSDC/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CXqP1I93ruT9p2Pegg5p9vu",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CXqP1I93ruT9p2Pegg5p9vu",
          "type": "stripe_account"
        }
  recorded_at: Thu, 31 May 2018 13:01:18 GMT
recorded_with: VCR 4.0.0
