---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=alexis_rogahn%40colehand.ca&legal_entity[business_name]=Funk+Group&legal_entity[dob][day]=25&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Olinda&legal_entity[last_name]=Will&legal_entity[personal_id_number]=207-76-2956&legal_entity[type]=company&legal_entity[address][city]=Port+Lannymouth&legal_entity[address][country]=US&legal_entity[address][line1]=01852+Corwin+Villages&legal_entity[address][postal_code]=91110&legal_entity[address][state]=DE&tos_acceptance[date]=1532526058&tos_acceptance[ip]=120.96.151.170
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CrnEdGKJ9LMuM0x",
          "object": "account",
          "business_name": "Funk Group",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532526059,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "alexis_rogahn@colehand.ca",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CrnEdGKJ9LMuM0x/external_accounts"
          },
          "keys": {
            "secret": "sk_test_kl0penGo11tRfJsV914lI5Fc",
            "publishable": "pk_test_osZhHbCnS7LrfhukjWyiJCui"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Port Lannymouth",
              "country": "US",
              "line1": "01852 Corwin Villages",
              "line2": null,
              "postal_code": "91110",
              "state": "DE"
            },
            "business_name": "Funk Group",
            "business_tax_id_provided": false,
            "dob": {
              "day": 25,
              "month": 7,
              "year": 1998
            },
            "first_name": "Olinda",
            "last_name": "Will",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532526058,
            "ip": "120.96.151.170",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 25 Jul 2018 13:41:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=vernice.parisian%40brekke.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DIO0gNRYq9aivc",
          "object": "customer",
          "account_balance": 0,
          "created": 1532526063,
          "currency": null,
          "default_source": "card_1CrnEhI93ruT9p2PI5QBfwJQ",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "vernice.parisian@brekke.us",
          "invoice_prefix": "0B4C6B5",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CrnEhI93ruT9p2PI5QBfwJQ",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DIO0gNRYq9aivc",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DIO0gNRYq9aivc/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DIO0gNRYq9aivc/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jul 2018 13:41:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CrnEhI93ruT9p2PI5QBfwJQ&amount=2000&currency=usd&description=Spree+Order+ID%3A+R487621116-PTFLY6FT&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DIO0gNRYq9aivc&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CrnEjI93ruT9p2PFVMkEltT",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532526065,
          "currency": "usd",
          "customer": "cus_DIO0gNRYq9aivc",
          "description": "Spree Order ID: R487621116-PTFLY6FT",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CrnEjI93ruT9p2PFVMkEltT/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CrnEhI93ruT9p2PI5QBfwJQ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DIO0gNRYq9aivc",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 25 Jul 2018 13:41:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CrnEjI93ruT9p2PFVMkEltT/capture
    body:
      encoding: UTF-8
      string: amount=2000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CrnEjI93ruT9p2PFVMkEltT&destination=acct_1CrnEdGKJ9LMuM0x&amount=956&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CrnEnI93ruT9p2P7gcZQLVt",
          "object": "transfer",
          "amount": 956,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CrnEnI93ruT9p2PhnCutgmh",
          "created": 1532526069,
          "currency": "usd",
          "date": 1532526069,
          "description": null,
          "destination": "acct_1CrnEdGKJ9LMuM0x",
          "destination_payment": "py_1CrnEnGKJ9LMuM0xXPvfKMaK",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CrnEnI93ruT9p2P7gcZQLVt/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CrnEjI93ruT9p2PFVMkEltT",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CrnEjI93ruT9p2PFVMkEltT",
          "type": "stripe_account"
        }
  recorded_at: Wed, 25 Jul 2018 13:41:10 GMT
[...]
