---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=frances%40jacobson.us&legal_entity[business_name]=Marquardt+LLC&legal_entity[dob][day]=29&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Belkis&legal_entity[last_name]=Legros&legal_entity[personal_id_number]=966-16-7973&legal_entity[type]=company&legal_entity[address][city]=Port+Patburgh&legal_entity[address][country]=US&legal_entity[address][line1]=96058+Josephina+Falls&legal_entity[address][postal_code]=91110&legal_entity[address][state]=OH&tos_acceptance[date]=1527605618&tos_acceptance[ip]=131.125.32.96
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CX9ChJxti9o80lp",
          "object": "account",
          "business_name": "Marquardt LLC",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527605619,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "frances@jacobson.us",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CX9ChJxti9o80lp/external_accounts"
          },
          "keys": {
            "secret": "sk_test_PZQ7fNOE0BV5Kowgu5zUCmPC",
            "publishable": "pk_test_vR8fMh25OaILGNy7q9MOKNAh"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Port Patburgh",
              "country": "US",
              "line1": "96058 Josephina Falls",
              "line2": null,
              "postal_code": "91110",
              "state": "OH"
            },
            "business_name": "Marquardt LLC",
            "business_tax_id_provided": false,
            "dob": {
              "day": 29,
              "month": 5,
              "year": 1998
            },
            "first_name": "Belkis",
            "last_name": "Legros",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527605618,
            "ip": "131.125.32.96",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Tue, 29 May 2018 14:53:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=garfield%40reilly.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cx3JIJ9efWp7oz",
          "object": "customer",
          "account_balance": 0,
          "created": 1527605620,
          "currency": null,
          "default_source": "card_1CX9CiI93ruT9p2PdM5hqO9w",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "garfield@reilly.us",
          "invoice_prefix": "3C8F377",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CX9CiI93ruT9p2PdM5hqO9w",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cx3JIJ9efWp7oz",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cx3JIJ9efWp7oz/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cx3JIJ9efWp7oz/subscriptions"
          }
        }
  recorded_at: Tue, 29 May 2018 14:53:41 GMT
recorded_with: VCR 4.0.0
