---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=hallie%40parisianprohaska.us&legal_entity[business_name]=Will%2C+Hand+and+Armstrong&legal_entity[dob][day]=31&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Sharika&legal_entity[last_name]=Kerluke&legal_entity[personal_id_number]=362-46-3078&legal_entity[type]=company&legal_entity[address][city]=Port+Calebmouth&legal_entity[address][country]=US&legal_entity[address][line1]=54653+Kemmer+Fields&legal_entity[address][postal_code]=91110&legal_entity[address][state]=OR&tos_acceptance[date]=1527770789&tos_acceptance[ip]=92.201.40.36
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CXqAjEflE7dEYEX",
          "object": "account",
          "business_name": "Will, Hand and Armstrong",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527770790,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "hallie@parisianprohaska.us",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CXqAjEflE7dEYEX/external_accounts"
          },
          "keys": {
            "secret": "sk_test_XGhU1L682TXCRSQ6QC2FAGWM",
            "publishable": "pk_test_ojh2SoqunVN7W2t2ysk7LRMN"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Port Calebmouth",
              "country": "US",
              "line1": "54653 Kemmer Fields",
              "line2": null,
              "postal_code": "91110",
              "state": "OR"
            },
            "business_name": "Will, Hand and Armstrong",
            "business_tax_id_provided": false,
            "dob": {
              "day": 31,
              "month": 5,
              "year": 1998
            },
            "first_name": "Sharika",
            "last_name": "Kerluke",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527770789,
            "ip": "92.201.40.36",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 31 May 2018 12:46:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=rico%40oconnerohara.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cxlix1EEVtUupq",
          "object": "customer",
          "account_balance": 0,
          "created": 1527770791,
          "currency": null,
          "default_source": "card_1CXqAlI93ruT9p2PFqlZZpPc",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "rico@oconnerohara.us",
          "invoice_prefix": "C1714C1",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CXqAlI93ruT9p2PFqlZZpPc",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cxlix1EEVtUupq",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cxlix1EEVtUupq/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cxlix1EEVtUupq/subscriptions"
          }
        }
  recorded_at: Thu, 31 May 2018 12:46:33 GMT
recorded_with: VCR 4.0.0
