---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=patience.nitzsche%40tromphaag.co.uk&legal_entity[business_name]=Mills-Ebert&legal_entity[dob][day]=25&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Farrah&legal_entity[last_name]=Pfeffer&legal_entity[personal_id_number]=580-95-2887&legal_entity[type]=company&legal_entity[address][city]=Lake+Beulahmouth&legal_entity[address][country]=US&legal_entity[address][line1]=484+Zemlak+Run&legal_entity[address][postal_code]=91110&legal_entity[address][state]=IA&tos_acceptance[date]=1532526037&tos_acceptance[ip]=6.220.65.41
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CrnEIF8jB4WO922",
          "object": "account",
          "business_name": "Mills-Ebert",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532526038,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "patience.nitzsche@tromphaag.co.uk",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CrnEIF8jB4WO922/external_accounts"
          },
          "keys": {
            "secret": "sk_test_4T1AZxaft3YKfl7ArT9GSLxh",
            "publishable": "pk_test_1LJeIXgzwIwro5Zn1NC1Gzka"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Lake Beulahmouth",
              "country": "US",
              "line1": "484 Zemlak Run",
              "line2": null,
              "postal_code": "91110",
              "state": "IA"
            },
            "business_name": "Mills-Ebert",
            "business_tax_id_provided": false,
            "dob": {
              "day": 25,
              "month": 7,
              "year": 1998
            },
            "first_name": "Farrah",
            "last_name": "Pfeffer",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532526037,
            "ip": "6.220.65.41",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 25 Jul 2018 13:40:39 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=michale%40witting.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DIO0fhxN24DzEF",
          "object": "customer",
          "account_balance": 0,
          "created": 1532526043,
          "currency": null,
          "default_source": "card_1CrnENI93ruT9p2PmhiWzsUl",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "michale@witting.us",
          "invoice_prefix": "502ADA0",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CrnENI93ruT9p2PmhiWzsUl",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DIO0fhxN24DzEF",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DIO0fhxN24DzEF/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DIO0fhxN24DzEF/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jul 2018 13:40:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CrnENI93ruT9p2PmhiWzsUl&amount=2000&currency=usd&description=Spree+Order+ID%3A+R390529999-P2YCZ8IU&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DIO0fhxN24DzEF&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CrnEOI93ruT9p2PcPe806mA",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532526044,
          "currency": "usd",
          "customer": "cus_DIO0fhxN24DzEF",
          "description": "Spree Order ID: R390529999-P2YCZ8IU",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CrnEOI93ruT9p2PcPe806mA/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CrnENI93ruT9p2PmhiWzsUl",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DIO0fhxN24DzEF",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 25 Jul 2018 13:40:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CrnEOI93ruT9p2PcPe806mA/refunds
    body:
      encoding: UTF-8
      string: expand[]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_1CrnEQI93ruT9p2PrzVW8MvO",
          "object": "refund",
          "amount": 2000,
          "balance_transaction": null,
          "charge": {
            "id": "ch_1CrnEOI93ruT9p2PcPe806mA",
            "object": "charge",
            "amount": 2000,
            "amount_refunded": 2000,
            "application": null,
            "application_fee": null,
            "balance_transaction": null,
            "captured": false,
            "created": 1532526044,
            "currency": "usd",
            "customer": "cus_DIO0fhxN24DzEF",
            "description": "Spree Order ID: R390529999-P2YCZ8IU",
            "destination": null[...]
