---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=lino%40watsica.biz&legal_entity[business_name]=Jenkins%2C+Mosciski+and+Braun&legal_entity[dob][day]=19&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Earle&legal_entity[last_name]=Lynch&legal_entity[personal_id_number]=664-32-5441&legal_entity[type]=company&legal_entity[address][city]=East+Mona&legal_entity[address][country]=US&legal_entity[address][line1]=50804+Terri+Lake&legal_entity[address][postal_code]=91110&legal_entity[address][state]=DE&tos_acceptance[date]=1531995839&tos_acceptance[ip]=109.80.37.48
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpZIiBqNoqkK7q7",
          "object": "account",
          "business_name": "Jenkins, Mosciski and Braun",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531995840,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "lino@watsica.biz",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpZIiBqNoqkK7q7/external_accounts"
          },
          "keys": {
            "secret": "sk_test_CXT14t1hj4f7eySU21ND4qk3",
            "publishable": "pk_test_Id8nPvw6vqcxJFpt3ze6Ckxl"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "East Mona",
              "country": "US",
              "line1": "50804 Terri Lake",
              "line2": null,
              "postal_code": "91110",
              "state": "DE"
            },
            "business_name": "Jenkins, Mosciski and Braun",
            "business_tax_id_provided": false,
            "dob": {
              "day": 19,
              "month": 7,
              "year": 1998
            },
            "first_name": "Earle",
            "last_name": "Lynch",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531995839,
            "ip": "109.80.37.48",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 19 Jul 2018 10:24:01 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=margaretta.mcglynn%40swaniawski.com&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DG5TpUsQpIg6Yh",
          "object": "customer",
          "account_balance": 0,
          "created": 1531995845,
          "currency": null,
          "default_source": "card_1CpZInI93ruT9p2PmLfrBUie",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "margaretta.mcglynn@swaniawski.com",
          "invoice_prefix": "30DC04C",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpZInI93ruT9p2PmLfrBUie",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DG5TpUsQpIg6Yh",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DG5TpUsQpIg6Yh/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DG5TpUsQpIg6Yh/subscriptions"
          }
        }
  recorded_at: Thu, 19 Jul 2018 10:24:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpZInI93ruT9p2PmLfrBUie&amount=2000&currency=usd&description=Spree+Order+ID%3A+R340823625-PTUVZFSK&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DG5TpUsQpIg6Yh&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpZIoI93ruT9p2Pd4UkPRsR",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531995846,
          "currency": "usd",
          "customer": "cus_DG5TpUsQpIg6Yh",
          "description": "Spree Order ID: R340823625-PTUVZFSK",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpZIoI93ruT9p2Pd4UkPRsR/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpZInI93ruT9p2PmLfrBUie",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DG5TpUsQpIg6Yh",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 19 Jul 2018 10:24:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpZIoI93ruT9p2Pd4UkPRsR/capture
    body:
      encoding: UTF-8
      string: amount=2000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpZIoI93ruT9p2Pd4UkPRsR&destination=acct_1CpZIkLu8Yrs6MNs&amount=956&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpZIrI93ruT9p2PHxYevnMk",
          "object": "transfer",
          "amount": 956,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpZIrI93ruT9p2PBiRHKmkK",
          "created": 1531995849,
          "currency": "usd",
          "date": 1531995849,
          "description": null,
          "destination": "acct_1CpZIkLu8Yrs6MNs",
          "destination_payment": "py_1CpZIrLu8Yrs6MNsQClAsyEW",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpZIrI93ruT9p2PHxYevnMk/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpZIoI93ruT9p2Pd4UkPRsR",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpZIoI93ruT9p2Pd4UkPRsR",
          "type": "stripe_account"
        }
  recorded_at: Thu, 19 Jul 2018 10:24:10 GMT
[...]
