---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=fae_swaniawski%40douglas.co.uk&legal_entity[business_name]=Walsh+and+Sons&legal_entity[dob][day]=19&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Santina&legal_entity[last_name]=Bartoletti&legal_entity[personal_id_number]=069-05-5982&legal_entity[type]=company&legal_entity[address][city]=North+Stanshire&legal_entity[address][country]=US&legal_entity[address][line1]=744+Marine+Park&legal_entity[address][postal_code]=91110&legal_entity[address][state]=MN&tos_acceptance[date]=1531995855&tos_acceptance[ip]=167.229.31.76
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpZIyCyKObC0o95",
          "object": "account",
          "business_name": "Walsh and Sons",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531995856,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "fae_swaniawski@douglas.co.uk",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpZIyCyKObC0o95/external_accounts"
          },
          "keys": {
            "secret": "sk_test_GkXMsaR9Y4SAPXdLcB9ozzXn",
            "publishable": "pk_test_ajaUH6h3q7iZa5C5c2sZGwAC"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "North Stanshire",
              "country": "US",
              "line1": "744 Marine Park",
              "line2": null,
              "postal_code": "91110",
              "state": "MN"
            },
            "business_name": "Walsh and Sons",
            "business_tax_id_provided": false,
            "dob": {
              "day": 19,
              "month": 7,
              "year": 1998
            },
            "first_name": "Santina",
            "last_name": "Bartoletti",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531995855,
            "ip": "167.229.31.76",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 19 Jul 2018 10:24:17 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=billy%40hauck.biz&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DG5UOhfOHJYXte",
          "object": "customer",
          "account_balance": 0,
          "created": 1531995861,
          "currency": null,
          "default_source": "card_1CpZJ3I93ruT9p2PDkthKmDz",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "billy@hauck.biz",
          "invoice_prefix": "C276FF8",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpZJ3I93ruT9p2PDkthKmDz",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DG5UOhfOHJYXte",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DG5UOhfOHJYXte/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DG5UOhfOHJYXte/subscriptions"
          }
        }
  recorded_at: Thu, 19 Jul 2018 10:24:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpZJ3I93ruT9p2PDkthKmDz&amount=2000&currency=usd&description=Spree+Order+ID%3A+R843742941-PXZBTY7Q&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DG5UOhfOHJYXte&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpZJ4I93ruT9p2PPBYpoYej",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531995862,
          "currency": "usd",
          "customer": "cus_DG5UOhfOHJYXte",
          "description": "Spree Order ID: R843742941-PXZBTY7Q",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpZJ4I93ruT9p2PPBYpoYej/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpZJ3I93ruT9p2PDkthKmDz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DG5UOhfOHJYXte",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 19 Jul 2018 10:24:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpZJ4I93ruT9p2PPBYpoYej/capture
    body:
      encoding: UTF-8
      string: amount=2000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpZJ4I93ruT9p2PPBYpoYej&destination=acct_1CpZIyCyKObC0o95&amount=956&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpZJ8I93ruT9p2PJYge5czA",
          "object": "transfer",
          "amount": 956,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpZJ8I93ruT9p2PdEiXSnhp",
          "created": 1531995866,
          "currency": "usd",
          "date": 1531995866,
          "description": null,
          "destination": "acct_1CpZIyCyKObC0o95",
          "destination_payment": "py_1CpZJ8CyKObC0o95aOVgFU34",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpZJ8I93ruT9p2PJYge5czA/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpZJ4I93ruT9p2PPBYpoYej",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpZJ4I93ruT9p2PPBYpoYej",
          "type": "stripe_account"
        }
  recorded_at: Thu, 19 Jul 2018 10:24:27 GMT
[...]
