---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=janey%40kuhic.ca&legal_entity[business_name]=Reilly%2C+Treutel+and+Beier&legal_entity[dob][day]=29&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Henry&legal_entity[last_name]=Nader&legal_entity[personal_id_number]=079-92-9748&legal_entity[type]=company&legal_entity[address][city]=Lake+Racheleburgh&legal_entity[address][country]=US&legal_entity[address][line1]=69496+Russel+Locks&legal_entity[address][postal_code]=91110&legal_entity[address][state]=WA&tos_acceptance[date]=1527602894&tos_acceptance[ip]=0.75.229.39
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CX8UlA6ED8hDrua",
          "object": "account",
          "business_name": "Reilly, Treutel and Beier",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527602895,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "janey@kuhic.ca",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CX8UlA6ED8hDrua/external_accounts"
          },
          "keys": {
            "secret": "sk_test_Cy8pcr1dNYObUR9JRZAgSoAu",
            "publishable": "pk_test_IbAYY8wFSoqczXkRTQNkjKBE"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Lake Racheleburgh",
              "country": "US",
              "line1": "69496 Russel Locks",
              "line2": null,
              "postal_code": "91110",
              "state": "WA"
            },
            "business_name": "Reilly, Treutel and Beier",
            "business_tax_id_provided": false,
            "dob": {
              "day": 29,
              "month": 5,
              "year": 1998
            },
            "first_name": "Henry",
            "last_name": "Nader",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527602894,
            "ip": "0.75.229.39",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Tue, 29 May 2018 14:08:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=joaquin%40reichertkovacek.name&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cx2anBhiRXtKKi",
          "object": "customer",
          "account_balance": 0,
          "created": 1527602914,
          "currency": null,
          "default_source": "card_1CX8V4I93ruT9p2PdJowWO2w",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "joaquin@reichertkovacek.name",
          "invoice_prefix": "87F4BB9",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CX8V4I93ruT9p2PdJowWO2w",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cx2anBhiRXtKKi",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cx2anBhiRXtKKi/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cx2anBhiRXtKKi/subscriptions"
          }
        }
  recorded_at: Tue, 29 May 2018 14:08:34 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Cx2aQQXvkdqhvt/cards/card_1CX8V5I93ruT9p2PDBdZejt2
    body:
      encoding: UTF-8
      string: exp_month=12&exp_year=2019&name=Second&address_city=Herndon&address_country=US&address_state=STATE_ABBR_3&address_line1=10+Lovely+Street&address_line2=Northwest&address_zip=35005
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzS[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CX8V5I93ruT9p2PDBdZejt2&amount=1999&currency=usd&description=Spree+Order+ID%3A+R136452131-PLUB9ABL&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.78.0&customer=cus_Cx2aQQXvkdqhvt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CX8VCI93ruT9p2PHETjDoVW",
          "object": "charge",
          "amount": 1999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CX8VCI93ruT9p2PGRvOnydb",
          "captured": true,
          "created": 1527602922,
          "currency": "usd",
          "customer": "cus_Cx2aQQXvkdqhvt",
          "description": "Spree Order ID: R136452131-PLUB9ABL",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CX8VCI93ruT9p2PHETjDoVW/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CX8V5I93ruT9p2PDBdZejt2",
            "object": "card",
            "address_city": "Herndon",
            "address_country": "US",
            "address_line1": "10 Lovely Street",
            "address_line1_check": "pass",
            "address_line2": "Northwest",
            "address_state": "STATE_ABBR_3",
            "address_zip": "35005",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Cx2aQQXvkdqhvt",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "Second",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Tue, 29 May 2018 14:08:45 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CX8VCI93ruT9p2PHETjDoVW&destination=acct_1CX8UlA6ED8hDrua&amount=1999&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CX8VHI93ruT9p2PcuP5oTFC",
          "object": "transfer",
          "amount": 1999,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CX8VHI93ruT9p2P57RucgG2",
          "created": 1527602927,
          "currency": "usd",
          "date": 1527602928,
          "description": null,
          "destination": "acct_1CX8UlA6ED8hDrua",
          "destination_payment": "py_1CX8VIA6ED8hDruahoVDc6wN",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CX8VHI93ruT9p2PcuP5oTFC/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CX8VCI93ruT9p2PHETjDoVW",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CX8VCI93ruT9p2PHETjDoVW",
          "type": "stripe_account"
        }
  recorded_at: Tue, 29 May 2018 14:08:48 GMT
[...]
