---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=cari%40mayer.co.uk&card[number]=4111111111111111&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123&card[name]=Spree+Commerce&card[address_line1]=10+Lovely+Street&card[address_line2]=Northwest&card[address_country]=NAME_37&card[address_zip]=35005&card[address_state]=STATE_NAME_48&card[address_city]=Herndon
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CuvUzhtAjZ3p6I",
          "object": "customer",
          "account_balance": 0,
          "created": 1527115220,
          "currency": null,
          "default_source": "card_1CV5d222AWtpwVQmsb9k2vKP",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "cari@mayer.co.uk",
          "invoice_prefix": "6B8245A",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CV5d222AWtpwVQmsb9k2vKP",
                "object": "card",
                "address_city": "Herndon",
                "address_country": "NAME_37",
                "address_line1": "10 Lovely Street",
                "address_line1_check": "pass",
                "address_line2": "Northwest",
                "address_state": "STATE_NAME_48",
                "address_zip": "35005",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CuvUzhtAjZ3p6I",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "nMGtzMc0CKPKDH0u",
                "funding": "unknown",
                "last4": "1111",
                "metadata": {},
                "name": "Spree Commerce",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CuvUzhtAjZ3p6I/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CuvUzhtAjZ3p6I/subscriptions"
          }
        }
  recorded_at: Wed, 23 May 2018 22:40:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CuvUzhtAjZ3p6I/cards/card_1CV5d222AWtpwVQmsb9k2vKP
    body:
      encoding: UTF-8
      string: exp_month=12&exp_year=2019&name=Spree+Commerce&address_city=Herndon&address_country=US&address_state=STATE_ABBR_48&address_line1=10+Lovely+Street&address_line2=Northwest&address_zip=35005
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVU[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CV5d222AWtpwVQmsb9k2vKP&amount=1999&currency=usd&description=Spree+Order+ID%3A+R865768388-POFWCIIC&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.78.0&customer=cus_CuvUzhtAjZ3p6I&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CV5d922AWtpwVQmqkzj03n2",
          "object": "charge",
          "amount": 1999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1527115227,
          "currency": "usd",
          "customer": "cus_CuvUzhtAjZ3p6I",
          "description": "Spree Order ID: R865768388-POFWCIIC",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CV5d922AWtpwVQmqkzj03n2/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CV5d222AWtpwVQmsb9k2vKP",
            "object": "card",
            "address_city": "Herndon",
            "address_country": "US",
            "address_line1": "10 Lovely Street",
            "address_line1_check": "pass",
            "address_line2": "Northwest",
            "address_state": "STATE_ABBR_48",
            "address_zip": "35005",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CuvUzhtAjZ3p6I",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "nMGtzMc0CKPKDH0u",
            "funding": "unknown",
            "last4": "1111",
            "metadata": {},
            "name": "Spree Commerce",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 23 May 2018 22:40:28 GMT
[...]
