---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=candis%40king.us&legal_entity[business_name]=Runolfsdottir-Upton&legal_entity[dob][day]=31&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Mindy&legal_entity[last_name]=Koch&legal_entity[personal_id_number]=311-79-5152&legal_entity[type]=company&legal_entity[address][city]=Malenachester&legal_entity[address][country]=US&legal_entity[address][line1]=829+Herman+Isle&legal_entity[address][postal_code]=91110&legal_entity[address][state]=UT&tos_acceptance[date]=1527772222&tos_acceptance[ip]=119.255.19.102
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CXqXrBJHAgeX14A",
          "object": "account",
          "business_name": "Runolfsdottir-Upton",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527772224,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "candis@king.us",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CXqXrBJHAgeX14A/external_accounts"
          },
          "keys": {
            "secret": "sk_test_Qahi1VlHvzid5StMmKlm77FJ",
            "publishable": "pk_test_YrszyEUDlBC07rvgWfNrhDkt"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Malenachester",
              "country": "US",
              "line1": "829 Herman Isle",
              "line2": null,
              "postal_code": "91110",
              "state": "UT"
            },
            "business_name": "Runolfsdottir-Upton",
            "business_tax_id_provided": false,
            "dob": {
              "day": 31,
              "month": 5,
              "year": 1998
            },
            "first_name": "Mindy",
            "last_name": "Koch",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527772222,
            "ip": "119.255.19.102",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 31 May 2018 13:10:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=lynnette_botsford%40ebert.com&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cxm641TO2bjkOI",
          "object": "customer",
          "account_balance": 0,
          "created": 1527772226,
          "currency": null,
          "default_source": "card_1CXqXuI93ruT9p2Pm8IhIKhv",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "lynnette_botsford@ebert.com",
          "invoice_prefix": "3312E27",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CXqXuI93ruT9p2Pm8IhIKhv",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cxm641TO2bjkOI",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cxm641TO2bjkOI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cxm641TO2bjkOI/subscriptions"
          }
        }
  recorded_at: Thu, 31 May 2018 13:10:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CXqXuI93ruT9p2Pm8IhIKhv&amount=1000&currency=usd&description=Spree+Order+ID%3A+R912770133-PNXW5NJH&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.79.0&customer=cus_Cxm641TO2bjkOI
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CXqXvI93ruT9p2PZq3eahvv",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CXqXwI93ruT9p2Py7g7ZQ02",
          "captured": true,
          "created": 1527772227,
          "currency": "usd",
          "customer": "cus_Cxm641TO2bjkOI",
          "description": "Spree Order ID: R912770133-PNXW5NJH",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CXqXvI93ruT9p2PZq3eahvv/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CXqXuI93ruT9p2Pm8IhIKhv",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Cxm641TO2bjkOI",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 31 May 2018 13:10:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CXqXvI93ruT9p2PZq3eahvv&destination=acct_1CXqXrBJHAgeX14A&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CXqXxI93ruT9p2Pm4rUld0A",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CXqXxI93ruT9p2PO5doAxEW",
          "created": 1527772229,
          "currency": "usd",
          "date": 1527772229,
          "description": null,
          "destination": "acct_1CXqXrBJHAgeX14A",
          "destination_payment": "py_1CXqXxBJHAgeX14Ao0tKHXy0",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CXqXxI93ruT9p2Pm4rUld0A/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CXqXvI93ruT9p2PZq3eahvv",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CXqXvI93ruT9p2PZq3eahvv",
          "type": "stripe_account"
        }
  recorded_at: Thu, 31 May 2018 13:10:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_1CXqXxI93ruT9p2Pm4rUld0A/reversals
    body:
      encoding: UTF-8
      string: amount=941
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "trr_1CXqXzI93ruT9p2PlSFnWejh",
          "object": "transfer_reversal",
          "amount": 941,
          "balance_transaction": "txn_1CXqXzI93ruT9p2PjIbOQ1r4",
          "created": 1527772231,
          "currency": "usd",
          "metadata": {},
          "transfer": "tr_1CXqXxI93ruT9p2Pm4rUld0A"
        }
  recorded_at: Thu, 31 May 2018 13:10:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CXqXvI93ruT9p2PZq3eahvv/refunds
    body:
      encoding: UTF-8
      string: amount=941&expand[]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_1CXqY1I93ruT9p2PhThzYR9r",
          "object": "refund",
          "amount": 941,
          "balance_transaction": "txn_1CXqY1I93ruT9p2Ph7aEqiwO",
          "charge": {
            "id": "ch_1CXqXvI93ruT9p2PZq3eahvv",
            "object": "charge",
            "amount": 1000,
            "amount_refunded": 941,
            "application": null,
            "application_fee": null,
            "balance_transaction": "txn_1CXqXwI93ruT9p2Py7g7ZQ02",
            "captured": true,
            "created": 1527772227,
            "currency": "usd",
            "customer": "cus_Cxm641TO2bjkOI",
            "description": "Spree Order ID: R912770133-PNXW5NJH",
       [...]
