---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=jesse%40daughertydooley.name&legal_entity[business_name]=Runolfsdottir%2C+Cronin+and+Russel&legal_entity[dob][day]=19&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Dwight&legal_entity[last_name]=Yost&legal_entity[personal_id_number]=319-92-5702&legal_entity[type]=company&legal_entity[address][city]=North+Voncile&legal_entity[address][country]=US&legal_entity[address][line1]=9568+Reilly+Creek&legal_entity[address][postal_code]=91110&legal_entity[address][state]=MT&tos_acceptance[date]=1531995870&tos_acceptance[ip]=91.142.47.155
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpZJDBBXbJv8PJe",
          "object": "account",
          "business_name": "Runolfsdottir, Cronin and Russel",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531995871,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "jesse@daughertydooley.name",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpZJDBBXbJv8PJe/external_accounts"
          },
          "keys": {
            "secret": "sk_test_cf13V3ag7ZJwl12lY7HnSSEu",
            "publishable": "pk_test_Hzkex9Jvc8TmVNeAbpMFzgpl"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "North Voncile",
              "country": "US",
              "line1": "9568 Reilly Creek",
              "line2": null,
              "postal_code": "91110",
              "state": "MT"
            },
            "business_name": "Runolfsdottir, Cronin and Russel",
            "business_tax_id_provided": false,
            "dob": {
              "day": 19,
              "month": 7,
              "year": 1998
            },
            "first_name": "Dwight",
            "last_name": "Yost",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531995870,
            "ip": "91.142.47.155",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 19 Jul 2018 10:24:32 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=rosaria.abbott%40hermannabshire.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DG5UySdoNgScJO",
          "object": "customer",
          "account_balance": 0,
          "created": 1531995875,
          "currency": null,
          "default_source": "card_1CpZJHI93ruT9p2PQ93zbGmn",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "rosaria.abbott@hermannabshire.us",
          "invoice_prefix": "F1DD8D6",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpZJHI93ruT9p2PQ93zbGmn",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DG5UySdoNgScJO",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DG5UySdoNgScJO/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DG5UySdoNgScJO/subscriptions"
          }
        }
  recorded_at: Thu, 19 Jul 2018 10:24:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpZJHI93ruT9p2PQ93zbGmn&amount=2000&currency=usd&description=Spree+Order+ID%3A+R522645865-PSL5GHDB&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DG5UySdoNgScJO&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpZJJI93ruT9p2PgVb32Ikt",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531995877,
          "currency": "usd",
          "customer": "cus_DG5UySdoNgScJO",
          "description": "Spree Order ID: R522645865-PSL5GHDB",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpZJJI93ruT9p2PgVb32Ikt/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpZJHI93ruT9p2PQ93zbGmn",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DG5UySdoNgScJO",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 19 Jul 2018 10:24:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpZJJI93ruT9p2PgVb32Ikt/capture
    body:
      encoding: UTF-8
      string: amount=2000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpZJJI93ruT9p2PgVb32Ikt&destination=acct_1CpZJDBBXbJv8PJe&amount=956&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpZJMI93ruT9p2PJDSsit31",
          "object": "transfer",
          "amount": 956,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpZJMI93ruT9p2P11UL9APm",
          "created": 1531995880,
          "currency": "usd",
          "date": 1531995880,
          "description": null,
          "destination": "acct_1CpZJDBBXbJv8PJe",
          "destination_payment": "py_1CpZJMBBXbJv8PJe3tbtJauM",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpZJMI93ruT9p2PJDSsit31/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpZJJI93ruT9p2PgVb32Ikt",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpZJJI93ruT9p2PgVb32Ikt",
          "type": "stripe_account"
        }
  recorded_at: Thu, 19 Jul 2018 10:24:41 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_1CpZJMI93ruT9p2PJDSsit31/reversals
    body:
      encoding: UTF-8
      string: amount=956
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "trr_1CpZJRI93ruT9p2PLGWAEOHJ",
          "object": "transfer_reversal",
          "amount": 956,
          "balance_transaction": "txn_1CpZJRI93ruT9p2PDydtRWNj",
          "created": 1531995885,
          "currency": "usd",
          "metadata": {},
          "transfer": "tr_1CpZJMI93ruT9p2PJDSsit31"
        }
  recorded_at: Thu, 19 Jul 2018 10:24:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpZJJI93ruT9p2PgVb32Ikt/refunds
    body:
      encoding: UTF-8
      string: amount=956&expand[]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_1CpZJTI93ruT9p2PH55R5LsF",
          "object": "refund",
          "amount": 956,
          "balance_transaction": "txn_1CpZJTI93ruT9p2PqVzuIK46",
          "charge": {
            "id": "ch_1CpZJJI93ruT9p2PgVb32Ikt",
            "object": "charge",
            "amount": 2000,
            "amount_refunded": 956,
            "application": null,
            "application_fee": null,
            "balance_transaction": "txn_1CpZJKI93ruT9p2PmgDPMFeQ",
            "captured": true,
            "created": 1531995877,
            "currency": "usd",
            "customer": "cus_DG5UySdoNgScJO",
            "description": "Spree Order ID: R522645865-PSL5GHDB",
       [...]
