---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=hollie%40koss.name&card=tok_1CDtWX22AWtpwVQmKW7sMMie
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cd9qgm5qY5RWAt",
          "object": "customer",
          "account_balance": 0,
          "created": 1523017114,
          "currency": null,
          "default_source": "card_1CDtWW22AWtpwVQmO75EVvBZ",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "hollie@koss.name",
          "invoice_prefix": "877F578",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CDtWW22AWtpwVQmO75EVvBZ",
                "object": "card",
                "address_city": "Herndon",
                "address_country": "US",
                "address_line1": "10 Lovely Street",
                "address_line1_check": "pass",
                "address_line2": "Northwest",
                "address_state": "",
                "address_zip": "35005",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cd9qgm5qY5RWAt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2019,
                "fingerprint": "oqxXQNLfpOSk3nV8",
                "funding": "debit",
                "last4": "5556",
                "metadata": {},
                "name": "First name",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cd9qgm5qY5RWAt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cd9qgm5qY5RWAt/subscriptions"
          }
        }
  recorded_at: Fri, 06 Apr 2018 12:18:35 GMT
recorded_with: VCR 4.0.0
