---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=clarisa%40danielcremin.name&legal_entity[business_name]=Reilly+Inc&legal_entity[dob][day]=18&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Seth&legal_entity[last_name]=Dietrich&legal_entity[personal_id_number]=211-33-2611&legal_entity[type]=company&legal_entity[address][city]=Amalview&legal_entity[address][country]=US&legal_entity[address][line1]=988+Graham+Mount&legal_entity[address][postal_code]=91110&legal_entity[address][state]=ND&tos_acceptance[date]=1531946889&tos_acceptance[ip]=115.109.106.244
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpMZCLnKdt9vaFS",
          "object": "account",
          "business_name": "Reilly Inc",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531946891,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "clarisa@danielcremin.name",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpMZCLnKdt9vaFS/external_accounts"
          },
          "keys": {
            "secret": "sk_test_EKh5t20mm4Y7Ig6fuWbLO50e",
            "publishable": "pk_test_FGLht2oN5Cix4bEFBlPn6X4p"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Amalview",
              "country": "US",
              "line1": "988 Graham Mount",
              "line2": null,
              "postal_code": "91110",
              "state": "ND"
            },
            "business_name": "Reilly Inc",
            "business_tax_id_provided": false,
            "dob": {
              "day": 18,
              "month": 7,
              "year": 1998
            },
            "first_name": "Seth",
            "last_name": "Dietrich",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531946889,
            "ip": "115.109.106.244",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:48:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=lauri_goldner%40sawayn.name&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DFsJ61AEHmx9ZU",
          "object": "customer",
          "account_balance": 0,
          "created": 1531946892,
          "currency": null,
          "default_source": "card_1CpMZEI93ruT9p2PjDBtdew7",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "lauri_goldner@sawayn.name",
          "invoice_prefix": "55E7AE8",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpMZEI93ruT9p2PjDBtdew7",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DFsJ61AEHmx9ZU",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DFsJ61AEHmx9ZU/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DFsJ61AEHmx9ZU/subscriptions"
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:48:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpMZEI93ruT9p2PjDBtdew7&amount=2000&currency=usd&description=Spree+Order+ID%3A+R954707678-P7V54ITM&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DFsJ61AEHmx9ZU&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpMZGI93ruT9p2PBQ3JP6hO",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531946894,
          "currency": "usd",
          "customer": "cus_DFsJ61AEHmx9ZU",
          "description": "Spree Order ID: R954707678-P7V54ITM",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpMZGI93ruT9p2PBQ3JP6hO/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpMZEI93ruT9p2PjDBtdew7",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DFsJ61AEHmx9ZU",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 18 Jul 2018 20:48:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpMZGI93ruT9p2PBQ3JP6hO/capture
    body:
      encoding: UTF-8
      string: amount=1000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpMZGI93ruT9p2PBQ3JP6hO&destination=acct_1CpMZCLnKdt9vaFS&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpMZKI93ruT9p2PGKM1pVaY",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpMZKI93ruT9p2PjV3fOBxX",
          "created": 1531946898,
          "currency": "usd",
          "date": 1531946898,
          "description": null,
          "destination": "acct_1CpMZCLnKdt9vaFS",
          "destination_payment": "py_1CpMZKLnKdt9vaFSa5PTplCd",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpMZKI93ruT9p2PGKM1pVaY/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpMZGI93ruT9p2PBQ3JP6hO",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpMZGI93ruT9p2PBQ3JP6hO",
          "type": "stripe_account"
        }
  recorded_at: Wed, 18 Jul 2018 20:48:19 GMT
recorded_with: VCR 4.0.0
