---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=laurette_satterfield%40satterfieldgulgowski.co.uk&legal_entity[business_name]=Green+Group&legal_entity[dob][day]=18&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Angelo&legal_entity[last_name]=Sporer&legal_entity[personal_id_number]=767-25-1196&legal_entity[type]=company&legal_entity[address][city]=East+Lolita&legal_entity[address][country]=US&legal_entity[address][line1]=8193+Ullrich+Flats&legal_entity[address][postal_code]=91110&legal_entity[address][state]=NC&tos_acceptance[date]=1531946900&tos_acceptance[ip]=137.244.150.113
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpMZNL7uQSemO4J",
          "object": "account",
          "business_name": "Green Group",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531946901,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "laurette_satterfield@satterfieldgulgowski.co.uk",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpMZNL7uQSemO4J/external_accounts"
          },
          "keys": {
            "secret": "sk_test_Kut1scrrz59sFNfFF4cwn5DP",
            "publishable": "pk_test_mJr8z0vXB2S2jcw8RJdM5qIe"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "East Lolita",
              "country": "US",
              "line1": "8193 Ullrich Flats",
              "line2": null,
              "postal_code": "91110",
              "state": "NC"
            },
            "business_name": "Green Group",
            "business_tax_id_provided": false,
            "dob": {
              "day": 18,
              "month": 7,
              "year": 1998
            },
            "first_name": "Angelo",
            "last_name": "Sporer",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531946900,
            "ip": "137.244.150.113",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:48:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=cora_vandervort%40walsh.biz&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DFsKynspWW7kGR",
          "object": "customer",
          "account_balance": 0,
          "created": 1531946903,
          "currency": null,
          "default_source": "card_1CpMZPI93ruT9p2PPeAVwr6N",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "cora_vandervort@walsh.biz",
          "invoice_prefix": "9518EF0",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpMZPI93ruT9p2PPeAVwr6N",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DFsKynspWW7kGR",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DFsKynspWW7kGR/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DFsKynspWW7kGR/subscriptions"
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:48:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpMZPI93ruT9p2PPeAVwr6N&amount=2000&currency=usd&description=Spree+Order+ID%3A+R135612961-PK2CD0O3&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DFsKynspWW7kGR&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpMZQI93ruT9p2PyGxtaqqe",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1531946904,
          "currency": "usd",
          "customer": "cus_DFsKynspWW7kGR",
          "description": "Spree Order ID: R135612961-PK2CD0O3",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpMZQI93ruT9p2PyGxtaqqe/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpMZPI93ruT9p2PPeAVwr6N",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DFsKynspWW7kGR",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 18 Jul 2018 20:48:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpMZQI93ruT9p2PyGxtaqqe/capture
    body:
      encoding: UTF-8
      string: amount=1000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpMZQI93ruT9p2PyGxtaqqe&destination=acct_1CpMZNL7uQSemO4J&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpMZUI93ruT9p2PhIlyt1XX",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpMZUI93ruT9p2PYV7PwSmJ",
          "created": 1531946908,
          "currency": "usd",
          "date": 1531946908,
          "description": null,
          "destination": "acct_1CpMZNL7uQSemO4J",
          "destination_payment": "py_1CpMZUL7uQSemO4JDyoM96ah",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpMZUI93ruT9p2PhIlyt1XX/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpMZQI93ruT9p2PyGxtaqqe",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpMZQI93ruT9p2PyGxtaqqe",
          "type": "stripe_account"
        }
  recorded_at: Wed, 18 Jul 2018 20:48:29 GMT
recorded_with: VCR 4.0.0
