---
http_interactions:
- request:
    method: post
    uri: http://contentcafe2.btol.com/contentcafe/contentcafe.asmx
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://ContentCafe2.btol.com">  <SOAP-ENV:Body>    <ns1:XmlString>      <ns1:xmlRequest>&lt;ContentCafe
        xmlns=&quot;http://ContentCafe2.btol.com&quot;&gt;&lt;RequestItems UserID=&quot;<BTOL_USER>&quot;
        Password=&quot;<BTOL_PASSWORD>&quot;&gt;&lt;RequestItem&gt;&lt;Key Type=&quot;ISBN&quot;&gt;9780688003296&lt;/Key&gt;&lt;Content&gt;ProductDetail&lt;/Content&gt;&lt;Content&gt;AnnotationDetail&lt;/Content&gt;&lt;/RequestItem&gt;&lt;/RequestItems&gt;&lt;/ContentCafe&gt;</ns1:xmlRequest>    </ns1:XmlString>  </SOAP-ENV:Body></SOAP-ENV:Envelope>          '
    headers:
      Soapaction:
      - http://ContentCafe2.btol.com/XmlString
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><XmlStringResponse
        xmlns="http://ContentCafe2.btol.com"><ContentCafe DateTime="2018-02-19T10:05:08.1003931-05:00"><RequestItems
        UserID="<BTOL_USER>" Password="BWTCCPROD01"><RequestItem><Key Type="ISBN"
        Original="9780688003296">9780688003296</Key><Content>ProductDetail</Content><Content>AnnotationDetail</Content><AnnotationItems
        /><ProductItems><ProductItem ID="3897666"><ISBN>9780688003296</ISBN><Title>Queen
        Mother</Title><Author>Longford, Elizabeth Harman Pakenham, Countess of</Author><Source
        Code="BTB">B&amp;T Books</Source><Product Code="BOOK">Book</Product><Supplier
        Code="MORRO">William Morrow &amp; Co</Supplier><ListPrice>17.95</ListPrice><PubDate>1981-07-01</PubDate><Format
        Code="HRD">Hardcover</Format><Report Code="OP">Out of Print</Report><BTKey>BK0000463030</BTKey><Dewey>941.0840924B19921ELIZA=BETH&#x16;</Dewey><LCCN>800853600</LCCN><LCClass>DA585.A2L66</LCClass><Language
        Code="ENG">English</Language><ReviewCode>EGPL</ReviewCode><ReviewCode>JCL</ReviewCode><ReviewCode>TRAD</ReviewCode><Created>2001-01-27</Created><Updated>2005-12-08</Updated><Active>false</Active><Returnable>false</Returnable><DiscountKey>N</DiscountKey><CPSIA_Warning>false</CPSIA_Warning><PhysicalFormats><PhysicalFormat
        Type="Primary"><FormatName>Hardcover</FormatName></PhysicalFormat></PhysicalFormats></ProductItem></ProductItems></RequestItem></RequestItems></ContentCafe></XmlStringResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 19 Feb 2018 15:05:08 GMT
recorded_with: VCR 4.0.0
