---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=renetta.hackett%40dicki.com&legal_entity[business_name]=Ondricka+Group&legal_entity[dob][day]=31&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Isidra&legal_entity[last_name]=Reichel&legal_entity[personal_id_number]=795-94-7092&legal_entity[type]=company&legal_entity[address][city]=Port+Teressastad&legal_entity[address][country]=US&legal_entity[address][line1]=295+Love+Greens&legal_entity[address][postal_code]=91110&legal_entity[address][state]=NE&tos_acceptance[date]=1527770794&tos_acceptance[ip]=0.234.77.210
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CXqApFTAol0kwpC",
          "object": "account",
          "business_name": "Ondricka Group",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527770795,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "renetta.hackett@dicki.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CXqApFTAol0kwpC/external_accounts"
          },
          "keys": {
            "secret": "sk_test_ZtDJLKvujUWIGaR51AT4XagC",
            "publishable": "pk_test_eS1R8U1PB81SW4gK9rMAFc5p"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Port Teressastad",
              "country": "US",
              "line1": "295 Love Greens",
              "line2": null,
              "postal_code": "91110",
              "state": "NE"
            },
            "business_name": "Ondricka Group",
            "business_tax_id_provided": false,
            "dob": {
              "day": 31,
              "month": 5,
              "year": 1998
            },
            "first_name": "Isidra",
            "last_name": "Reichel",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527770794,
            "ip": "0.234.77.210",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 31 May 2018 12:46:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gearldine.rodriguez%40buckridge.com&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cxli2ELtT8rMt1",
          "object": "customer",
          "account_balance": 0,
          "created": 1527770796,
          "currency": null,
          "default_source": "card_1CXqAqI93ruT9p2PLfVF0OIE",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gearldine.rodriguez@buckridge.com",
          "invoice_prefix": "AF8593C",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CXqAqI93ruT9p2PLfVF0OIE",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cxli2ELtT8rMt1",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cxli2ELtT8rMt1/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cxli2ELtT8rMt1/subscriptions"
          }
        }
  recorded_at: Thu, 31 May 2018 12:46:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CXqAqI93ruT9p2PLfVF0OIE&amount=1000&currency=usd&description=Spree+Order+ID%3A+R870738269-PR671JQS&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.79.0&customer=cus_Cxli2ELtT8rMt1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CXqAsI93ruT9p2PJjW9KS4X",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CXqAsI93ruT9p2PtiUDpWL3",
          "captured": true,
          "created": 1527770798,
          "currency": "usd",
          "customer": "cus_Cxli2ELtT8rMt1",
          "description": "Spree Order ID: R870738269-PR671JQS",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CXqAsI93ruT9p2PJjW9KS4X/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CXqAqI93ruT9p2PLfVF0OIE",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Cxli2ELtT8rMt1",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 31 May 2018 12:46:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CXqAsI93ruT9p2PJjW9KS4X&destination=acct_1CXqApFTAol0kwpC&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CXqAtI93ruT9p2PQvyP2JuH",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CXqAtI93ruT9p2PmHCB2aFa",
          "created": 1527770799,
          "currency": "usd",
          "date": 1527770799,
          "description": null,
          "destination": "acct_1CXqApFTAol0kwpC",
          "destination_payment": "py_1CXqAtFTAol0kwpCjDPQv0Wn",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CXqAtI93ruT9p2PQvyP2JuH/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CXqAsI93ruT9p2PJjW9KS4X",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CXqAsI93ruT9p2PJjW9KS4X",
          "type": "stripe_account"
        }
  recorded_at: Thu, 31 May 2018 12:46:40 GMT
recorded_with: VCR 4.0.0
