---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=abraham%40bergnaum.co.uk&legal_entity[business_name]=Nikolaus+and+Sons&legal_entity[dob][day]=29&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Noel&legal_entity[last_name]=Collier&legal_entity[personal_id_number]=944-07-0838&legal_entity[type]=company&legal_entity[address][city]=Mallieport&legal_entity[address][country]=US&legal_entity[address][line1]=184+Jeanne+Lock&legal_entity[address][postal_code]=91110&legal_entity[address][state]=WV&tos_acceptance[date]=1527605621&tos_acceptance[ip]=240.132.147.107
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CX9CkGlirwD1bwG",
          "object": "account",
          "business_name": "Nikolaus and Sons",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527605622,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "abraham@bergnaum.co.uk",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CX9CkGlirwD1bwG/external_accounts"
          },
          "keys": {
            "secret": "sk_test_w87jdDnkk24HN3OnVqUOcjXx",
            "publishable": "pk_test_ENfQw42JlsMkG9RhLWpPOTsH"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Mallieport",
              "country": "US",
              "line1": "184 Jeanne Lock",
              "line2": null,
              "postal_code": "91110",
              "state": "WV"
            },
            "business_name": "Nikolaus and Sons",
            "business_tax_id_provided": false,
            "dob": {
              "day": 29,
              "month": 5,
              "year": 1998
            },
            "first_name": "Noel",
            "last_name": "Collier",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527605621,
            "ip": "240.132.147.107",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Tue, 29 May 2018 14:53:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=amber%40glovermurazik.com&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Cx3JxcDZPwnRMU",
          "object": "customer",
          "account_balance": 0,
          "created": 1527605624,
          "currency": null,
          "default_source": "card_1CX9CmI93ruT9p2PKWecfYAh",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "amber@glovermurazik.com",
          "invoice_prefix": "012EC87",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CX9CmI93ruT9p2PKWecfYAh",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Cx3JxcDZPwnRMU",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Cx3JxcDZPwnRMU/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Cx3JxcDZPwnRMU/subscriptions"
          }
        }
  recorded_at: Tue, 29 May 2018 14:53:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CX9CmI93ruT9p2PKWecfYAh&amount=1000&currency=usd&description=Spree+Order+ID%3A+R847370816-PNS2OS2F&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.78.0&customer=cus_Cx3JxcDZPwnRMU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CX9CnI93ruT9p2PQiFaasc8",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CX9CnI93ruT9p2PdLS8yVnQ",
          "captured": true,
          "created": 1527605625,
          "currency": "usd",
          "customer": "cus_Cx3JxcDZPwnRMU",
          "description": "Spree Order ID: R847370816-PNS2OS2F",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CX9CnI93ruT9p2PQiFaasc8/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CX9CmI93ruT9p2PKWecfYAh",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Cx3JxcDZPwnRMU",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Tue, 29 May 2018 14:53:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CX9CnI93ruT9p2PQiFaasc8&destination=acct_1CX9CkGlirwD1bwG&amount=1000&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CX9CpI93ruT9p2P73JoCM9u",
          "object": "transfer",
          "amount": 1000,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CX9CpI93ruT9p2Prp086fps",
          "created": 1527605627,
          "currency": "usd",
          "date": 1527605627,
          "description": null,
          "destination": "acct_1CX9CkGlirwD1bwG",
          "destination_payment": "py_1CX9CpGlirwD1bwGoy61xZr5",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CX9CpI93ruT9p2P73JoCM9u/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CX9CnI93ruT9p2PQiFaasc8",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CX9CnI93ruT9p2PQiFaasc8",
          "type": "stripe_account"
        }
  recorded_at: Tue, 29 May 2018 14:53:47 GMT
recorded_with: VCR 4.0.0
