---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=valeria.collins%40bahringer.name&legal_entity[business_name]=Schultz-Kertzmann&legal_entity[dob][day]=25&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Antoinette&legal_entity[last_name]=Oberbrunner&legal_entity[personal_id_number]=277-40-7156&legal_entity[type]=company&legal_entity[address][city]=Normandburgh&legal_entity[address][country]=US&legal_entity[address][line1]=3948+Jacobson+Avenue&legal_entity[address][postal_code]=91110&legal_entity[address][state]=MN&tos_acceptance[date]=1532532310&tos_acceptance[ip]=113.215.114.107
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CrorTHyuPaTc5iP",
          "object": "account",
          "business_name": "Schultz-Kertzmann",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532532311,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "valeria.collins@bahringer.name",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CrorTHyuPaTc5iP/external_accounts"
          },
          "keys": {
            "secret": "sk_test_mEGyisSVTM97SdvaMeAD4syl",
            "publishable": "pk_test_QnBBzuJOy8jVc8199NMolubW"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Normandburgh",
              "country": "US",
              "line1": "3948 Jacobson Avenue",
              "line2": null,
              "postal_code": "91110",
              "state": "MN"
            },
            "business_name": "Schultz-Kertzmann",
            "business_tax_id_provided": false,
            "dob": {
              "day": 25,
              "month": 7,
              "year": 1998
            },
            "first_name": "Antoinette",
            "last_name": "Oberbrunner",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532532310,
            "ip": "113.215.114.107",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 25 Jul 2018 15:25:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=mozelle_hermann%40williamson.ca&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DIPgE6snRvXK1p",
          "object": "customer",
          "account_balance": 0,
          "created": 1532532313,
          "currency": null,
          "default_source": "card_1CrorVI93ruT9p2P1jfbaB0S",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "mozelle_hermann@williamson.ca",
          "invoice_prefix": "3056B82",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CrorVI93ruT9p2P1jfbaB0S",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DIPgE6snRvXK1p",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DIPgE6snRvXK1p/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DIPgE6snRvXK1p/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jul 2018 15:25:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CrorVI93ruT9p2P1jfbaB0S&amount=2000&currency=usd&description=Spree+Order+ID%3A+R698699658-P4OGROW7&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DIPgE6snRvXK1p&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CrorXI93ruT9p2P3G6qaiyH",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532532315,
          "currency": "usd",
          "customer": "cus_DIPgE6snRvXK1p",
          "description": "Spree Order ID: R698699658-P4OGROW7",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CrorXI93ruT9p2P3G6qaiyH/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CrorVI93ruT9p2P1jfbaB0S",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DIPgE6snRvXK1p",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 25 Jul 2018 15:25:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CrorXI93ruT9p2P3G6qaiyH/capture
    body:
      encoding: UTF-8
      string: amount=1000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CrorXI93ruT9p2P3G6qaiyH&destination=acct_1CrorTHyuPaTc5iP&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CrorbI93ruT9p2PP6m3Beb4",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CrorbI93ruT9p2P1TaW2nVH",
          "created": 1532532319,
          "currency": "usd",
          "date": 1532532319,
          "description": null,
          "destination": "acct_1CrorTHyuPaTc5iP",
          "destination_payment": "py_1CrorbHyuPaTc5iPhT2SEE15",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CrorbI93ruT9p2PP6m3Beb4/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CrorXI93ruT9p2P3G6qaiyH",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CrorXI93ruT9p2P3G6qaiyH",
          "type": "stripe_account"
        }
  recorded_at: Wed, 25 Jul 2018 15:25:20 GMT
recorded_with: VCR 4.0.0
