---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=traci%40swift.ca&legal_entity[business_name]=Moen+Inc&legal_entity[dob][day]=25&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Delphine&legal_entity[last_name]=Medhurst&legal_entity[personal_id_number]=582-42-8919&legal_entity[type]=company&legal_entity[address][city]=New+Sarita&legal_entity[address][country]=US&legal_entity[address][line1]=3021+Stehr+Lights&legal_entity[address][postal_code]=91110&legal_entity[address][state]=VA&tos_acceptance[date]=1532532321&tos_acceptance[ip]=24.113.75.89
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CroreHmwo15pFcT",
          "object": "account",
          "business_name": "Moen Inc",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532532322,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "traci@swift.ca",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CroreHmwo15pFcT/external_accounts"
          },
          "keys": {
            "secret": "sk_test_ha9fcCueUFuPbtkTGjfgwCP8",
            "publishable": "pk_test_Ol1M1LZRa9YugLtxdCaseH0p"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "New Sarita",
              "country": "US",
              "line1": "3021 Stehr Lights",
              "line2": null,
              "postal_code": "91110",
              "state": "VA"
            },
            "business_name": "Moen Inc",
            "business_tax_id_provided": false,
            "dob": {
              "day": 25,
              "month": 7,
              "year": 1998
            },
            "first_name": "Delphine",
            "last_name": "Medhurst",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532532321,
            "ip": "24.113.75.89",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 25 Jul 2018 15:25:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=alishia%40ohara.info&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DIPhEscQ4ZcUVt",
          "object": "customer",
          "account_balance": 0,
          "created": 1532532324,
          "currency": null,
          "default_source": "card_1CrorgI93ruT9p2PHoxo3ICq",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "alishia@ohara.info",
          "invoice_prefix": "4305194",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CrorgI93ruT9p2PHoxo3ICq",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DIPhEscQ4ZcUVt",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DIPhEscQ4ZcUVt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DIPhEscQ4ZcUVt/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jul 2018 15:25:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CrorgI93ruT9p2PHoxo3ICq&amount=2000&currency=usd&description=Spree+Order+ID%3A+R109812797-P2TCRW08&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DIPhEscQ4ZcUVt&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CroriI93ruT9p2PXIrO6YJv",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532532326,
          "currency": "usd",
          "customer": "cus_DIPhEscQ4ZcUVt",
          "description": "Spree Order ID: R109812797-P2TCRW08",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CroriI93ruT9p2PXIrO6YJv/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CrorgI93ruT9p2PHoxo3ICq",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DIPhEscQ4ZcUVt",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 25 Jul 2018 15:25:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CroriI93ruT9p2PXIrO6YJv/capture
    body:
      encoding: UTF-8
      string: amount=1000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CroriI93ruT9p2PXIrO6YJv&destination=acct_1CroreHmwo15pFcT&amount=941&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CrormI93ruT9p2PZqhkM481",
          "object": "transfer",
          "amount": 941,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CrormI93ruT9p2PAaGfkB71",
          "created": 1532532330,
          "currency": "usd",
          "date": 1532532331,
          "description": null,
          "destination": "acct_1CroreHmwo15pFcT",
          "destination_payment": "py_1CrornHmwo15pFcTvHd6mEXx",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CrormI93ruT9p2PZqhkM481/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CroriI93ruT9p2PXIrO6YJv",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CroriI93ruT9p2PXIrO6YJv",
          "type": "stripe_account"
        }
  recorded_at: Wed, 25 Jul 2018 15:25:32 GMT
recorded_with: VCR 4.0.0
