---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=sharri%40glover.name&card=tok_1CVPM622AWtpwVQm7zUz4jpU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CvFrS3hX0vVRoE",
          "object": "customer",
          "account_balance": 0,
          "created": 1527191051,
          "currency": null,
          "default_source": "card_1CVPM522AWtpwVQm64VzjxQl",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sharri@glover.name",
          "invoice_prefix": "A4FAE54",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CVPM522AWtpwVQm64VzjxQl",
                "object": "card",
                "address_city": "",
                "address_country": "US",
                "address_line1": "",
                "address_line1_check": null,
                "address_line2": null,
                "address_state": "STATE_ABBR_1",
                "address_zip": "",
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CvFrS3hX0vVRoE",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "oqxXQNLfpOSk3nV8",
                "funding": "debit",
                "last4": "5556",
                "metadata": {},
                "name": "",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CvFrS3hX0vVRoE/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CvFrS3hX0vVRoE/subscriptions"
          }
        }
  recorded_at: Thu, 24 May 2018 19:44:11 GMT
recorded_with: VCR 4.0.0
