= f.input :email, input_html: { value: f.object.email.presence }, error: f.object.errors[:email].first&.html_safe

.flex
  = f.input :first_name, input_html: { value: f.object.first_name.presence }, wrapper_html: { class: 'flex-grow-1 margin-text-right' }
  = f.input :last_name, input_html: { value: f.object.last_name.presence }, wrapper_html: { class: 'flex-grow-1 margin-text-left' }
