= f.input :email, placeholder: Spree.t(:email), required: true
= f.input :password, placeholder: Spree.t(:password), required: true, wrapper: :vertical_small_error
= f.input :password_confirmation, placeholder: t('forms.users.confirm_password'), required: true, wrapper: :vertical_small_error
