---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=felicita_kunde%40koch.info&legal_entity[business_name]=Larkin-Bednar&legal_entity[dob][day]=25&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Joi&legal_entity[last_name]=Cronin&legal_entity[personal_id_number]=978-61-7403&legal_entity[type]=company&legal_entity[address][city]=Port+Latrina&legal_entity[address][country]=US&legal_entity[address][line1]=576+Bauch+Creek&legal_entity[address][postal_code]=91110&legal_entity[address][state]=NY&tos_acceptance[date]=1532532333&tos_acceptance[ip]=185.207.207.184
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CrorpFNKiI66QAy",
          "object": "account",
          "business_name": "Larkin-Bednar",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532532334,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "felicita_kunde@koch.info",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CrorpFNKiI66QAy/external_accounts"
          },
          "keys": {
            "secret": "sk_test_OoX4odWKfcXShes4Ml2b2tj4",
            "publishable": "pk_test_9FxLmtRnajEYBayqFlXHVIW2"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Port Latrina",
              "country": "US",
              "line1": "576 Bauch Creek",
              "line2": null,
              "postal_code": "91110",
              "state": "NY"
            },
            "business_name": "Larkin-Bednar",
            "business_tax_id_provided": false,
            "dob": {
              "day": 25,
              "month": 7,
              "year": 1998
            },
            "first_name": "Joi",
            "last_name": "Cronin",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532532333,
            "ip": "185.207.207.184",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 25 Jul 2018 15:25:35 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=xochitl.murphy%40gerlach.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DIPhfEg0T0BIdl",
          "object": "customer",
          "account_balance": 0,
          "created": 1532532338,
          "currency": null,
          "default_source": "card_1CroruI93ruT9p2PyX3rxTy3",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "xochitl.murphy@gerlach.us",
          "invoice_prefix": "7DABBD5",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CroruI93ruT9p2PyX3rxTy3",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DIPhfEg0T0BIdl",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DIPhfEg0T0BIdl/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DIPhfEg0T0BIdl/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jul 2018 15:25:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CroruI93ruT9p2PyX3rxTy3&amount=10000&currency=usd&description=Spree+Order+ID%3A+R641732658-PQ1PXZL5&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DIPhfEg0T0BIdl&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CrorwI93ruT9p2PWHQtFIvn",
          "object": "charge",
          "amount": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532532340,
          "currency": "usd",
          "customer": "cus_DIPhfEg0T0BIdl",
          "description": "Spree Order ID: R641732658-PQ1PXZL5",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CrorwI93ruT9p2PWHQtFIvn/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CroruI93ruT9p2PyX3rxTy3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DIPhfEg0T0BIdl",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 25 Jul 2018 15:25:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CrorwI93ruT9p2PWHQtFIvn/capture
    body:
      encoding: UTF-8
      string: amount=3000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CrorwI93ruT9p2PWHQtFIvn&destination=acct_1CrorsIkjfcOnGe4&amount=2883&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1Cros0I93ruT9p2PBT1a4El5",
          "object": "transfer",
          "amount": 2883,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1Cros0I93ruT9p2Pl9a1YDXG",
          "created": 1532532344,
          "currency": "usd",
          "date": 1532532345,
          "description": null,
          "destination": "acct_1CrorsIkjfcOnGe4",
          "destination_payment": "py_1Cros1IkjfcOnGe4OfJmuves",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1Cros0I93ruT9p2PBT1a4El5/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CrorwI93ruT9p2PWHQtFIvn",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CrorwI93ruT9p2PWHQtFIvn",
          "type": "stripe_account"
        }
  recorded_at: Wed, 25 Jul 2018 15:25:46 GMT
recorded_with: VCR 4.0.0
