---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=blanca%40connosinski.info&legal_entity[business_name]=Ankunding-Schoen&legal_entity[dob][day]=25&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Cristina&legal_entity[last_name]=Rodriguez&legal_entity[personal_id_number]=459-18-8409&legal_entity[type]=company&legal_entity[address][city]=New+Rueben&legal_entity[address][country]=US&legal_entity[address][line1]=092+Bogisich+Causeway&legal_entity[address][postal_code]=91110&legal_entity[address][state]=OR&tos_acceptance[date]=1532532346&tos_acceptance[ip]=178.91.241.139
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1Cros3AIIT55vmNC",
          "object": "account",
          "business_name": "Ankunding-Schoen",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532532347,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "blanca@connosinski.info",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1Cros3AIIT55vmNC/external_accounts"
          },
          "keys": {
            "secret": "sk_test_Aj0IFA3Mp8mcNdgORGptxayf",
            "publishable": "pk_test_qiC8eOJ8YfyTEA9fdFFHTJDq"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "New Rueben",
              "country": "US",
              "line1": "092 Bogisich Causeway",
              "line2": null,
              "postal_code": "91110",
              "state": "OR"
            },
            "business_name": "Ankunding-Schoen",
            "business_tax_id_provided": false,
            "dob": {
              "day": 25,
              "month": 7,
              "year": 1998
            },
            "first_name": "Cristina",
            "last_name": "Rodriguez",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532532346,
            "ip": "178.91.241.139",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 25 Jul 2018 15:25:48 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=marylynn%40mayertabshire.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DIPhenW2f9kDT4",
          "object": "customer",
          "account_balance": 0,
          "created": 1532532351,
          "currency": null,
          "default_source": "card_1Cros7I93ruT9p2PpRlkWo3w",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "marylynn@mayertabshire.us",
          "invoice_prefix": "C49661C",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1Cros7I93ruT9p2PpRlkWo3w",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DIPhenW2f9kDT4",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DIPhenW2f9kDT4/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DIPhenW2f9kDT4/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jul 2018 15:25:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1Cros7I93ruT9p2PpRlkWo3w&amount=10000&currency=usd&description=Spree+Order+ID%3A+R411206941-PY0ARNHG&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DIPhenW2f9kDT4&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1Cros9I93ruT9p2P1kLA7vuu",
          "object": "charge",
          "amount": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532532353,
          "currency": "usd",
          "customer": "cus_DIPhenW2f9kDT4",
          "description": "Spree Order ID: R411206941-PY0ARNHG",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1Cros9I93ruT9p2P1kLA7vuu/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1Cros7I93ruT9p2PpRlkWo3w",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DIPhenW2f9kDT4",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 25 Jul 2018 15:25:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1Cros9I93ruT9p2P1kLA7vuu/capture
    body:
      encoding: UTF-8
      string: amount=3000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1Cros9I93ruT9p2P1kLA7vuu&destination=acct_1Cros5EIyQmEDDec&amount=2883&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CrosCI93ruT9p2P0Y9dOXRb",
          "object": "transfer",
          "amount": 2883,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CrosCI93ruT9p2PSfZHLEDD",
          "created": 1532532356,
          "currency": "usd",
          "date": 1532532357,
          "description": null,
          "destination": "acct_1Cros5EIyQmEDDec",
          "destination_payment": "py_1CrosDEIyQmEDDecSxTUqwqa",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CrosCI93ruT9p2P0Y9dOXRb/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1Cros9I93ruT9p2P1kLA7vuu",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1Cros9I93ruT9p2P1kLA7vuu",
          "type": "stripe_account"
        }
  recorded_at: Wed, 25 Jul 2018 15:25:57 GMT
recorded_with: VCR 4.0.0
