---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=emerson_langosh%40gaylord.name&legal_entity[business_name]=Gleason+Group&legal_entity[dob][day]=18&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Ernest&legal_entity[last_name]=Kuvalis&legal_entity[personal_id_number]=627-05-6202&legal_entity[type]=company&legal_entity[address][city]=Jesseniaville&legal_entity[address][country]=US&legal_entity[address][line1]=2519+Schuppe+Street&legal_entity[address][postal_code]=91110&legal_entity[address][state]=NV&tos_acceptance[date]=1531946861&tos_acceptance[ip]=236.104.48.25
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpMYkJZkWG7vLKs",
          "object": "account",
          "business_name": "Gleason Group",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1531946862,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "emerson_langosh@gaylord.name",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpMYkJZkWG7vLKs/external_accounts"
          },
          "keys": {
            "secret": "sk_test_LevD59SYom5JSB7CCGF4zBqR",
            "publishable": "pk_test_WpPaQa9hezhSxOEExJea67ci"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Jesseniaville",
              "country": "US",
              "line1": "2519 Schuppe Street",
              "line2": null,
              "postal_code": "91110",
              "state": "NV"
            },
            "business_name": "Gleason Group",
            "business_tax_id_provided": false,
            "dob": {
              "day": 18,
              "month": 7,
              "year": 1998
            },
            "first_name": "Ernest",
            "last_name": "Kuvalis",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1531946861,
            "ip": "236.104.48.25",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:47:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=palma.oberbrunner%40murazik.co.uk&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DFsJ6RGS8v7Zc9",
          "object": "customer",
          "account_balance": 0,
          "created": 1531946865,
          "currency": null,
          "default_source": "card_1CpMYnI93ruT9p2PCatw9Eu7",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "palma.oberbrunner@murazik.co.uk",
          "invoice_prefix": "0528E8A",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpMYnI93ruT9p2PCatw9Eu7",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DFsJ6RGS8v7Zc9",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DFsJ6RGS8v7Zc9/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DFsJ6RGS8v7Zc9/subscriptions"
          }
        }
  recorded_at: Wed, 18 Jul 2018 20:47:45 GMT
recorded_with: VCR 4.0.0
