/[if IE]
  = favicon_link_tag 'favicon.png'

= favicon_link_tag "apple-touch-icon.png", type: nil, rel: 'apple-touch-icon', sizes: '180x180'
= favicon_link_tag 'safari-pinned-tab.svg', type: 'image/png', rel: 'mask-icon', color: '#000000'

- [16, 32].each do |s|
  = favicon_link_tag "favicon-#{s}x#{s}.png", rel: 'icon', type: 'image/png', sizes: "#{s}x#{s}"

- [192, 384].each do |s|
  = favicon_link_tag "android-chrome-#{s}x#{s}.png", rel: 'icon', type: 'image/png', sizes: "#{s}x#{s}"

link rel='manifest' href=asset_path('manifest.json')

meta name='msapplication-TileColor' content='#000000'
meta name='msapplication-TileImage' content=asset_path('mstile-150x150.png')
meta name='msapplication-config' content=asset_path('browserconfig.xml')

meta name='theme-color' content='#000000'
