ul.nav.navbar-nav.navbar-left
  - %w[how-it-works become-a-seller].each do |link|
    li.pull-left data-toggle='tooltip' data-placement='bottom' data-html='true' data-title='<span class="text-success">COMING SOON</text-success>'
      a.btn.btn-link.disabled href="#" disabled=true = t("menus.primary-nav.#{link}")
