<div class="offer">
  <h4>Limited Time Offer - Up To 10% Off</h4>
</div>
<div class="content">
  <h3><%= t('home.staff_picks_header') %></h3>
  <%= link_to t('home.staff_picks_btn_text'), staff_picks_path, {class: "btn btn-primary"} %>
</div>
<ul class="staff-picks-items">
  <% staff_picks.each do |p| %>
    <% url = spree.product_path(p) %>
    <li>
      <%= link_to url, itemprop: "url" do %>
        <%= large_image(p, itemprop: "image") %><br/>
      <% end %>
    </li>
  <% end %>
</ul>
