<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<nav id="taxonomies" class="panel panel-default" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
      <% if taxonomy.root.children.any? %>
        <div class='panel-heading'>
          <%= Spree.t("shop_by_#{taxonomy.name.downcase}", default: Spree.t(:shop_by_taxonomy, taxonomy: taxonomy.name)) %>
        </div>
        <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
      <% end %>
    <% end %>
  <% end %>
</nav>