---
http_interactions:
- request:
    method: get
    uri: https://bms.bowker.com/rest/books/isbn/9780979728303?fields=all&format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWJ1bmRhbmNlOjE4YUJ1bmQwYW5jZTI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: '<result found="1" returned="1" page="1" pagesize="10"><item id="1THffZ3eZz73P"><details>http://bms.bowker.com/rest/books/id/1THffZ3eZz73P?fields=all</details><title>Dip
        into Something Different</title><subtitle>A Collection of Recipes from Our
        Fondue Pot to Yours</subtitle><author>Melting Pot Restaurants Inc Staff</author><isbn>978-0-9797283-0-3</isbn><market>USA</market><pubdate>2008-01-01</pubdate></item></result>

'
  recorded_at: Mon, 23 Apr 2018 12:33:38 GMT
- request:
    method: get
    uri: http://bms.bowker.com/rest/books/id/1THffZ3eZz73P?fields=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWJ1bmRhbmNlOjE4YUJ1bmQwYW5jZTI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: '<result found="1"><item id="1THffZ3eZz73P"><details>http://bms.bowker.com/rest/books/id/1THffZ3eZz73P?fields=all</details><retailcurrency>US
        Dollars (USD, $)</retailcurrency><title>Dip into Something Different</title><subtitle>A
        Collection of Recipes from Our Fondue Pot to Yours</subtitle><author>Melting
        Pot Restaurants Inc Staff</author><bicsubject>NATIONAL &amp; REGIONAL CUISINE_CHINA;
        COOKING WITH CHOCOLATE</bicsubject><isbn>978-0-9797283-0-3</isbn><isbn10>0-9797283-0-4</isbn10><subject>COOKING,
        CHINESE; COOKING / Regional &amp; Ethnic / Chinese; Chinese cooking; NATIONAL
        &amp; REGIONAL CUISINE_CHINA; COOKING (CHOCOLATE); COOKING / Specific Ingredients
        / Chocolate; Cooking_Chocolate; COOKING WITH CHOCOLATE</subject><market>USA</market><binding>Trade
        Cloth</binding><copyright>2008-01-01</copyright><pubdate>2008-01-01</pubdate><publisher>Southwestern
        Publishing Group, Inc.</publisher><status>Active Record</status><currency>US
        Dollars (USD, $)</currency><pricedate>2009-08-24</pricedate><retailpricedate>2009-08-24</retailpricedate><pagecount>158</pagecount><annotation>Create
        a perfect night out by gathering friends and family around a pot of warm melted
        cheese, chocolate or a cooking style eager to add flavor to your favorite
        dipper. The Melting Pot dares you to Dip Into Something Different with this
        collection of recipes from our fondue to yours.</annotation><pub_co_uid>9412</pub_co_uid><deweyedition>22</deweyedition><deweynum>641.8/1</deweynum></item></result>

'
  recorded_at: Mon, 23 Apr 2018 12:33:38 GMT
recorded_with: VCR 4.0.0
