---
http_interactions:
- request:
    method: post
    uri: http://contentcafe2.btol.com/contentcafe/contentcafe.asmx
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://ContentCafe2.btol.com">  <SOAP-ENV:Body>    <ns1:XmlString>      <ns1:xmlRequest>&lt;ContentCafe
        xmlns=&quot;http://ContentCafe2.btol.com&quot;&gt;&lt;RequestItems UserID=&quot;<BTOL_USER>&quot;
        Password=&quot;<BTOL_PASSWORD>&quot;&gt;&lt;RequestItem&gt;&lt;Key Type=&quot;ISBN&quot;&gt;9780439376105&lt;/Key&gt;&lt;Content&gt;AvailableContent&lt;/Content&gt;&lt;Content&gt;ProductDetail&lt;/Content&gt;&lt;Content&gt;AnnotationDetail&lt;/Content&gt;&lt;/RequestItem&gt;&lt;/RequestItems&gt;&lt;/ContentCafe&gt;</ns1:xmlRequest>    </ns1:XmlString>  </SOAP-ENV:Body></SOAP-ENV:Envelope>          '
    headers:
      Soapaction:
      - http://ContentCafe2.btol.com/XmlString
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><XmlStringResponse
        xmlns="http://ContentCafe2.btol.com"><ContentCafe DateTime="2018-03-02T04:57:38.5829531-05:00"><RequestItems
        UserID="<BTOL_USER>" Password="BWTCCPROD02"><RequestItem><Key Type="ISBN"
        Original="9780439376105">9780439376105</Key><Content>AvailableContent</Content><Content>ProductDetail</Content><Content>AnnotationDetail</Content><AvailableContent><Annotation>true</Annotation><Biography>false</Biography><Excerpt>false</Excerpt><Flap>false</Flap><Inventory>false</Inventory><Demand>false</Demand><DemandHistory>false</DemandHistory><Jacket>true</Jacket><Product>true</Product><Review>false</Review><TOC>false</TOC><MuzeVideoRelease>false</MuzeVideoRelease><MuzeSimilarCinema>false</MuzeSimilarCinema><MuzePopularMusic>false</MuzePopularMusic><MuzeClassicalMusic>false</MuzeClassicalMusic><MuzeEssentialArtists>false</MuzeEssentialArtists><MuzeGames>false</MuzeGames><MuzeJacket>false</MuzeJacket><CPSIA_Warning>false</CPSIA_Warning></AvailableContent><AnnotationItems><AnnotationItem
        ID="23851770"><Supplier Code="BNT">Baker &amp; Taylor</Supplier><Annotation>A
        snotty situation ensues when Melvin Sneedley, an academically-gifted student,
        turns into the Bionic Booger Boy and must be stopped by George, Harold, and
        Captain Underpants.</Annotation></AnnotationItem><AnnotationItem ID="23851771"><Supplier
        Code="BNT">Baker &amp; Taylor</Supplier><Annotation>A snotty situation ensues
        when Melvin Sneedley, an academically-gifted student, turns into the Bionic
        Booger Boy and must be stopped by George, Harold, and Captain Underpants.
        Simultaneous. 1 million first printing.</Annotation></AnnotationItem><AnnotationItem
        ID="23851772"><Supplier Code="SCHOLASTIC">Scholastic</Supplier><Annotation>&lt;DIV&gt;&lt;p&gt;Now
        with super-cool [...]
