---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=hailey_wyman%40harris.biz&legal_entity[business_name]=Johnston%2C+Jones+and+Grady&legal_entity[dob][day]=6&legal_entity[dob][month]=6&legal_entity[dob][year]=1998&legal_entity[first_name]=Eloise&legal_entity[last_name]=Keeling&legal_entity[personal_id_number]=299-39-7049&legal_entity[type]=company&legal_entity[address][city]=West+Christian&legal_entity[address][country]=US&legal_entity[address][line1]=7013+Hackett+Harbors&legal_entity[address][postal_code]=91110&legal_entity[address][state]=ID&tos_acceptance[date]=1528219330&tos_acceptance[ip]=23.208.72.61
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CZirHF3ZeCrvoWD",
          "object": "account",
          "business_name": "Johnston, Jones and Grady",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1528219331,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "hailey_wyman@harris.biz",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CZirHF3ZeCrvoWD/external_accounts"
          },
          "keys": {
            "secret": "sk_test_3edYHNWYV9jWpwQFi3iT1c3x",
            "publishable": "pk_test_rR8r52B99n3zFuPoo3JOOupt"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "West Christian",
              "country": "US",
              "line1": "7013 Hackett Harbors",
              "line2": null,
              "postal_code": "91110",
              "state": "ID"
            },
            "business_name": "Johnston, Jones and Grady",
            "business_tax_id_provided": false,
            "dob": {
              "day": 6,
              "month": 6,
              "year": 1998
            },
            "first_name": "Eloise",
            "last_name": "Keeling",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1528219330,
            "ip": "23.208.72.61",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Tue, 05 Jun 2018 17:22:12 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=elroy_purdy%40conn.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CziHQN4YARHI3P",
          "object": "customer",
          "account_balance": 0,
          "created": 1528219335,
          "currency": null,
          "default_source": "card_1CZirLI93ruT9p2PfEsLXOHw",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "elroy_purdy@conn.us",
          "invoice_prefix": "F0A2B68",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CZirLI93ruT9p2PfEsLXOHw",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CziHQN4YARHI3P",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CziHQN4YARHI3P/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CziHQN4YARHI3P/subscriptions"
          }
        }
  recorded_at: Tue, 05 Jun 2018 17:22:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CZirLI93ruT9p2PfEsLXOHw&amount=10000&currency=usd&description=Spree+Order+ID%3A+R521944126-PSPB2TRP&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.79.2&customer=cus_CziHQN4YARHI3P
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CZirNI93ruT9p2PyRVAbmqT",
          "object": "charge",
          "amount": 10000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CZirNI93ruT9p2P4JgaYcrT",
          "captured": true,
          "created": 1528219337,
          "currency": "usd",
          "customer": "cus_CziHQN4YARHI3P",
          "description": "Spree Order ID: R521944126-PSPB2TRP",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CZirNI93ruT9p2PyRVAbmqT/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CZirLI93ruT9p2PfEsLXOHw",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CziHQN4YARHI3P",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Tue, 05 Jun 2018 17:22:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CZirNI93ruT9p2PyRVAbmqT&destination=acct_1CZirHF3ZeCrvoWD&amount=2904&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CZirPI93ruT9p2PLtfSiv4t",
          "object": "transfer",
          "amount": 2904,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CZirPI93ruT9p2PRV3DMaoy",
          "created": 1528219339,
          "currency": "usd",
          "date": 1528219339,
          "description": null,
          "destination": "acct_1CZirHF3ZeCrvoWD",
          "destination_payment": "py_1CZirPF3ZeCrvoWD8LBaFScV",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CZirPI93ruT9p2PLtfSiv4t/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CZirNI93ruT9p2PyRVAbmqT",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CZirNI93ruT9p2PyRVAbmqT",
          "type": "stripe_account"
        }
  recorded_at: Tue, 05 Jun 2018 17:22:20 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers/tr_1CZirRI93ruT9p2PH1QbvZnc/reversals
    body:
      encoding: UTF-8
      string: amount=6676
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "trr_1CZirTI93ruT9p2PYhTDGGPk",
          "object": "transfer_reversal",
          "amount": 6676,
          "balance_transaction": "txn_1CZirTI93ruT9p2P1R9F0hXZ",
          "created": 1528219343,
          "currency": "usd",
          "metadata": {},
          "transfer": "tr_1CZirRI93ruT9p2PH1QbvZnc"
        }
  recorded_at: Tue, 05 Jun 2018 17:22:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CZirNI93ruT9p2PyRVAbmqT/refunds
    body:
      encoding: UTF-8
      string: amount=6676&expand[]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_1CZirVI93ruT9p2PI1DFVjz5",
          "object": "refund",
          "amount": 6676,
          "balance_transaction": "txn_1CZirVI93ruT9p2PO07dJShY",
          "charge": {
            "id": "ch_1CZirNI93ruT9p2PyRVAbmqT",
            "object": "charge",
            "amount": 10000,
            "amount_refunded": 6676,
            "application": null,
            "application_fee": null,
            "balance_transaction": "txn_1CZirNI93ruT9p2P4JgaYcrT",
            "captured": true,
            "created": 1528219337,
            "currency": "usd",
            "customer": "cus_CziHQN4YARHI3P",
            "description": "Spree Order ID: R521944126-PSPB2TRP",
     [...]
