---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=cassy.prohaska%40ornzemlak.com&legal_entity[business_name]=Feil%2C+Zboncak+and+Moore&legal_entity[dob][day]=20&legal_entity[dob][month]=7&legal_entity[dob][year]=1998&legal_entity[first_name]=Jeraldine&legal_entity[last_name]=Fay&legal_entity[personal_id_number]=561-25-7018&legal_entity[type]=company&legal_entity[address][city]=North+Venusfort&legal_entity[address][country]=US&legal_entity[address][line1]=94995+Demetrice+Fields&legal_entity[address][postal_code]=91110&legal_entity[address][state]=AR&tos_acceptance[date]=1532012097&tos_acceptance[ip]=40.14.81.217
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CpdWwHioU5hdVGm",
          "object": "account",
          "business_name": "Feil, Zboncak and Moore",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1532012098,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "cassy.prohaska@ornzemlak.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CpdWwHioU5hdVGm/external_accounts"
          },
          "keys": {
            "secret": "sk_test_O0F338FVj3MsMbjdO7akvJZo",
            "publishable": "pk_test_6EPHM6j1RnS1uAHj6L9e2dIR"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "North Venusfort",
              "country": "US",
              "line1": "94995 Demetrice Fields",
              "line2": null,
              "postal_code": "91110",
              "state": "AR"
            },
            "business_name": "Feil, Zboncak and Moore",
            "business_tax_id_provided": false,
            "dob": {
              "day": 20,
              "month": 7,
              "year": 1998
            },
            "first_name": "Jeraldine",
            "last_name": "Fay",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1532012097,
            "ip": "40.14.81.217",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Thu, 19 Jul 2018 14:54:59 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=kanisha.harris%40hirthelarson.co.uk&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DG9qDwkAleahnR",
          "object": "customer",
          "account_balance": 0,
          "created": 1532012102,
          "currency": null,
          "default_source": "card_1CpdX0I93ruT9p2PuPMkCJsf",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "kanisha.harris@hirthelarson.co.uk",
          "invoice_prefix": "B22B5F9",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CpdX0I93ruT9p2PuPMkCJsf",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_DG9qDwkAleahnR",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_DG9qDwkAleahnR/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DG9qDwkAleahnR/subscriptions"
          }
        }
  recorded_at: Thu, 19 Jul 2018 14:55:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CpdX0I93ruT9p2PuPMkCJsf&amount=2000&currency=usd&description=Spree+Order+ID%3A+R723021639-PWPSRGCQ&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.80.0&customer=cus_DG9qDwkAleahnR&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CpdX2I93ruT9p2PdJ8uLOpW",
          "object": "charge",
          "amount": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1532012104,
          "currency": "usd",
          "customer": "cus_DG9qDwkAleahnR",
          "description": "Spree Order ID: R723021639-PWPSRGCQ",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CpdX2I93ruT9p2PdJ8uLOpW/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CpdX0I93ruT9p2PuPMkCJsf",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_DG9qDwkAleahnR",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "nFWZcG1SSLrd81Cf",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 19 Jul 2018 14:55:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_1CpdX2I93ruT9p2PdJ8uLOpW/capture
    body:
      encoding: UTF-8
      string: amount=2000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: source_transaction=ch_1CpdX2I93ruT9p2PdJ8uLOpW&destination=acct_1CpdWwHioU5hdVGm&amount=956&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1CpdX6I93ruT9p2PPnUKgxdT",
          "object": "transfer",
          "amount": 956,
          "amount_reversed": 0,
          "application_fee": null,
          "balance_transaction": "txn_1CpdX6I93ruT9p2PAXOFvJfG",
          "created": 1532012108,
          "currency": "usd",
          "date": 1532012108,
          "description": null,
          "destination": "acct_1CpdWwHioU5hdVGm",
          "destination_payment": "py_1CpdX6HioU5hdVGmaqRiWViM",
          "failure_code": null,
          "failure_message": null,
          "livemode": false,
          "metadata": {},
          "method": "standard",
          "recipient": null,
          "reversals": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1CpdX6I93ruT9p2PPnUKgxdT/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1CpdX2I93ruT9p2PdJ8uLOpW",
          "source_type": "card",
          "statement_descriptor": null,
          "status": "paid",
          "transfer_group": "group_ch_1CpdX2I93ruT9p2PdJ8uLOpW",
          "type": "stripe_account"
        }
  recorded_at: Thu, 19 Jul 2018 14:55:09 GMT
[...]
