---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=von_romaguera%40weimann.info&card[number]=4111111111111111&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123&card[name]=Spree+Commerce&card[address_line1]=10+Lovely+Street&card[address_line2]=Northwest&card[address_country]=NAME_1&card[address_zip]=35005&card[address_state]=STATE_NAME_1&card[address_city]=Herndon
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CwkzkOlJVgusru",
          "object": "customer",
          "account_balance": 0,
          "created": 1527537493,
          "currency": null,
          "default_source": "card_1CWrTt22AWtpwVQmQlMlsBnR",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "von_romaguera@weimann.info",
          "invoice_prefix": "047A5EF",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CWrTt22AWtpwVQmQlMlsBnR",
                "object": "card",
                "address_city": "Herndon",
                "address_country": "NAME_1",
                "address_line1": "10 Lovely Street",
                "address_line1_check": "pass",
                "address_line2": "Northwest",
                "address_state": "STATE_NAME_1",
                "address_zip": "35005",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CwkzkOlJVgusru",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "nMGtzMc0CKPKDH0u",
                "funding": "unknown",
                "last4": "1111",
                "metadata": {},
                "name": "Spree Commerce",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CwkzkOlJVgusru/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CwkzkOlJVgusru/subscriptions"
          }
        }
  recorded_at: Mon, 28 May 2018 19:58:14 GMT
recorded_with: VCR 4.0.0
