---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=royce%40labadie.us&card=tok_visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF81RWRFSUJXVE8xYkxJcVZTUGRzSFpjVHI6
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CxPamzOdu3hrF2",
          "object": "customer",
          "account_balance": 0,
          "created": 1527688512,
          "currency": null,
          "default_source": "card_1CXUlgI93ruT9p2PjAi5W6q1",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "royce@labadie.us",
          "invoice_prefix": "436536D",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CXUlgI93ruT9p2PjAi5W6q1",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CxPamzOdu3hrF2",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "nFWZcG1SSLrd81Cf",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CxPamzOdu3hrF2/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CxPamzOdu3hrF2/subscriptions"
          }
        }
  recorded_at: Wed, 30 May 2018 13:55:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&email=rowena%40wiegand.us&legal_entity[business_name]=Stark%2C+Haley+and+Kilback&legal_entity[dob][day]=30&legal_entity[dob][month]=5&legal_entity[dob][year]=1998&legal_entity[first_name]=Armando&legal_entity[last_name]=Runolfsdottir&legal_entity[personal_id_number]=713-12-6176&legal_entity[type]=company&legal_entity[address][city]=Port+Sherieton&legal_entity[address][country]=US&legal_entity[address][line1]=86946+Reyes+Rapid&legal_entity[address][postal_code]=91110&legal_entity[address][state]=WI&tos_acceptance[date]=1527688513&tos_acceptance[ip]=6.181.104.253
    headers:
      Authorization:
      - Bearer sk_test_5EdEIBWTO1bLIqVSPdsHZcTr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CXUliAcQwi6Yk4b",
          "object": "account",
          "business_name": "Stark, Haley and Kilback",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1527688514,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "rowena@wiegand.us",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CXUliAcQwi6Yk4b/external_accounts"
          },
          "keys": {
            "secret": "sk_test_EL1wROmIMUc5y3STwjY1Uxy9",
            "publishable": "pk_test_oIYZGIxEm658w8MwOcTplEuZ"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "Port Sherieton",
              "country": "US",
              "line1": "86946 Reyes Rapid",
              "line2": null,
              "postal_code": "91110",
              "state": "WI"
            },
            "business_name": "Stark, Haley and Kilback",
            "business_tax_id_provided": false,
            "dob": {
              "day": 30,
              "month": 5,
              "year": 1998
            },
            "first_name": "Armando",
            "last_name": "Runolfsdottir",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "document_back": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1527688513,
            "ip": "6.181.104.253",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.business_tax_id"
            ]
          }
        }
  recorded_at: Wed, 30 May 2018 13:55:15 GMT
recorded_with: VCR 4.0.0
