---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=beau.mcdermott%40nader.ca&card=tok_1CDttH22AWtpwVQmblWtjDX7
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CdADaduEyIDo2I",
          "object": "customer",
          "account_balance": 0,
          "created": 1523018525,
          "currency": null,
          "default_source": "card_1CDttH22AWtpwVQmLy1TBvsA",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "beau.mcdermott@nader.ca",
          "invoice_prefix": "41376F7",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CDttH22AWtpwVQmLy1TBvsA",
                "object": "card",
                "address_city": "Wellington",
                "address_country": "US",
                "address_line1": "Street Address",
                "address_line1_check": "pass",
                "address_line2": "",
                "address_state": "",
                "address_zip": "94001",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CdADaduEyIDo2I",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2019,
                "fingerprint": "VJ3cyXmuSrVwCMLx",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "First name",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CdADaduEyIDo2I/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CdADaduEyIDo2I/subscriptions"
          }
        }
  recorded_at: Fri, 06 Apr 2018 12:42:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CdADaduEyIDo2I/cards/card_1CDttH22AWtpwVQmLy1TBvsA
    body:
      encoding: UTF-8
      string: exp_month=10&exp_year=2019&name=First+name+Last+name&address_city=Wellington&address_country=US&address_state=AL&address_line1=Street+Address&address_zip=94001
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Strip[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1CDttH22AWtpwVQmLy1TBvsA&amount=1999&currency=usd&description=Spree+Order+ID%3A+R552381346-PLUVX6HK&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.78.0&customer=cus_CdADaduEyIDo2I&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CDttN22AWtpwVQmp6SPf7Fg",
          "object": "charge",
          "amount": 1999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1523018529,
          "currency": "usd",
          "customer": "cus_CdADaduEyIDo2I",
          "description": "Spree Order ID: R552381346-PLUVX6HK",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CDttN22AWtpwVQmp6SPf7Fg/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CDttH22AWtpwVQmLy1TBvsA",
            "object": "card",
            "address_city": "Wellington",
            "address_country": "US",
            "address_line1": "Street Address",
            "address_line1_check": "pass",
            "address_line2": "",
            "address_state": "AL",
            "address_zip": "94001",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CdADaduEyIDo2I",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2019,
            "fingerprint": "VJ3cyXmuSrVwCMLx",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "First name Last name",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Fri, 06 Apr 2018 12:42:09 GMT
[...]
