---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gilma_wolff%40wunsch.name&card=tok_1C8tUd22AWtpwVQmGqivpnem
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CXzTP6LRzwHgbS",
          "object": "customer",
          "account_balance": 0,
          "created": 1521825357,
          "currency": null,
          "default_source": "card_1C8tUd22AWtpwVQm0wGf9PxG",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gilma_wolff@wunsch.name",
          "invoice_prefix": "0BBC3F2",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1C8tUd22AWtpwVQm0wGf9PxG",
                "object": "card",
                "address_city": "Wellington",
                "address_country": "US",
                "address_line1": "Alaska",
                "address_line1_check": "pass",
                "address_line2": "",
                "address_state": "",
                "address_zip": "94001",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CXzTP6LRzwHgbS",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2018,
                "fingerprint": "VJ3cyXmuSrVwCMLx",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "First name",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CXzTP6LRzwHgbS/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CXzTP6LRzwHgbS/subscriptions"
          }
        }
  recorded_at: Fri, 23 Mar 2018 17:15:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card=card_1C8tUd22AWtpwVQm0wGf9PxG&amount=1999&currency=usd&description=Spree+Order+ID%3A+R173134185-PY7WOK82&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.77.0&customer=cus_CXzTP6LRzwHgbS&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF9WQ1puRHYzR0xVMTVUUnZuOGkyRXNhQU46
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1C8tUi22AWtpwVQmB0aLsXv7",
          "object": "charge",
          "amount": 1999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": false,
          "created": 1521825360,
          "currency": "usd",
          "customer": "cus_CXzTP6LRzwHgbS",
          "description": "Spree Order ID: R173134185-PY7WOK82",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1C8tUi22AWtpwVQmB0aLsXv7/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1C8tUd22AWtpwVQm0wGf9PxG",
            "object": "card",
            "address_city": "Wellington",
            "address_country": "US",
            "address_line1": "Alaska",
            "address_line1_check": "pass",
            "address_line2": "",
            "address_state": "",
            "address_zip": "94001",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CXzTP6LRzwHgbS",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "VJ3cyXmuSrVwCMLx",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "First name",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Fri, 23 Mar 2018 17:16:01 GMT
recorded_with: VCR 4.0.0
